paths:
  /namespaces/{namespaceId}/databases:
    post:
      summary: Create
      tags: [Databases]
      description: Creates a new record.
      security:
        - AccessToken: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Database'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  record:
                    $ref: '#/components/schemas/Database'
