mat-toolbar {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 5px black;
  height: 56px;
  overflow: initial;

  &::ng-deep {
    img {
      filter: drop-shadow(2px 3px black);
      height: 32px;
      margin-right: 16px;
      margin-top: 3px;
    }

    span.space {
      flex: 1 1 auto;
    }

    ten-button {
      margin-right: 8px;

      &:last-of-type {
        margin-right: 0px;
      }
    }

    div.container {
      display: flex;
    }
  }
}
