<app-sidenav>
  <div *ngIf="($namespace | async) as namespace"
       appNav
       class="nav">
    <app-button color="accent"
                layout="vertical"
                [routerLink]="['./']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                text="left"
                width="full">
      <mat-icon>layers</mat-icon>
      <span>{{ namespace.name }}</span>
    </app-button>

    <hr *ngIf="$hasRelated | async">

    <app-button *ngIf="$hasPermission(IAuthorization.articleRoles) | async"
                color="accent"
                layout="vertical"
                [routerLink]="['articles']"
                routerLinkActive="active"
                text="left"
                width="full">
      <mat-icon>description</mat-icon>
      <span>Articles</span>
    </app-button>

    <app-button *ngIf="$hasPermission(IAuthorization.authorizationRoles) | async"
                color="accent"
                layout="vertical"
                [routerLink]="['api-keys']"
                routerLinkActive="active"
                text="left"
                width="full">
      <mat-icon>vpn_key</mat-icon>
      <span>Authorizations</span>
    </app-button>

    <app-button *ngIf="$hasPermission(IAuthorization.buildRoles) | async"
                color="accent"
                layout="vertical"
                [routerLink]="['builds']"
                routerLinkActive="active"
                text="left"
                width="full">
      <mat-icon>unarchive</mat-icon>
      <span>Builds</span>
    </app-button>

    <app-button *ngIf="$hasPermission(IAuthorization.collectionRoles) | async"
                color="accent"
                layout="vertical"
                [routerLink]="['collections']"
                routerLinkActive="active"
                text="left"
                width="full">
      <mat-icon>category</mat-icon>
      <span>Collections</span>
    </app-button>

    <app-button *ngIf="$hasPermission(IAuthorization.gameRoles) | async"
                color="accent"
                layout="vertical"
                [routerLink]="['games']"
                routerLinkActive="active"
                text="left"
                width="full">
      <mat-icon>sports_esports</mat-icon>
      <span>Games</span>
    </app-button>

    <app-button *ngIf="$hasPermission(IAuthorization.gameServerRoles) | async"
                color="accent"
                layout="vertical"
                [routerLink]="['game-servers']"
                routerLinkActive="active"
                text="left"
                width="full">
      <mat-icon>public</mat-icon>
      <span>Game Servers</span>
    </app-button>

    <app-button *ngIf="$hasPermission(IAuthorization.queueRoles) | async"
                color="accent"
                layout="vertical"
                [routerLink]="['queues']"
                routerLinkActive="active"
                text="left"
                width="full">
      <mat-icon>hourglass_bottom</mat-icon>
      <span>Queues</span>
    </app-button>

    <app-button *ngIf="$hasPermission(IAuthorization.workflowRoles) | async"
                color="accent"
                layout="vertical"
                [routerLink]="['workflows']"
                routerLinkActive="active"
                text="left"
                width="full">
      <mat-icon>rule</mat-icon>
      <span>Workflows</span>
    </app-button>
  </div>

  <router-outlet></router-outlet>
</app-sidenav>
