<app-sidenav>
  <div *ngIf="($namespace | async) as namespace"
       appNav
       class="nav">
    <app-button color="accent"
                layout="vertical"
                [routerLink]="namespace.status?.phase === 'Running' ? ['./'] : null"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                text="left"
                width="full">
      <mat-icon>layers</mat-icon>
      <span>{{ namespace.name }}</span>
    </app-button>

    <hr *ngIf="$hasRelated | async">

    <app-button *ngIf="$hasPermission(IAuthorization.authorizationRoles) | async"
                color="accent"
                [disabled]="namespace.status?.phase !== 'Running'"
                layout="vertical"
                [matTooltip]="namespace.status?.phase === 'Running' ? null : 'Namespace must be running.'"
                matTooltipPosition="right"
                [routerLink]="namespace.status?.phase === 'Running' ? ['api-keys'] : null"
                routerLinkActive="active"
                text="left"
                width="full">
      <mat-icon>vpn_key</mat-icon>
      <span>Authorizations</span>
    </app-button>

    <app-button *ngIf="$hasPermission(IAuthorization.buildRoles) | async"
                color="accent"
                [disabled]="namespace.status?.phase !== 'Running'"
                layout="vertical"
                [matTooltip]="namespace.status?.phase === 'Running' ? null : 'Namespace must be running.'"
                matTooltipPosition="right"
                [routerLink]="namespace.status?.phase === 'Running' ? ['builds'] : null"
                routerLinkActive="active"
                text="left"
                width="full">
      <mat-icon>unarchive</mat-icon>
      <span>Builds</span>
    </app-button>

    <app-button *ngIf="$hasPermission(IAuthorization.collectionRoles) | async"
                color="accent"
                [disabled]="namespace.status?.phase !== 'Running'"
                layout="vertical"
                [matTooltip]="namespace.status?.phase === 'Running' ? null : 'Namespace must be running.'"
                matTooltipPosition="right"
                [routerLink]="namespace.status?.phase === 'Running' ? ['collections'] : null"
                routerLinkActive="active"
                text="left"
                width="full">
      <mat-icon>category</mat-icon>
      <span>Collections</span>
    </app-button>

    <app-button *ngIf="$hasPermission(IAuthorization.gameServerRoles) | async"
                color="accent"
                [disabled]="namespace.status?.phase !== 'Running'"
                layout="vertical"
                [matTooltip]="namespace.status?.phase === 'Running' ? null : 'Namespace must be running.'"
                matTooltipPosition="right"
                [routerLink]="namespace.status?.phase === 'Running' ? ['game-servers'] : null"
                routerLinkActive="active"
                text="left"
                width="full">
      <mat-icon>public</mat-icon>
      <span>Game Servers</span>
    </app-button>

    <app-button *ngIf="$hasPermission(IAuthorization.queueRoles) | async"
                color="accent"
                [disabled]="namespace.status?.phase !== 'Running'"
                layout="vertical"
                [matTooltip]="namespace.status?.phase === 'Running' ? null : 'Namespace must be running.'"
                matTooltipPosition="right"
                [routerLink]="namespace.status?.phase === 'Running' ? ['queues'] : null"
                routerLinkActive="active"
                text="left"
                width="full">
      <mat-icon>hourglass_bottom</mat-icon>
      <span>Queues</span>
    </app-button>

    <app-button *ngIf="$hasPermission(IAuthorization.storefrontRoles) | async"
                color="accent"
                [disabled]="namespace.status?.phase !== 'Running'"
                layout="vertical"
                [matTooltip]="namespace.status?.phase === 'Running' ? null : 'Namespace must be running.'"
                matTooltipPosition="right"
                [routerLink]="namespace.status?.phase === 'Running' ? ['storefront'] : null"
                routerLinkActive="active"
                text="left"
                width="full">
      <mat-icon>storefront</mat-icon>
      <span>Storefront</span>
    </app-button>

    <app-button *ngIf="$hasPermission(IAuthorization.workflowRoles) | async"
                color="accent"
                [disabled]="namespace.status?.phase !== 'Running'"
                layout="vertical"
                [matTooltip]="namespace.status?.phase === 'Running' ? null : 'Namespace must be running.'"
                matTooltipPosition="right"
                [routerLink]="namespace.status?.phase === 'Running' ? ['workflows'] : null"
                routerLinkActive="active"
                text="left"
                width="full">
      <mat-icon>rule</mat-icon>
      <span>Workflows</span>
    </app-button>
  </div>

  <router-outlet></router-outlet>
</app-sidenav>
