<app-header-toolbar>
  <img src="/assets/images/logo.png" />

  <app-button color="accent"
              routerLink="namespaces">
    <mat-icon>layers</mat-icon>
    <span>
      {{
      selectedNamespaceService.namespace
      ? selectedNamespaceService.namespace.name
      : 'Select Namespace'
      }}
    </span>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </app-button>

  <span class="space"></span>

  <app-button *ngIf="!electronService.isElectron"
              color="primary"
              [href]="launcherUrl">
    <span>Download Launcher</span>
  </app-button>
</app-header-toolbar>

<div class="content">
  <app-social>
    <app-sidenav>
      <div class="nav">
        <app-button color="accent"
                    layout="vertical"
                    routerLink="namespaces"
                    routerLinkActive="active"
                    text="left"
                    width="full">
          <mat-icon>layers</mat-icon>
          <span>Namespaces</span>
        </app-button>

        <app-button color="accent"
                    [hidden]="!identityService?.user?.roles?.includes('users')"
                    layout="vertical"
                    routerLink="users"
                    routerLinkActive="active"
                    text="left"
                    width="full">
          <mat-icon>person</mat-icon>
          <span>Users</span>
        </app-button>

        <app-button *ngIf="selectedNamespaceService.namespaceId && hasInfrastructureButtons"
                    color="accent"
                    layout="vertical"
                    text="left"
                    width="full"
                    (OnClick)="showInfrastructureButtons = !showInfrastructureButtons">
          <span>Infrastructure</span>
          <mat-icon>
            {{ showInfrastructureButtons ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}
          </mat-icon>
        </app-button>

        <ng-container *ngIf="selectedNamespaceService.namespaceId && showInfrastructureButtons">
          <app-button *ngIf="hasPermission('builds')"
                      color="accent"
                      layout="vertical"
                      routerLink="builds"
                      routerLinkActive="active"
                      text="left"
                      width="full">
            <mat-icon>unarchive</mat-icon>
            <span>Builds</span>
          </app-button>

          <app-button *ngIf="hasPermission('databases')"
                      color="accent"
                      layout="vertical"
                      routerLink="databases"
                      routerLinkActive="active"
                      text="left"
                      width="full">
            <mat-icon>dns</mat-icon>
            <span>Databases</span>
          </app-button>

          <app-button *ngIf="hasPermission('game-servers')"
                      color="accent"
                      layout="vertical"
                      routerLink="game-servers"
                      routerLinkActive="active"
                      text="left"
                      width="full">
            <mat-icon>public</mat-icon>
            <span>Game Servers</span>
          </app-button>

          <app-button *ngIf="hasPermission('queues')"
                      color="accent"
                      layout="vertical"
                      routerLink="queues"
                      routerLinkActive="active"
                      text="left"
                      width="full">
            <mat-icon>hourglass_bottom</mat-icon>
            <span>Queues</span>
          </app-button>

          <app-button *ngIf="hasPermission('workflows')"
                      color="accent"
                      layout="vertical"
                      routerLink="workflows"
                      routerLinkActive="active"
                      text="left"
                      width="full">
            <mat-icon>rule</mat-icon>
            <span>Workflows</span>
          </app-button>
        </ng-container>

        <app-button *ngIf="selectedNamespaceService.namespaceId && hasLauncherButtons"
                    color="accent"
                    layout="vertical"
                    text="left"
                    width="full"
                    (OnClick)="showLauncherButtons = !showLauncherButtons">
          <span>Launcher</span>
          <mat-icon>
            {{ showLauncherButtons ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}
          </mat-icon>
        </app-button>

        <ng-container *ngIf="selectedNamespaceService.namespaceId && showLauncherButtons">
          <app-button *ngIf="hasPermission('articles')"
                      color="accent"
                      layout="vertical"
                      routerLink="articles"
                      routerLinkActive="active"
                      text="left"
                      width="full">
            <mat-icon>description</mat-icon>
            <span>Articles</span>
          </app-button>

          <app-button *ngIf="hasPermission('games')"
                      color="accent"
                      layout="vertical"
                      routerLink="games"
                      routerLinkActive="active"
                      text="left"
                      width="full">
            <mat-icon>sports_esports</mat-icon>
            <span>Games</span>
          </app-button>

          <app-button *ngIf="hasPermission('games')"
                      color="accent"
                      layout="vertical"
                      routerLink="game-authorizations"
                      routerLinkActive="active"
                      text="left"
                      width="full">
            <mat-icon>vpn_key</mat-icon>
            <span>Game Authorizations</span>
          </app-button>
        </ng-container>
      </div>

      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </app-sidenav>
  </app-social>
</div>
