<div class="page">
  <h2>{{ data && data._id ? 'Edit' : 'Create' }} Collection</h2>

  <form *ngIf="form" [formGroup]="form" autocomplete="off">
    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error>Enter a valid name.</mat-error>
      </mat-form-field>
    </div>

    <app-toggle-section title="Properties">
      <div
        class="row"
        formArrayName="properties"
        *ngFor="let property of form['controls'].properties['controls']; let i = index"
      >
        <app-property-field [form]="property" (remove)="removeProperty(i)"></app-property-field>
      </div>

      <div class="row">
        <button mat-button color="white" type="button" (click)="addProperty()">
          <mat-icon>add</mat-icon>
          Add Property
        </button>
      </div>
    </app-toggle-section>

    <app-toggle-section title="Roles">
      <div
        class="row"
        formArrayName="roles"
        *ngFor="let role of form['controls'].roles['controls']; let i = index"
      >
        <app-role-field
          [form]="role"
          [isDefault]="i === form['controls'].roles['controls'].length - 1"
          [properties]="form['controls'].properties | asAny"
          (moveDown)="moveRoleDown(i)"
          (moveUp)="moveRoleUp(i)"
          (remove)="removeRole(i)"
        ></app-role-field>
      </div>

      <div class="row">
        <button mat-button color="white" type="button" (click)="addRole()">
          <mat-icon>add</mat-icon>
          Add Role
        </button>
      </div>
    </app-toggle-section>

    <div *ngIf="error" class="form-error">
      {{ error }}
    </div>

    <button mat-button background="accent" (click)="save()">Save</button>
  </form>
</div>
