:host {
  display: flex;
  height: 100%;

  &::ng-deep {
    div.content {
      flex: 1 1 auto;
      overflow: auto;
      padding: 16px;
    }

    div.nav {
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 3px black;
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      overflow: auto;
      padding: 8px;
      z-index: 2;

      &[appNav]:not(.last):not(:hover) {
        min-width: 0px;

        app-button span.mat-button-wrapper {
          mat-icon {
            margin-right: 0px;
          }

          span {
            display: none;
          }
        }
      }

      > * {
        margin-bottom: 4px;
      }

      app-button {
        height: 36.8px;
      }

      hr {
        background: rgba(255, 255, 255, 0.25);
        border-color: rgba(255, 255, 255, 0.25);
        border-width: 0.5px;
        margin-top: 0px;
      }
    }
  }
}
