paths:
  /builds/{buildId}/platforms/{platform}/files/count:
    get:
      summary: Count
      tags: [Files]
      description: Returns the number of matching records for the query.
      security:
        - AccessToken: []
      parameters:
        - in: path
          name: buildId
          schema:
            type: string
          required: true
        - in: path
          name: platform
          schema:
            type: string
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/File'
