<div *ngIf="form"
     class="page">
  <div class="row">
    <div class="col-sm-6">
      <app-title *ngIf="hasWriteAuthorization || hasWriteAuthorizationForNamespace">
        {{ data?._id ? 'Edit' : 'Create' }} Namespace
      </app-title>
      <app-title *ngIf="!hasWriteAuthorization && !hasWriteAuthorizationForNamespace">View Namespace</app-title>
    </div>

    <div *ngIf="hasWriteAuthorization || hasWriteAuthorizationForNamespace"
         class="col-sm-6 align-right">
      <app-button color="accent"
                  (OnClick)="navigateToJson()">
        <mat-icon>code</mat-icon>
        <div>{{ data?._id ? 'Edit' : 'Create' }} as JSON</div>
      </app-button>
    </div>
  </div>

  <form autocomplete="off"
        [formGroup]="form"
        id="form"
        (ngSubmit)="save()">
    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Name</mat-label>
        <input appAutofocus
               formControlName="name"
               matInput
               maxlength="64"
               required />
        <mat-error>Enter a valid name.</mat-error>
      </mat-form-field>
    </div>

    <app-toggle-section title="Limits"
                        formArrayName="limits">
      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>Total Bandwidth (GB) / Month</mat-label>
          <input matInput
                 required
                 formControlName="bandwidth"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Total CPUs</mat-label>
          <input matInput
                 required
                 formControlName="cpu"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Default Authorization</mat-label>
          <input *ngIf="form.get('limits').get('defaultAuthorization').disabled"
                 disabled
                 matInput
                 [value]="form.get('limits').get('defaultAuthorization').value ? 'Yes' : 'No'" />
          <mat-select *ngIf="!form.get('limits').get('defaultAuthorization').disabled"
                      formControlName="defaultAuthorization">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Total Memory (GB)</mat-label>
          <input matInput
                 required
                 formControlName="memory"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Non-Preemptible Nodes</mat-label>
          <input *ngIf="form.get('limits').get('nonPreemptible').disabled"
                 disabled
                 matInput
                 [value]="form.get('limits').get('nonPreemptible').value ? 'Yes' : 'No'" />
          <mat-select *ngIf="!form.get('limits').get('nonPreemptible').disabled"
                      formControlName="nonPreemptible">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Total Storage (GB)</mat-label>
          <input matInput
                 required
                 formControlName="storage"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>
      </div>
    </app-toggle-section>

    <app-toggle-section *ngIf="data.status"
                        title="Status">
      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>Phase</mat-label>
          <input matInput
                 disabled
                 [value]="data.status.phase" />
        </mat-form-field>
      </div>

      <h4>Components</h4>

      <div class="row">
        <mat-form-field *ngFor="let component of data.status.components"
                        floatLabel="always">
          <mat-label>{{ component.name }}</mat-label>
          <input matInput
                 disabled
                 [value]="component.phase + ' (' + component.current + ' / ' + component.total + ')'" />
        </mat-form-field>
      </div>

      <h4>Limits</h4>

      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>Total CPUs</mat-label>
          <input matInput
                 disabled
                 [value]="data.status.limits.cpu | number:'1.0':'en-US'" />
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Total Memory</mat-label>
          <input matInput
                 disabled
                 [value]="data.status.limits.memory | filesize" />
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Total Storage</mat-label>
          <input matInput
                 disabled
                 [value]="data.status.limits.storage | filesize" />
        </mat-form-field>
      </div>
    </app-toggle-section>
  </form>
</div>

<div *ngIf="form && !form.disabled"
     class="page-actions">
  <div *ngFor="let error of errors"
       class="form-error">
    {{ error }}
  </div>

  <app-button color="primary"
              form="form"
              size="large"
              width="full">
    <mat-icon>save</mat-icon>
    <div>Save</div>
  </app-button>
</div>
