<div class="page">
  <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

  <div class="row">
    <div class="col-sm-6">
      <app-title>{{ data?._id ? 'Edit' : 'Create' }} Namespace</app-title>
    </div>
    <div class="col-sm-6 align-right">
      <app-button color="accent"
                  (OnClick)="navigateToJson()">
        <mat-icon>code</mat-icon>
        <span>{{ data?._id ? 'Edit' : 'Create' }} as JSON</span>
      </app-button>
    </div>
  </div>

  <form *ngIf="form"
        [formGroup]="form"
        autocomplete="off">
    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Name</mat-label>
        <input matInput
               required
               formControlName="name" />
        <mat-error>Enter a valid name.</mat-error>
      </mat-form-field>
    </div>

    <app-toggle-section title="Users"
                        formArrayName="users">
      <div class="row"
           *ngFor="
          let user of users.controls;
          let i = index
        ">
        <app-namespace-user-field [form]="user"
                                  [roles]="roles"
                                  (remove)="removeUser(i)"></app-namespace-user-field>
      </div>

      <div class="row">
        <app-button color="accent"
                    layout="left"
                    (OnClick)="addUser()">
          <mat-icon>add</mat-icon>
          <span>Add User</span>
        </app-button>
      </div>
    </app-toggle-section>

    <app-toggle-section title="API Keys"
                        formArrayName="keys"
                        [isVisible]="false">
      <div class="row"
           *ngFor="
          let key of keys.controls;
          let i = index
        "
           [formGroupName]="i">
        <mat-form-field floatLabel="always">
          <mat-label>Value</mat-label>
          <input matInput
                 formControlName="value" />
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Description</mat-label>
          <input matInput
                 formControlName="description" />
          <mat-error>Enter a valid name.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Roles</mat-label>
          <mat-select placeholder="None"
                      multiple
                      formControlName="roles">
            <mat-option *ngFor="let role of roles"
                        [value]="role.value">{{ role.label }}</mat-option>
          </mat-select>
        </mat-form-field>

        <app-button color="accent"
                    layout="left"
                    (OnClick)="copyToClipboard(i)">
          <mat-icon>content_paste</mat-icon>
          <span>Copy to Clipboard</span>
        </app-button>

        <app-button color="accent"
                    layout="left"
                    (OnClick)="removeKey(i)">
          <mat-icon>close</mat-icon>
          <span>Remove</span>
        </app-button>
      </div>

      <div class="row">
        <app-button color="accent"
                    layout="left"
                    (OnClick)="addKey()">
          <mat-icon>add</mat-icon>
          <span>Add API Key</span>
        </app-button>
      </div>
    </app-toggle-section>

    <app-toggle-section title="Limits"
                        formGroupName="limits"
                        [isVisible]="false">
      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>CPU</mat-label>
          <input matInput
                 required
                 formControlName="cpu"
                 step="0.05"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Memory</mat-label>
          <input matInput
                 required
                 formControlName="memory"
                 step="100000000"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Only Preemptible</mat-label>
          <input *ngIf="form.get('limits').get('preemptible').disabled"
                 disabled
                 matInput
                 [value]="form.get('limits').get('preemptible').value ? 'Yes' : 'No'" />
          <mat-select *ngIf="!form.get('limits').get('preemptible').disabled"
                      formControlName="preemptible">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Storage</mat-label>
          <input matInput
                 required
                 formControlName="storage"
                 step="1000000000"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>
      </div>
    </app-toggle-section>

    <app-toggle-section title="Resources"
                        formGroupName="resources"
                        [isVisible]="false">
      <h4>Minio</h4>

      <div class="row"
           formGroupName="minio">
        <mat-form-field floatLabel="always">
          <mat-label>CPU</mat-label>
          <mat-select formControlName="cpu">
            <mat-option [value]="0.1">0.1</mat-option>
            <mat-option [value]="0.25">0.25</mat-option>
            <mat-option [value]="0.5">0.5</mat-option>
            <mat-option [value]="0.75">0.75</mat-option>
            <mat-option [value]="1">1</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Memory</mat-label>
          <mat-select formControlName="memory">
            <mat-option [value]="250 * 1000 * 1000">250MB</mat-option>
            <mat-option [value]="500 * 1000 * 1000">500MB</mat-option>
            <mat-option [value]="750 * 1000 * 1000">750MB</mat-option>
            <mat-option [value]="1 * 1000 * 1000 * 1000">1GB</mat-option>
            <mat-option [value]="2 * 1000 * 1000 * 1000">2GB</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Preemptible</mat-label>
          <input *ngIf="form.get('limits').get('preemptible').disabled"
                 disabled
                 matInput
                 [value]="form.get('limits').get('preemptible').value ? 'Yes' : 'No'" />
          <mat-select *ngIf="!form.get('limits').get('preemptible').disabled"
                      formControlName="preemptible">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Replicas</mat-label>
          <mat-select formControlName="replicas">
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="4">4</mat-option>
            <mat-option [value]="8">8</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Storage</mat-label>
          <mat-select formControlName="storage">
            <mat-option [value]="5 * 1000 * 1000 * 1000">5GB</mat-option>
            <mat-option [value]="10 * 1000 * 1000 * 1000">10GB</mat-option>
            <mat-option [value]="25 * 1000 * 1000 * 1000">25GB</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <h4>MongoDB</h4>

      <div class="row"
           formGroupName="mongodb">
        <mat-form-field floatLabel="always">
          <mat-label>CPU</mat-label>
          <mat-select formControlName="cpu">
            <mat-option [value]="0.1">0.1</mat-option>
            <mat-option [value]="0.25">0.25</mat-option>
            <mat-option [value]="0.5">0.5</mat-option>
            <mat-option [value]="0.75">0.75</mat-option>
            <mat-option [value]="1">1</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Memory</mat-label>
          <mat-select formControlName="memory">
            <mat-option [value]="250 * 1000 * 1000">250MB</mat-option>
            <mat-option [value]="500 * 1000 * 1000">500MB</mat-option>
            <mat-option [value]="750 * 1000 * 1000">750MB</mat-option>
            <mat-option [value]="1 * 1000 * 1000 * 1000">1GB</mat-option>
            <mat-option [value]="2 * 1000 * 1000 * 1000">2GB</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Preemptible</mat-label>
          <input *ngIf="form.get('limits').get('preemptible').disabled"
                 disabled
                 matInput
                 [value]="form.get('limits').get('preemptible').value ? 'Yes' : 'No'" />
          <mat-select *ngIf="!form.get('limits').get('preemptible').disabled"
                      formControlName="preemptible">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Replicas</mat-label>
          <mat-select formControlName="replicas">
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="3">3</mat-option>
            <mat-option [value]="5">5</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Storage</mat-label>
          <mat-select formControlName="storage">
            <mat-option [value]="5 * 1000 * 1000 * 1000">5GB</mat-option>
            <mat-option [value]="10 * 1000 * 1000 * 1000">10GB</mat-option>
            <mat-option [value]="25 * 1000 * 1000 * 1000">25GB</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <h4>NATS</h4>

      <div class="row"
           formGroupName="nats">
        <mat-form-field floatLabel="always">
          <mat-label>CPU</mat-label>
          <mat-select formControlName="cpu">
            <mat-option [value]="0.1">0.1</mat-option>
            <mat-option [value]="0.25">0.25</mat-option>
            <mat-option [value]="0.5">0.5</mat-option>
            <mat-option [value]="0.75">0.75</mat-option>
            <mat-option [value]="1">1</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Memory</mat-label>
          <mat-select formControlName="memory">
            <mat-option [value]="250 * 1000 * 1000">250MB</mat-option>
            <mat-option [value]="500 * 1000 * 1000">500MB</mat-option>
            <mat-option [value]="750 * 1000 * 1000">750MB</mat-option>
            <mat-option [value]="1 * 1000 * 1000 * 1000">1GB</mat-option>
            <mat-option [value]="2 * 1000 * 1000 * 1000">2GB</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Preemptible</mat-label>
          <input *ngIf="form.get('limits').get('preemptible').disabled"
                 disabled
                 matInput
                 [value]="form.get('limits').get('preemptible').value ? 'Yes' : 'No'" />
          <mat-select *ngIf="!form.get('limits').get('preemptible').disabled"
                      formControlName="preemptible">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Replicas</mat-label>
          <mat-select formControlName="replicas">
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="3">3</mat-option>
            <mat-option [value]="5">5</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Storage</mat-label>
          <mat-select formControlName="storage">
            <mat-option [value]="5 * 1000 * 1000 * 1000">5GB</mat-option>
            <mat-option [value]="10 * 1000 * 1000 * 1000">10GB</mat-option>
            <mat-option [value]="25 * 1000 * 1000 * 1000">25GB</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </app-toggle-section>

    <app-toggle-section *ngIf="($namespace | async) as namespace"
                        title="Status">
      <div class="row">
        <mat-form-field *ngFor="let component of namespace.status?.components"
                        floatLabel="always">
          <mat-label>{{ components[component.name] }}</mat-label>
          <input matInput
                 disabled
                 [value]="getStatus(component)" />
        </mat-form-field>
      </div>
    </app-toggle-section>

    <div *ngFor="let error of errors"
         class="form-error">
      {{ error }}
    </div>

    <app-button color="primary"
                (click)="save()">Save</app-button>
    <app-button color="accent"
                routerLink="../">Cancel</app-button>
  </form>
</div>
