<div *ngIf="form"
     class="page">
  <div class="row">
    <div class="col-sm-6">
      <app-title *ngIf="hasWriteAuthorization || hasWriteAuthorizationForNamespace">
        {{ data?._id ? 'Edit' : 'Create' }} Namespace
      </app-title>
      <app-title *ngIf="!hasWriteAuthorization && !hasWriteAuthorizationForNamespace">View Namespace</app-title>
    </div>

    <div *ngIf="hasWriteAuthorization || hasWriteAuthorizationForNamespace"
         class="col-sm-6 align-right">
      <app-button color="accent"
                  (OnClick)="navigateToJson()">
        <mat-icon>code</mat-icon>
        <span>{{ data?._id ? 'Edit' : 'Create' }} as JSON</span>
      </app-button>
    </div>
  </div>

  <form [formGroup]="form"
        autocomplete="off">
    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Name</mat-label>
        <input matInput
               appAutofocus
               required
               formControlName="name" />
        <mat-error>Enter a valid name.</mat-error>
      </mat-form-field>
    </div>

    <app-toggle-section title="Limits"
                        formArrayName="limits">
      <div class="row"
           formGroupName="builds">
        <mat-form-field floatLabel="always">
          <mat-label>Total Builds</mat-label>
          <input matInput
                 required
                 formControlName="count"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Maximum Build Size (B)</mat-label>
          <input matInput
                 required
                 formControlName="size"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>
      </div>

      <div class="row"
           formGroupName="storefronts">
        <mat-form-field floatLabel="always">
          <mat-label>Total Storefronts</mat-label>
          <input matInput
                 required
                 formControlName="count"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Total Public Storefronts</mat-label>
          <input matInput
                 required
                 formControlName="public"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Maximum Images Per Storefront</mat-label>
          <input matInput
                 required
                 formControlName="images"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Maximum Videos Per Storefront</mat-label>
          <input matInput
                 required
                 formControlName="videos"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Maximum Storefront Image / Video Size (B)</mat-label>
          <input matInput
                 required
                 formControlName="size"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>
      </div>

      <div class="row"
           formGroupName="gameServers">
        <mat-form-field floatLabel="always">
          <mat-label>Total Game Server CPU</mat-label>
          <input matInput
                 required
                 formControlName="cpu"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Total Game Server Memory (B)</mat-label>
          <input matInput
                 required
                 formControlName="memory"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Only Preemptible Game Servers</mat-label>
          <input *ngIf="form.get('limits').get('gameServers').get('preemptible').disabled"
                 disabled
                 matInput
                 [value]="form.get('limits').get('gameServers').get('preemptible').value ? 'Yes' : 'No'" />
          <mat-select *ngIf="!form.get('limits').get('gameServers').get('preemptible').disabled"
                      formControlName="preemptible">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row"
           formGroupName="queues">
        <mat-form-field floatLabel="always">
          <mat-label>Total Queue CPU</mat-label>
          <input matInput
                 required
                 formControlName="cpu"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Total Queue Memory (B)</mat-label>
          <input matInput
                 required
                 formControlName="memory"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Only Preemptible Queues</mat-label>
          <input *ngIf="form.get('limits').get('queues').get('preemptible').disabled"
                 disabled
                 matInput
                 [value]="form.get('limits').get('queues').get('preemptible').value ? 'Yes' : 'No'" />
          <mat-select *ngIf="!form.get('limits').get('queues').get('preemptible').disabled"
                      formControlName="preemptible">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Total Queue Replicas</mat-label>
          <input matInput
                 required
                 formControlName="replicas"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>
      </div>

      <div class="row"
           formGroupName="workflows">
        <mat-form-field floatLabel="always">
          <mat-label>Parallel Workflows</mat-label>
          <input matInput
                 required
                 formControlName="count"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Maximum CPU Per Workflow</mat-label>
          <input matInput
                 required
                 formControlName="cpu"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Maximum Memory Per Workflow (B)</mat-label>
          <input matInput
                 required
                 formControlName="memory"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Parallel Workflow Tasks</mat-label>
          <input matInput
                 required
                 formControlName="parallelism"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Only Preemptible Workflows</mat-label>
          <input *ngIf="form.get('limits').get('workflows').get('preemptible').disabled"
                 disabled
                 matInput
                 [value]="form.get('limits').get('workflows').get('preemptible').value ? 'Yes' : 'No'" />
          <mat-select *ngIf="!form.get('limits').get('workflows').get('preemptible').disabled"
                      formControlName="preemptible">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Maximum Storage Per Workflow</mat-label>
          <input matInput
                 required
                 formControlName="storage"
                 step="1"
                 type="number" />
          <mat-error>Enter a valid value.</mat-error>
        </mat-form-field>
      </div>
    </app-toggle-section>

    <app-toggle-section *ngIf="data._id"
                        title="Status">
      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>Phase</mat-label>
          <input matInput
                 disabled
                 [value]="data.status?.phase || 'Pending'" />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field *ngFor="let component of data.status?.components"
                        floatLabel="always">
          <mat-label>{{ components[component.name] }}</mat-label>
          <input matInput
                 disabled
                 [value]="component.phase + ' (' + component.current + ' / ' + component.total + ')'" />
        </mat-form-field>
      </div>
    </app-toggle-section>
  </form>
</div>

<div *ngIf="form && !form.disabled"
     class="page-actions">
  <div *ngFor="let error of errors"
       class="form-error">
    {{ error }}
  </div>

  <app-button color="primary"
              (OnClick)="save()">Save</app-button>
</div>
