<div *ngIf="data.$nodes | async as nodes"
     class="row">
  <div class="col-sm-3">
    <app-title>Logs</app-title>
  </div>

  <div class="col-sm-9">
    <mat-form-field floatLabel="always">
      <mat-select placeholder="No Nodes Available"
                  [disabled]="nodes.length === 0"
                  (selectionChange)="setNode($event.value)"
                  [(value)]="value">
        <mat-option *ngFor="let node of nodes"
                    [value]="getValueFromNode(node)">{{ node.label }}</mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="node">
      <app-button *ngIf="data.$logs | async as logs"
                  color="accent"
                  (click)="toggleVisibility(false, logs)">
        <div>Collapse All</div>
      </app-button>

      <app-button *ngIf="data.$logs | async as logs"
                  color="accent"
                  (click)="toggleVisibility(true, logs)">
        <div>Expand All</div>
      </app-button>

      <app-button color="primary"
                  (click)="toggleIsLive()">
        <div>{{ isLive ? 'Stop' : 'Start' }} Live Tail</div>
      </app-button>
    </ng-container>
  </div>
</div>

<div #container
     class="logs-container">
  <ng-container *ngIf="(data.$logs | async).length > 0">
    <div *ngFor="let log of $logs | async"
         class="log"
         [ngClass]="visibility[log.unix] ? 'expanded' : 'collapsed'"
         (click)="visibility[log.unix] = !visibility[log.unix]">
      <div class="timestamp">[{{ log.unix | date: 'M/d/yy, H:mm:ss' }}]</div>
      <div *ngIf="log.level"
           class="level">[{{ log.level | uppercase }}]</div>
      <div>{{ getBody(log, visibility[log.unix] ? 4 : 0) }}</div>
    </div>
  </ng-container>

  <ng-container *ngIf="(data.$logs | async).length === 0">
    <div class="log">No logs found.</div>
  </ng-container>
</div>
