::ng-deep {
  app-logs-dialog {
    display: flex;
    flex-direction: column;
    max-height: inherit;
    width: 100%;
  }

  div.app-logs-dialog {
    mat-form-field.mat-form-field div.mat-form-field-wrapper {
      margin-bottom: -1.25em;
      margin-top: -14px;

      span.mat-form-field-label-wrapper {
        display: none;
      }

      span.mat-select-placeholder {
        color: white;
        -webkit-text-fill-color: initial;
      }
    }

    mat-dialog-container.mat-dialog-container {
      display: flex;
      max-height: 80vh;
      max-width: 80vw;
      min-width: 50vw;
    }
  }
}

app-button {
  margin-left: 0px;
  margin-right: 8px;
}

div.col-sm-3,
div.col-sm-9 {
  padding: 0px;
}

div.col-sm-3 {
  app-title {
    margin-bottom: 14px;
    margin-top: 2px;
  }
}

div.col-sm-9 {
  display: flex;
  justify-content: flex-end;
  text-align: right;

  app-button {
    margin-left: 8px;
    margin-right: 0px;
  }

  mat-form-field.mat-form-field {
    display: inline-block;
  }
}

div.log {
  display: flex;
  padding: 2px 4px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }

  &.collapsed div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.expanded div {
    white-space: pre-wrap;
    word-break: break-word;
  }

  div.timestamp {
    margin-right: 8px;
    overflow: initial;
    text-overflow: initial;
    white-space: nowrap;
  }
}

div.logs-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column-reverse;
  overflow: hidden auto;
}

div.page {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

div.row {
  margin: 0px;
}
