import { ContextMock } from '@tenlastic/api-module';
import { expect } from 'chai';

import { {{namePascalSingular}}Mock, {{namePascalSingular}}Document } from '../../models';
import { handler } from '.';

describe('handlers/find-one', function() {
  let record: {{namePascalSingular}}Document;
  let user: any;

  beforeEach(async function() {
    record = await {{namePascalSingular}}Mock.create();
    user = { level: 1 };
  });

  it('returns the matching record', async function() {
    const ctx = new ContextMock({
      params: {
        id: record._id,
      },
      state: { user },
    });

    await handler(ctx as any);

    expect(ctx.response.body.record).to.exist;
    expect(ctx.response.body.record.id).to.eql(record.id);
  });
});
