<app-loading-message [hidden]="!message">{{ message }}</app-loading-message>

<div [hidden]="message"
     class="page">
  <app-title>Users</app-title>

  <div class="row">
    <div class="col-sm-12">
      <mat-form-field floatLabel="always">
        <mat-label>
          Email Address / Steam Persona Name / Username
        </mat-label>

        <input matInput
               autocomplete="off"
               type="text"
               (keyup)="setFilter($event.target.value)"
               [(ngModel)]="filter" />

        <app-button *ngIf="filter"
                    color="accent"
                    matSuffix
                    mat-icon-button
                    (click)="setFilter('')">
          <mat-icon>close</mat-icon>
        </app-button>
      </mat-form-field>
    </div>
  </div>

  <table mat-table
         [dataSource]="dataSource">
    <ng-container matColumnDef="webSocket">
      <th mat-header-cell
          *matHeaderCellDef>Status</th>
      <td mat-cell
          *matCellDef="let element">
        <mat-icon class="web-socket-status">
          {{ webSockets[element._id] ? 'brightness_1' : 'radio_button_unchecked' }}
        </mat-icon>
        {{ webSockets[element._id] ? 'Online' : 'Offline' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell
          *matHeaderCellDef>Email Address</th>
      <td mat-cell
          *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="steam">
      <th mat-header-cell
          *matHeaderCellDef>Steam ID / Persona Name</th>
      <td mat-cell
          *matCellDef="let element">{{ element.steamPersonaName || element.steamId }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell
          *matHeaderCellDef>Username</th>
      <td mat-cell
          *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell
          *matHeaderCellDef>Created At</th>
      <td mat-cell
          *matCellDef="let element">{{ element.createdAt | date:"MMM d, y 'at' h:mm a" }}</td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell
          *matHeaderCellDef>Updated At</th>
      <td mat-cell
          *matCellDef="let element">{{ element.updatedAt | date:"MMM d, y 'at' h:mm a" }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell
          *matHeaderCellDef></th>
      <td mat-cell
          *matCellDef="let element">
        <ng-container *ngIf="hasWriteAuthorization">
          <app-button appHighlight
                      color="accent"
                      [disabled]="element._id === user._id"
                      matTooltip="Delete"
                      (OnClick)="showDeletePrompt($event, element)">
            <mat-icon>delete</mat-icon>
          </app-button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns"
        appHighlight
        [routerLink]="[row._id]"></tr>
  </table>

  <mat-paginator (page)="fetchUsers()"
                 pageSize="10"
                 [pageSizeOptions]="[10, 25, 100]"
                 showFirstLastButtons></mat-paginator>
</div>