<div class="page">
  <app-title>Users</app-title>

  <div class="row">
    <div class="col-sm-3">
      <app-data-source-filter [dataSource]="dataSource">
        Filter Users
      </app-data-source-filter>
    </div>
  </div>

  <table mat-table
         [dataSource]="dataSource"
         matSort
         matSortActive="username"
         matSortDirection="asc">
    <ng-container matColumnDef="webSocket">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Status</th>
      <td mat-cell
          *matCellDef="let element">
        <mat-icon class="web-socket-status">
          {{ webSockets[element._id] ? 'brightness_1' : 'radio_button_unchecked' }}
        </mat-icon>
        {{ webSockets[element._id] ? 'Online' : 'Offline' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Username</th>
      <td mat-cell
          *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Email Address</th>
      <td mat-cell
          *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Created At</th>
      <td mat-cell
          *matCellDef="let element">{{ element.createdAt | date }}</td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Last Updated At</th>
      <td mat-cell
          *matCellDef="let element">{{ element.updatedAt | date }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell
          *matHeaderCellDef></th>
      <td mat-cell
          *matCellDef="let element">
        <ng-container *ngIf="hasWriteAuthorization">
          <app-button *ngIf="element._id !== user._id"
                      color="accent"
                      appHighlight
                      matTooltip="Delete"
                      (OnClick)="showDeletePrompt($event, element)">
            <mat-icon>delete</mat-icon>
          </app-button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns"
        appHighlight
        [routerLink]="[row._id]"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"
                 showFirstLastButtons></mat-paginator>
</div>
