import * as mongoose from 'mongoose';
import { InstanceType, ModelType, Typegoose } from 'typegoose';

export class {{namePascalSingular}}Schema extends Typegoose {
  public _id: mongoose.Types.ObjectId;
  public createdAt: Date;
  public updatedAt: Date;
}

export type {{namePascalSingular}}Document = InstanceType<{{namePascalSingular}}Schema>;
export type {{namePascalSingular}}Model = ModelType<{{namePascalSingular}}Schema>;

export const {{namePascalSingular}} = new {{namePascalSingular}}Schema().getModelForClass({{namePascalSingular}}Schema, {
  schemaOptions: {
    autoIndex: false,
    collation: {
      locale: 'en_US',
      strength: 1,
    },
    collection: '{{nameCamelPlural}}',
    timestamps: true,
  },
});
