import * as Chance from 'chance';

import { {{namePascalSingular}}, {{namePascalSingular}}Schema } from './{{nameCamelSingular}}.model';

export class {{namePascalSingular}}Mock {
  /**
   * Creates a record with randomized required parameters if not specified.
   * @param {Object} params The parameters to initialize the record with.
   */
  public static async create(params: Partial<{{namePascalSingular}}Schema> = {}) {
    const chance = new Chance();

    const defaults = {};

    return {{namePascalSingular}}.create({ ...defaults, ...params });
  }
}
