<ten-header-toolbar>
  <div class="container">
    <img src="/assets/images/logo.png" />

    <ten-button
      color="accent"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span>Home</span>
    </ten-button>

    <ten-button color="accent" [matMenuTriggerFor]="for_developers">
      <span>For Developers</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </ten-button>
    <mat-menu #for_developers="matMenu" xPosition="before">
      <ten-button
        color="accent"
        href="https://api.tenlastic.com/index.html"
        layout="vertical"
        target="_blank"
        width="full"
      >
        <span>API Documentation</span>
      </ten-button>
      <ten-button
        color="accent"
        href="https://github.com/tenlastic/open-platform"
        layout="vertical"
        target="_blank"
        width="full"
      >
        <span>Github Repository</span>
      </ten-button>
    </mat-menu>

    <ten-button color="accent" routerLink="/contact-us" routerLinkActive="active">
      <span>Contact Us</span>
    </ten-button>

    <span class="space"></span>

    <ten-button *ngIf="identityService.user" color="accent" [matMenuTriggerFor]="account">
      <mat-icon>person</mat-icon>
      <span>{{ identityService.user.username }}</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </ten-button>
    <mat-menu #account="matMenu" xPosition="before">
      <ten-button color="accent" layout="vertical" width="full" [href]="logoutUrl">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </ten-button>
    </mat-menu>

    <ten-button *ngIf="!identityService.user" color="accent" [href]="loginUrl">
      <mat-icon>lock</mat-icon>
      <span>Log In</span>
    </ten-button>

    <ten-button color="primary" [href]="launcherUrl">
      <span>Play Now</span>
    </ten-button>
  </div>
</ten-header-toolbar>

<div class="container container-small content">
  <router-outlet></router-outlet>
</div>
