@import '../../../../../../../assets/scss/page.scss';

:host ::ng-deep {
  div.template {
    app-toggle-section {
      & > div.row:nth-of-type(2) {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }

      &:last-of-type > .row:last-of-type {
        margin-bottom: 0px;
      }
    }
  }
}

app-toggle-section .row {
  margin-left: 0px;
  margin-top: 0px;
}

div.row {
  align-items: baseline;
}

mat-form-field.mat-form-field {
  margin-right: 16px;

  &.start {
    flex: 1 1 auto;
  }
}

div.template {
  align-items: flex-start;
  flex-wrap: nowrap;

  div.name {
    display: flex;
    flex-direction: column;

    div.row {
      margin-bottom: 16px;
    }

    mat-form-field.mat-form-field {
      margin-top: 16px;
    }
  }

  div.script-sidecars {
    flex: 1 1 auto;
  }
}
