<div class="page">
  <app-title>{{ data && data._id ? 'Edit' : 'Create' }} Record</app-title>

  <form *ngIf="form"
        [formGroup]="form"
        autocomplete="off">
    <div *ngFor="let key of form.controls | keys; let i = index">
      <app-toggle-section *ngIf="collection.jsonSchema.properties[key].type === 'array'"
                          [title]="key | camelCaseToTitleCase">
        <div class="row"
             [formArrayName]="key"
             *ngFor="let item of form['controls'][key]['controls']; let i = index">
          <mat-form-field floatLabel="always">
            <mat-label>Element #{{ i + 1 }}</mat-label>

            <ng-container [ngSwitch]="collection.jsonSchema.properties[key].items.type">
              <mat-select *ngSwitchCase="'boolean'"
                          [formControlName]="i | asAny">
                <mat-option [value]="true">True</mat-option>
                <mat-option [value]="false">False</mat-option>
              </mat-select>

              <input *ngSwitchCase="'number'"
                     matInput
                     type="number"
                     [formControlName]="i | asAny" />

              <input *ngSwitchCase="'string'"
                     matInput
                     [formControlName]="i | asAny" />
            </ng-container>

            <mat-error>Enter a valid {{ key }}.</mat-error>
          </mat-form-field>

          <app-button color="accent"
                      layout="left"
                      (OnClick)="removeArrayItem(key, i)">
            <mat-icon>remove</mat-icon>
            <span>Remove Item</span>
          </app-button>
        </div>

        <div class="row">
          <app-button color="accent"
                      layout="left"
                      (OnClick)="addArrayItem(key)">
            <mat-icon>add</mat-icon>
            <span>Add Item</span>
          </app-button>
        </div>
      </app-toggle-section>

      <div *ngIf="collection.jsonSchema.properties[key].type !== 'array'"
           class="row">
        <mat-form-field floatLabel="always">
          <mat-label>{{ key | camelCaseToTitleCase }}</mat-label>

          <ng-container [ngSwitch]="collection.jsonSchema.properties[key].type">
            <mat-select *ngSwitchCase="'boolean'"
                        [formControlName]="key">
              <mat-option [value]="true">True</mat-option>
              <mat-option [value]="false">False</mat-option>
            </mat-select>

            <input *ngSwitchCase="'number'"
                   matInput
                   type="number"
                   [formControlName]="key" />

            <input *ngSwitchCase="'string'"
                   matInput
                   [formControlName]="key" />
          </ng-container>

          <mat-error>Enter a valid {{ key }}.</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div *ngFor="let error of errors"
         class="form-error">
      {{ error }}
    </div>

    <app-button color="primary"
                (click)="save()">Save</app-button>
    <app-button color="accent"
                routerLink="../">Cancel</app-button>
  </form>
</div>
