@import '../../../../../../../assets/scss/page.scss';

div.col-sm-6 {
  margin: 0px;
  padding: 0px;
}

mat-form-field.mat-form-field {
  display: inline-block;
  margin-right: 16px;
}

.row app-button {
  align-self: center;
}
