:host {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 3px black;
  display: flex;
  flex: 0 0 auto;
  padding: 12px 16px;

  div.action {
    display: flex;
    width: 100%;

    app-button {
      width: 100%;

      &:not(:first-of-type) {
        margin-left: 16px;
      }

      &:nth-of-type(4),
      &:nth-of-type(5) {
        width: auto;
      }

      &[color='primary'] {
        mat-icon.mat-icon {
          color: white;
          font-size: 32px;
          width: 28px;
        }

        span {
          text-transform: uppercase;
        }
      }

      &[matTooltip] {
        mat-icon.mat-icon {
          margin: 0px;
        }
      }

      mat-icon.mat-icon {
        font-size: 24px;
        height: 24px;
        line-height: 22px;
        width: 24px;
      }

      span {
        font-size: 20px;
      }
    }
  }

  div.status {
    flex: 1 1 auto;

    div {
      display: flex;

      span {
        flex: 1 1 auto;

        &:nth-of-type(2) {
          text-align: right;
        }
      }
    }

    ::ng-deep {
      mat-progress-bar.mat-progress-bar {
        height: 20px;
        margin-bottom: 0px;
        margin-top: 2px;
      }
    }
  }

  app-button[color='primary'] {
    ::ng-deep {
      a.mat-button mat-icon.mat-icon {
        color: white;
        font-size: 32px;
        height: 32px;
        width: 32px;
      }

      span.text {
        text-transform: uppercase;
      }
    }
  }
}
