:host {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 5px black;
  display: flex;
  flex: 0 0 auto;
  height: 75px;

  div.action {
    display: flex;
    padding: 0px 16px;
    width: 100%;

    ::ng-deep {
      span.mat-button-wrapper span {
        font-size: 18px;
      }
    }

    app-button {
      width: 100%;

      &:not(:first-of-type) {
        margin-left: 16px;
      }
    }
  }

  div.status {
    flex: 1 1 auto;
    padding: 0px 16px;

    div {
      display: flex;

      span {
        flex: 1 1 auto;

        &:nth-of-type(2) {
          text-align: right;
        }
      }
    }

    ::ng-deep {
      mat-progress-bar.mat-progress-bar {
        margin-bottom: 2px;
        margin-top: 8px;
      }
    }
  }

  app-button {
    ::ng-deep {
      a.mat-button mat-icon.mat-icon {
        font-size: 24px;
        height: 0px;
        line-height: 0px;
        margin-left: -4px;
        vertical-align: middle;
        width: 36px;
      }

      mat-icon[icon='get_app'] {
        margin-bottom: -2px;
        margin-top: 2px;
      }

      span.text {
        font-size: 20px !important;
        margin-top: -1px !important;
        vertical-align: middle !important;
      }
    }
  }

  app-button[color='primary'] {
    ::ng-deep {
      a.mat-button mat-icon.mat-icon {
        color: white;
        font-size: 32px;

        span.text {
          text-transform: uppercase;
        }
      }
    }
  }
}
