<app-header-toolbar>
  <img src="/assets/images/logo.png" />

  <span class="space"></span>

  <app-button *ngIf="!isElectron"
              color="primary"
              [href]="launcherUrl">
    <span>Download Launcher</span>
  </app-button>
</app-header-toolbar>

<div class="content">
  <app-social>
    <app-sidenav>
      <div class="nav">
        <app-button *ngIf="$hasPermission(IAuthorization.namespaceRoles) | async"
                    color="accent"
                    layout="vertical"
                    routerLink="namespaces"
                    routerLinkActive="active"
                    text="left"
                    width="full">
          <mat-icon>layers</mat-icon>
          <span>Namespaces</span>
        </app-button>

        <app-button color="accent"
                    [hidden]="!($hasPermission(IAuthorization.userRoles) | async)"
                    layout="vertical"
                    routerLink="users"
                    routerLinkActive="active"
                    text="left"
                    width="full">
          <mat-icon>person</mat-icon>
          <span>Users</span>
        </app-button>

        <app-button color="accent"
                    layout="vertical"
                    routerLink="web-sockets"
                    routerLinkActive="active"
                    text="left"
                    width="full">
          <mat-icon>hub</mat-icon>
          <span>Web Sockets</span>
        </app-button>
      </div>

      <app-loading-message *ngIf="isLoading">Loading...</app-loading-message>
      <router-outlet *ngIf="!isLoading"></router-outlet>
    </app-sidenav>
  </app-social>
</div>
