<div class="information-container">
  <mat-icon>people</mat-icon>

  <div class="label">
    <div class="name">{{ group.name ?? 'Group' }}</div>
    <div class="status"
         [matTooltip]="usernames">
      {{ group.userIds.length }} Member{{ group.userIds.length > 1 ? 's' : '' }}
    </div>
  </div>

  <div>
    <app-button *ngIf="isLeader"
                color="accent"
                matTooltip="Edit Group Name"
                matTooltipPosition="below"
                (OnClick)="editGroupName()">
      <mat-icon>create</mat-icon>
    </app-button>

    <app-button *ngIf="canInvite"
                color="accent"
                matTooltip="Invite to Group"
                matTooltipPosition="below"
                (OnClick)="invite()">
      <mat-icon>person_add_alt_1</mat-icon>
    </app-button>

    <app-button *ngIf="group.userIds.length > 1"
                color="accent"
                matTooltip="Leave Group"
                matTooltipPosition="below"
                (OnClick)="leave()">
      <mat-icon>person_remove</mat-icon>
    </app-button>

    <app-button *ngIf="isLeader"
                color="accent"
                [matTooltip]="group.isOpen ? 'Invitations: Open' : 'Invitations: Only Leader'"
                matTooltipPosition="below"
                (OnClick)="toggleIsOpen()">
      <mat-icon [ngClass]="{ grey: group.isOpen }">
        {{ group.isOpen ? 'lock_open' : 'lock' }}
      </mat-icon>
    </app-button>

    <app-button *ngIf="isLeader"
                color="accent"
                matTooltip="Disband Group"
                matTooltipPosition="below"
                (OnClick)="showDisbandPrompt()">
      <mat-icon>delete</mat-icon>
    </app-button>

    <app-button color="accent"
                matTooltip="Close"
                matTooltipPosition="below"
                (OnClick)="close()">
      <mat-icon>close</mat-icon>
    </app-button>
  </div>
</div>

<ng-container *ngIf="!loadingMessage">
  <div #messagesScrollContainer
       class="messages-container">
    <ng-container *ngFor="let message of ($messages | async).slice().reverse(); let i = index">
      <div class="message"
           matTooltip="{{ message.createdAt | date: 'M/d/y' }} at {{
          message.createdAt | date: 'h:mm a'
        }}"
           matTooltipPosition="before">
        <div class="sender">[{{ getUser(message.fromUserId).username }}]:</div>
        <div>{{ message.body }}</div>
      </div>
    </ng-container>

    <div *ngIf="($messages | async).length === 0"
         class="no-messages">No Messages Found</div>
  </div>
  <div class="input-container">
    <mat-form-field floatLabel="never">
      <textarea cdkTextareaAutosize
                matInput
                maxlength="512"
                placeholder="Type your message here..."
                (keydown.enter)="sendMessage($event)"></textarea>
    </mat-form-field>
  </div>
</ng-container>

<app-loading-message *ngIf="loadingMessage">{{ loadingMessage }}</app-loading-message>
