paths:
  /builds/{_id}:
    delete:
      summary: Delete
      tags: [Builds]
      description: Deletes an existing record.
      security:
        - AccessToken: []
      parameters:
        - in: path
          name: _id
          schema:
            type: string
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  record:
                    $ref: '#/components/schemas/Build'
