div.container {
  flex: 1 1 auto;
  margin: 0px;
  max-width: none;
  padding: 16px;
}

div.row {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 4px;
  padding: 8px 16px;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
}

h2 {
  margin: 8px 0px;
}

h3 {
  margin: 0px;
}

hr {
  background: #ffff55;
  border-color: #ffff55;
}

span.type-date {
  color: rgba(255, 255, 255, 0.75);
  font-size: 12px;
}

ten-title {
  font-size: 36px;
}
