@import '../../../../../../../assets/scss/page.scss';

div.col-sm-6 {
  margin: 0px;
  padding: 0px;

  &:first-of-type {
    padding-right: 8px;
  }

  &:nth-of-type(2) {
    padding-left: 8px;
  }

  mat-form-field.mat-form-field {
    display: block;
  }

  & > mat-label {
    font-size: 12px;
  }
}

div.row {
  align-items: baseline;
}

div.row:last-of-type {
  mat-radio-group {
    margin-bottom: 0.75em;
  }
}

form {
  app-button {
    margin-right: 8px;
  }
}

h4 {
  margin: 0px 0px 4px;
}

mat-form-field {
  margin-right: 16px;
}

mat-radio-button {
  margin-right: 32px;
}

mat-radio-group {
  margin-bottom: 1.25em;
}
