<div *ngIf="form"
     class="page">
  <div class="row">
    <div class="col-sm-6">
      <app-title *ngIf="hasWriteAuthorization">{{ data?._id ? 'Edit' : 'Create' }} Authorization</app-title>
      <app-title *ngIf="!hasWriteAuthorization">View Authorization</app-title>
    </div>
    <div *ngIf="hasWriteAuthorization"
         class="col-sm-6 align-right">
      <app-button color="accent"
                  (OnClick)="navigateToJson()">
        <mat-icon>code</mat-icon>
        <div>{{ data?._id ? 'Edit' : 'Create' }} as JSON</div>
      </app-button>
    </div>
  </div>

  <form [formGroup]="form"
        autocomplete="off">
    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of AuthorizationType | keyvalue"
                      [value]="type.value">
            {{ type.value }}
          </mat-option>
        </mat-select>
        <mat-error>Choose a type.</mat-error>
      </mat-form-field>

      <ng-container *ngIf="type === AuthorizationType.ApiKey">
        <mat-form-field floatLabel="always">
          <mat-label>Name</mat-label>
          <input formControlName="name"
                 matInput
                 maxlength="64"
                 required />
          <mat-error>Enter a name.</mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="type === AuthorizationType.User">
        <app-autocomplete-user-field [control]="form.get('user')"></app-autocomplete-user-field>

        <mat-form-field floatLabel="always">
          <mat-label>Ban</mat-label>
          <mat-select formControlName="bannedAt">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
          <mat-error>Choose a type.</mat-error>
        </mat-form-field>
      </ng-container>
    </div>

    <app-toggle-section *ngIf="!form.get('bannedAt').value"
                        formGroupName="roles"
                        title="Roles">
      <h4>Articles</h4>
      <div class="row">
        <mat-radio-group formControlName="articles">
          <mat-radio-button>None</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.ArticlesReadPublished">Read (Published)</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.ArticlesRead">Read</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.ArticlesReadWrite">Read / Write</mat-radio-button>
        </mat-radio-group>
      </div>

      <h4>Authorizations</h4>
      <div class="row">
        <mat-radio-group formControlName="authorizations">
          <mat-radio-button>None</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.AuthorizationsRead">Read</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.AuthorizationsReadWrite">Read / Write</mat-radio-button>
        </mat-radio-group>
      </div>

      <h4>Builds</h4>
      <div class="row">
        <mat-radio-group formControlName="builds">
          <mat-radio-button>None</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.BuildsReadPublished">Read (Published)</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.BuildsRead">Read</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.BuildsReadWrite">Read / Write</mat-radio-button>
        </mat-radio-group>
      </div>

      <h4>Collections</h4>
      <div class="row">
        <mat-radio-group formControlName="collections">
          <mat-radio-button>None</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.CollectionsRead">Read</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.CollectionsReadWrite">Read / Write</mat-radio-button>
        </mat-radio-group>
      </div>

      <h4>Game Servers</h4>
      <div class="row">
        <mat-radio-group formControlName="gameServers">
          <mat-radio-button>None</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.GameServersReadAuthorized">Read (Authorized)</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.GameServersRead">Read</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.GameServersReadWrite">Read / Write</mat-radio-button>
        </mat-radio-group>
      </div>

      <h4>Matches</h4>
      <div class="row">
        <mat-radio-group formControlName="matches">
          <mat-radio-button>None</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.MatchesRead">Read</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.MatchesReadWrite">Read / Write</mat-radio-button>
        </mat-radio-group>
      </div>

      <h4>Namespaces</h4>
      <div class="row">
        <mat-radio-group formControlName="namespaces">
          <mat-radio-button>None</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.NamespacesRead">Read</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.NamespacesReadWrite">Read / Write</mat-radio-button>
        </mat-radio-group>
      </div>

      <h4>Queues</h4>
      <div class="row">
        <mat-radio-group formControlName="queues">
          <mat-radio-button>None</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.QueuesRead">Read</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.QueuesReadWrite">Read / Write</mat-radio-button>
        </mat-radio-group>
      </div>

      <h4>Records</h4>
      <div class="row">
        <mat-radio-group formControlName="records">
          <mat-radio-button>None</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.RecordsRead">Read</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.RecordsReadWrite">Read / Write</mat-radio-button>
        </mat-radio-group>
      </div>

      <h4>Storefronts</h4>
      <div class="row">
        <mat-radio-group formControlName="storefronts">
          <mat-radio-button>None</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.StorefrontsRead">Read</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.StorefrontsReadWrite">Read / Write</mat-radio-button>
        </mat-radio-group>
      </div>

      <h4>Users</h4>
      <div class="row">
        <mat-radio-group formControlName="users">
          <mat-radio-button>None</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.UsersRead">Read</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.UsersReadWrite">Read / Write</mat-radio-button>
        </mat-radio-group>
      </div>

      <h4>Web Sockets</h4>
      <div class="row">
        <mat-radio-group formControlName="webSockets">
          <mat-radio-button>None</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.WebSocketsRead">Read</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.WebSocketsReadWrite">Read / Write</mat-radio-button>
        </mat-radio-group>
      </div>

      <h4>Workflows</h4>
      <div class="row">
        <mat-radio-group formControlName="workflows">
          <mat-radio-button>None</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.WorkflowsRead">Read</mat-radio-button>
          <mat-radio-button [value]="AuthorizationRole.WorkflowsReadWrite">Read / Write</mat-radio-button>
        </mat-radio-group>
      </div>
    </app-toggle-section>
  </form>
</div>

<div *ngIf="form && !form.disabled"
     class="page-actions">
  <div *ngFor="let error of errors"
       class="form-error">
    {{ error }}
  </div>

  <app-button color="primary"
              size="large"
              (OnClick)="save()">
    <mat-icon>save</mat-icon>
    <div>Save</div>
  </app-button>
</div>
