<app-button *ngIf="($users | async)?.length"
            color="accent"
            layout="vertical"
            text="left"
            width="full"
            (OnClick)="isVisible = !isVisible">
  <div>{{ header }}</div>

  <mat-icon>
    {{ isVisible ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}
  </mat-icon>

  <ng-container *ngIf="showGroup">
    <app-badge *ngIf="$getUnreadMessages() | async as messages"
               layout="right">
      {{ messages }}
    </app-badge>
  </ng-container>
</app-button>

<ng-container *ngIf="isVisible">
  <app-button *ngFor="let user of $users | async"
              color="accent"
              layout="vertical"
              text="left"
              width="full"
              [ngClass]="{
      active: ($activeUser | async)?._id === user._id,
      online: $getWebSocket(user._id) | async,
      offline: ($getWebSocket(user._id) | async) === undefined
    }"
              (OnClick)="setUser(user)">
    <mat-icon>
      {{ ($getWebSocket(user._id) | async) ? 'brightness_1' : 'radio_button_unchecked' }}
    </mat-icon>

    <div class="label">
      <div>{{ user.username }}</div>

      <div class="status">
        <ng-container *ngIf="$getWebSocket(user._id) | async; else offline">
          <ng-container *ngIf="$getGroup(user._id) | async as group; else online">
            {{ group.open ? 'Open' : 'Closed' }} Group ({{ group.userIds.length }} Members)
          </ng-container>
          <ng-template #online>Online</ng-template>
        </ng-container>
        <ng-template #offline>Offline</ng-template>
      </div>
    </div>

    <ng-container *ngIf="showGroup">
      <app-badge *ngIf="$getUnreadMessagesFromUser(user._id) | async as messages"
                 layout="right">
        {{ messages }}
      </app-badge>
    </ng-container>
  </app-button>
</ng-container>
