:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 32px);
  overflow: hidden;
  width: 100vw;
}

app-social {
  div.content {
    padding: 16px;
  }
}

div.content {
  flex: 1 1 auto;
  overflow: hidden;
  padding: 0px;
  position: relative;

  app-sidenav div.content {
    overflow: auto;
  }
}

app-header-toolbar::ng-deep {
  mat-toolbar {
    padding: 0px 16px;
  }
}
