mat-toolbar.mat-toolbar {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.6);
  height: 24px;
  overflow: initial;
  padding: 0px;

  span {
    flex: 1 1 auto;
    height: 20px;
    margin: 4px 0px 0px 4px;

    -webkit-app-region: drag;
  }

  &::ng-deep {
    a.mat-button[color='accent'] {
      height: 24px;
      line-height: 24px;
      min-width: 0px;
      padding-bottom: 0px;
      padding-top: 0px;

      &:hover {
        box-shadow: none;
      }
    }

    div.container {
      display: flex;
    }
  }
}
