<div *ngFor="let threshold of formArray.controls; let i = index"
     class="row"
     [formGroup]="formArray.at(i)">
  <mat-form-field floatLabel="always">
    <mat-label>Seconds</mat-label>
    <input formControlName="seconds"
           matInput
           min="1"
           type="number" />
    <mat-error>Enter a valid number of seconds.</mat-error>
  </mat-form-field>

  <ng-container formArrayName="usersPerTeam">
    <mat-form-field *ngFor="let control of getUsersPerTeam(i).controls; let j = index"
                    floatLabel="always">
      <mat-label>Team {{ j + 1 }}</mat-label>

      <input autocomplete="off"
             [formControlName]="j"
             matInput
             min="1"
             step="1"
             type="number" />
      <app-button *ngIf="getUsersPerTeam(i).length > 1"
                  color="accent"
                  mat-icon-button
                  matSuffix
                  matTooltip="Remove Team"
                  (OnClick)="getUsersPerTeam(i).removeAt(j)">
        <mat-icon>remove</mat-icon>
      </app-button>

      <mat-error>Enter a valid number of players.</mat-error>
    </mat-form-field>
  </ng-container>

  <app-button *ngIf="!formArray?.disabled"
              color="accent"
              layout="left"
              (OnClick)="pushUsersPerTeam(getUsersPerTeam(i))">
    <mat-icon>add</mat-icon>
    <div>Add Team</div>
  </app-button>

  <app-button *ngIf="!formArray?.disabled"
              color="accent"
              layout="left"
              (OnClick)="formArray.removeAt(i)">
    <mat-icon>remove</mat-icon>
    <div>Remove Threshold</div>
  </app-button>
</div>

<div *ngIf="!formArray?.disabled"
     class="row">
  <app-button color="accent"
              layout="left"
              (OnClick)="push()">
    <mat-icon>add</mat-icon>
    <div>Add Threshold</div>
  </app-button>
</div>
