<ng-container [formGroup]="form">
  <mat-form-field floatLabel="always">
    <mat-label>Key</mat-label>
    <input formControlName="key"
           matInput
           maxlength="32"
           required />
    <mat-error>Enter a valid key.</mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Type</mat-label>
    <mat-select formControlName="type">
      <mat-option value="array">Array</mat-option>
      <mat-option value="boolean">Boolean</mat-option>
      <mat-option value="number">Number</mat-option>
      <mat-option value="string">String</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="type === 'array'"
                  floatLabel="always">
    <mat-label>Array Type</mat-label>
    <mat-select formControlName="array">
      <mat-option value="boolean">Boolean</mat-option>
      <mat-option value="number">Number</mat-option>
      <mat-option value="string">String</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="type === 'boolean'"
                  floatLabel="always">
    <mat-label>Default Value</mat-label>
    <mat-select formControlName="default">
      <mat-option [value]="true">True</mat-option>
      <mat-option [value]="false">False</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="type === 'number'"
                  floatLabel="always">
    <mat-label>Default Value</mat-label>
    <input formControlName="default"
           matInput
           type="number" />
  </mat-form-field>

  <mat-form-field *ngIf="type === 'string'"
                  floatLabel="always">
    <mat-label>Default Value</mat-label>
    <input formControlName="default"
           matInput />
  </mat-form-field>

  <mat-form-field *ngIf="type !== 'array'"
                  floatLabel="always">
    <mat-label>Required</mat-label>
    <mat-select formControlName="required">
      <mat-option [value]="true">True</mat-option>
      <mat-option [value]="false">False</mat-option>
    </mat-select>
  </mat-form-field>

  <app-button *ngIf="!form.disabled"
              color="accent"
              (OnClick)="remove.emit()">
    <mat-icon>remove</mat-icon>
    <div>Remove</div>
  </app-button>
</ng-container>
