@import 'src/assets/scss/form.scss';

::ng-deep {
  app-toggle-section[title='Status'] {
    div.row:last-child div.row:last-child {
      mat-form-field.mat-form-field div.mat-form-field-wrapper {
        margin-bottom: -12px;
      }
    }
  }
}

div.col-sm-6 {
  margin: 0px;
  padding: 0px;
}

div.loading {
  display: flex;
  margin-bottom: 8px;
}

mat-form-field.mat-form-field {
  margin-right: 16px;
}
