@font-face {
  font-family: 'Fellowmaiden';
  src: url('/assets/fonts/fellowmaiden.woff2') format('woff2'),
    url('/assets/fonts/fellowmaiden.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
