@import '@tenlastic/ng-component-library/src/assets/scss/index.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';

h1 {
  overflow: hidden;
  text-align: center;
}

h1:before,
h1:after {
  background-color: white;
  box-shadow: 3px 4px 5px black;
  content: '';
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h1:before {
  right: 0.5em;
  margin-left: -50%;
}

h1:after {
  left: 0.5em;
  margin-right: -50%;
}
