@import '~bootstrap/scss/bootstrap-grid.scss';
@import '../../assets/scss/theme.scss';

button.mat-button,
button.mat-menu-item {
  border-radius: 0px;
  text-shadow: 3px 3px 1px #000000;
  text-transform: uppercase;

  &:hover,
  &.active {
    box-shadow: $shadow, inset 0px 0px 25px rgba(0, 0, 0, 0.25);
  }

  &[color='accent']:hover {
    color: $accent-highlight;
  }

  &[color='primary']:hover {
    color: $primary-highlight;
  }

  &[color='white'] {
    color: white;

    &:hover,
    &.active {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  &[background='accent'] {
    background: $accent;
    box-shadow: $shadow, inset 0px 0px 25px rgba(0, 0, 0, 0.25);
    color: white;

    &:hover {
      background: $accent-highlight;
      color: white;
    }

    &[disabled] {
      background: #707070;
      color: white;
    }
  }

  &[background='primary'] {
    background: $primary;
    box-shadow: $shadow, inset 0px 0px 25px rgba(0, 0, 0, 0.25);
    color: white;

    &:hover {
      background: $primary-highlight;
      color: white;
    }
  }

  &[centered] {
    display: block;
    margin: 8px auto;
  }

  .mat-button-focus-overlay {
    display: none;
  }
}

button.mat-icon-button[disabled][disabled] {
  color: rgba(255, 255, 255, 0.25);
}

button.mat-menu-item {
  height: 36px;
  line-height: 36px;
}

div.mat-card-header-text {
  margin: 0px;
}

div.mat-dialog-actions {
  justify-content: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

div.mat-dialog-content {
  p {
    margin: 8px 0px;
  }
}

div.mat-menu-content {
  padding: 0px;
}

div.mat-menu-panel {
  background: rgba(0, 0, 0, 1);
  border-radius: 0px;

  div.mat-menu-content:not(:empty) {
    padding: 0px;
  }
}

div.mat-select-arrow {
  color: white;
}

div.mat-select-value {
  color: white;
}

div.mat-sort-header-sorted {
  color: black;
}

mat-dialog-container.mat-dialog-container {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 0px;
  color: white;
  padding: 20px 24px 24px;
}

mat-form-field.mat-form-field {
  display: block;

  &.mat-form-field-appearance-legacy {
    div.mat-form-field-underline {
      background-color: white;
    }

    input {
      caret-color: white;
      color: white;
    }

    label.mat-form-field-label {
      color: white;
    }
  }

  &.mat-form-field-invalid {
    padding-bottom: 16px;
  }

  input {
    line-height: 1.5rem;
  }

  label.mat-form-field-label {
    line-height: 1.5rem;
  }

  textarea {
    line-height: 1.6rem;

    &.cdk-textarea-autosize {
      overflow: hidden;
    }
  }
}

mat-nav-list.mat-nav-list {
  padding-top: 0px;

  a.mat-list-item {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.5);

    &.active,
    &:hover {
      background: transparent;
    }

    div.mat-list-item-content {
      color: white;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

mat-paginator.mat-paginator {
  background: transparent;
  color: white;

  .mat-paginator-container {
    padding: 0px;
  }
}

mat-sidenav.mat-sidenav {
  border-right: none;

  .mat-drawer-inner-container {
    display: flex;
    flex-flow: column;
  }
}

mat-sidenav-container.mat-drawer-container {
  background: transparent;
}

mat-spinner.mat-spinner {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

mat-toolbar.mat-toolbar-single-row {
  height: 36px;
  padding: 0px;
  overflow-y: hidden;
}

snack-bar-container.mat-snack-bar-container {
  padding-left: 40px;
}

table.mat-table {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);

  button.mat-sort-header-button {
    color: white;
  }

  div.mat-sort-header-stem {
    color: white;
  }

  div.mat-sort-header-indicator {
    color: white;
  }

  td.mat-cell {
    color: white;
  }

  .mat-header-row {
    background: rgba(0, 0, 0, 0.5);
  }

  .mat-row:nth-child(odd) {
    background: rgba(0, 0, 0, 0.125);
  }

  .mat-row:nth-child(even) {
    background: rgba(0, 0, 0, 0.25);
  }
}
