paths:
  /games/{name}:
    get:
      summary: Find One
      tags: [Games]
      description: Finds a record by ID.
      security:
        - AccessToken: []
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  record:
                    $ref: '#/components/schemas/Game'
