@import './theme.scss';

div.form-error {
  color: #f44336;
  text-align: left;

  &:first-of-type {
    margin-top: -4px;
  }

  &:last-of-type {
    margin-bottom: 4px;
  }
}

div.offset-sm-6 {
  text-align: right;

  app-button {
    margin-top: 14px;
  }
}

div.page {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px;
}

div.page-actions {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 2px -2px 3px black;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 8px;

  app-button {
    flex: 1 1 auto;
    width: 100%;
  }
}

div.row {
  margin: 0px;

  &:first-of-type {
    align-items: baseline;

    div.col-sm-6 {
      padding: 0px;

      &:nth-child(2) {
        text-align: right;

        app-button {
          margin-left: 8px;
          margin-right: 0px;
        }
      }
    }
  }

  .col-sm-3 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

form {
  & > app-button {
    margin-right: 8px;
  }
}

h2,
h3,
h4 {
  margin: 0px 0px 16px;
}

mat-form-field.mat-form-field {
  display: inline-block;
}

span {
  color: white;
}
