@import '~bootstrap/scss/bootstrap-grid.scss';

a.mat-list-item {
  mat-icon.mat-icon {
    color: #ffff00 !important;
    font-size: 20px;
    height: 20px;
    line-height: 21px;
    margin: 0px 8px 0px 0px;
    width: 20px;
  }
}

button.mat-icon-button[disabled][disabled] {
  color: rgba(255, 255, 255, 0.25);
}

button.mat-menu-item {
  height: 36px;
  line-height: 36px;
}

div.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.5);
}

div.mat-autocomplete-panel {
  background: black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  mat-option.mat-option {
    color: white;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

div.mat-card-header-text {
  margin: 0px;
}

div.mat-dialog-actions {
  justify-content: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

div.mat-dialog-content {
  p {
    margin: 8px 0px;
  }
}

div.mat-menu-content {
  padding: 0px;
}

div.mat-menu-panel {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  min-height: auto;
  min-width: auto;
  overflow: initial;

  div.mat-menu-content:not(:empty) {
    padding: 0px;
  }
}

div.mat-select-arrow {
  color: white;
}

div.mat-select-panel {
  background: black;
}

div.mat-select-value {
  color: white;
}

div.mat-sort-header-content {
  color: white;
}

div.mat-sort-header-sorted {
  color: black;
}

div.mat-tooltip {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/assets/images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-radius: 0px;
  box-shadow: 2px 2px 3px black;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  padding: 6px 12px;
  text-shadow: 2px 3px 3px black;
  white-space: pre;
}

input.mat-chip-input {
  margin-bottom: -2px !important;
  margin-top: 0px !important;
}

mat-chip.mat-chip.mat-standard-chip {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  box-shadow: 2px 2px 3px black;
  color: white;

  &:focus::after,
  &:hover::after {
    opacity: 0;
  }

  &.mat-chip-with-trailing-icon {
    height: auto;
    line-height: 16px;
    min-height: initial;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-left: 8px;
  }

  mat-icon.mat-chip-remove {
    color: #ffff00;
    opacity: 1;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      opacity: 1 !important;
    }
  }
}

mat-chip-list.mat-chip-list {
  div.mat-chip-list-wrapper {
    margin-bottom: 4px;
    margin-top: -4px;
  }
}

mat-datepicker-content.mat-datepicker-content {
  background: black;
  color: white;

  button.mat-calendar-period-button {
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  button.mat-icon-button {
    border-radius: 0px;
    color: white;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  div.mat-calendar-arrow {
    border-top-color: #ffff55;
  }

  div.mat-calendar-body-cell-content {
    border-radius: 0px;
    color: white;
  }

  div.mat-calendar-body-selected {
    background: rgba(255, 255, 255, 0.2);
  }

  div.mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: rgba(255, 255, 255, 0.5);
  }

  td.mat-calendar-body-cell:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  td.mat-calendar-body-label {
    color: white;
  }

  thead.mat-calendar-table-header {
    color: white;
  }
}

mat-dialog-container.mat-dialog-container {
  background: url('/assets/images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-radius: 0px;
  box-shadow: 2px 2px 3px black;
  color: white;
  padding: 16px 24px;
}

mat-form-field.mat-form-field {
  display: block;

  &.disabled {
    pointer-events: none;

    div.mat-form-field-underline {
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.42) 0,
        rgba(0, 0, 0, 0.42) 33%,
        transparent 0
      );
      background-repeat: repeat-x;
      background-size: 4px 100%;
    }

    mat-chip-list.mat-chip-list {
      div.mat-chip-list-wrapper {
        margin-bottom: 0px;
      }
    }
  }

  &.mat-form-field-appearance-legacy {
    div.mat-form-field-underline {
      background-color: white;
    }

    input {
      caret-color: white;
      color: white;
      line-height: 24px;
      text-overflow: ellipsis;

      &::placeholder {
        color: white;
        font-weight: 300;
        opacity: 0.5;
      }
    }

    label.mat-form-field-label {
      color: white;
    }
  }

  &.mat-form-field-invalid {
    padding-bottom: 16px;
  }

  .mat-input-element:disabled {
    color: white;
  }

  mat-error.mat-error {
    line-height: 14px;
  }

  mat-select.mat-select {
    margin-top: 3.5px;
  }

  textarea {
    caret-color: white;
    line-height: normal;
    overflow-y: hidden;

    &::placeholder {
      color: white;
      font-weight: 300;
      opacity: 0.5;
    }
  }
}

mat-form-field.mat-form-field-appearance-legacy {
  div.mat-form-field-suffix .mat-icon-button {
    color: white;
  }
}

mat-nav-list.mat-nav-list {
  padding-top: 0px;

  a.mat-list-item {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.5);

    &.active,
    &:hover {
      background: transparent;
    }

    div.mat-list-item-content {
      color: white;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

mat-option.mat-option {
  color: rgba(255, 255, 255, 0.5);

  &.mat-option.mat-active:not(.mat-selected) {
    color: rgba(255, 255, 255, 0.5);

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  &.mat-option.mat-selected:not(.mat-option-disabled) {
    color: white;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  &:hover,
  &:hover:not(.mat-option-disabled) {
    background: rgba(255, 255, 255, 0.2);
  }
}

mat-paginator.mat-paginator {
  background: transparent;
  color: white;

  .mat-paginator-container {
    padding: 0px;
  }
}

mat-progress-bar.mat-progress-bar {
  div.mat-progress-bar-buffer {
    background: rgba(255, 255, 255, 0.25);
  }

  div.mat-progress-bar-fill {
    transition-duration: 10ms;

    &::after {
      background: #ffff55;
    }
  }

  svg.mat-progress-bar-background {
    fill: transparent;
  }
}

mat-pseudo-checkbox.mat-pseudo-checkbox {
  color: rgba(255, 255, 255, 0.5);
}

mat-radio-button.mat-radio-button.mat-accent {
  &.mat-radio-checked {
    span.mat-radio-inner-circle {
      background-color: white;
      border-radius: 4px;
      filter: drop-shadow(2px 2px 3px black);
    }

    span.mat-radio-outer-circle {
      border-color: white;
      border-radius: 4px;
      filter: drop-shadow(2px 2px 3px black);
    }

    span.mat-ripple {
      display: none;
    }
  }

  span.mat-radio-outer-circle {
    border-color: white;
    border-radius: 4px;
    filter: drop-shadow(2px 2px 3px black);
  }
}

mat-select.mat-select {
  &.mat-select-disabled {
    div.mat-select-arrow {
      color: white !important;
    }

    div.mat-select-value {
      color: white !important;
    }
  }

  .mat-select-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

mat-sidenav.mat-sidenav {
  border-right: none;

  .mat-drawer-inner-container {
    display: flex;
    flex-flow: column;
  }
}

mat-sidenav-container.mat-drawer-container {
  background: transparent;
}

mat-spinner.mat-spinner {
  display: inline-block;
  margin-right: 8px;
  margin-top: 2px;
  vertical-align: middle;

  circle {
    stroke: white;
  }
}

mat-toolbar.mat-toolbar-single-row {
  height: 36px;
  padding: 0px;
  overflow-y: hidden;
}

mat-tree.mat-tree {
  background: transparent;

  .hidden {
    display: none;
  }

  div.mat-tree-node,
  li.mat-tree-node {
    color: white;
    padding: 0px 16px;
  }

  li,
  ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
}

snack-bar-container.mat-snack-bar-container {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  min-width: initial;
  padding-left: 20px;

  div.mat-simple-snackbar-action {
    color: white;

    button:hover {
      background: rgba(255, 255, 255, 0.125);
    }
  }
}

table.mat-table {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;

  button.mat-sort-header-button {
    color: white;
  }

  div.mat-sort-header-stem {
    color: #ffff55;
  }

  div.mat-sort-header-indicator {
    color: #ffff55;
  }

  td.mat-cell {
    color: white;
    min-height: 54px;
    padding: 8px;

    &:first-of-type {
      padding-left: 16px;
    }

    &:last-of-type {
      padding-right: 16px;
    }
  }

  th.mat-header-cell {
    padding: 8px;

    &:first-of-type {
      padding-left: 16px;
    }

    &:last-of-type {
      padding-right: 16px;
    }
  }

  tr.mat-row {
    height: auto;
  }

  .mat-column-actions {
    text-align: right;

    app-button {
      margin-left: 8px;
    }
  }

  .mat-header-row {
    background: rgba(0, 0, 0, 0.5);
  }

  .mat-row:nth-child(odd) {
    background: rgba(0, 0, 0, 0.125);
  }

  .mat-row:nth-child(even) {
    background: rgba(0, 0, 0, 0.25);
  }
}
