@import './theme.scss';

div {
  color: white;
}

div.page {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px;
  position: relative;
}

div.row {
  &:first-of-type {
    align-items: baseline;
  }
}

h2,
h3,
h4 {
  margin: 0px 0px 16px;
}

table {
  width: 100%;

  .mat-column-actions {
    text-align: right;
    white-space: nowrap;

    app-button {
      margin-left: 8px;
    }
  }
}

.offset-sm-6 {
  text-align: right;

  app-button {
    margin-top: 14px;
  }
}

.row {
  margin: 0px;

  .col-sm-3 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
