<app-loading-message [hidden]="!message">{{ message }}</app-loading-message>

<div [hidden]="message"
     class="page">
  <app-title>Authorizations</app-title>

  <div class="row">
    <div class="col-sm-3">
      <mat-form-field floatLabel="always">
        <mat-label>User ID</mat-label>

        <input matInput
               autocomplete="off"
               type="text"
               (keyup)="setFilter($event.target.value)"
               [(ngModel)]="filter" />

        <app-button *ngIf="filter"
                    color="accent"
                    matSuffix
                    mat-icon-button
                    (click)="setFilter('')">
          <mat-icon>close</mat-icon>
        </app-button>
      </mat-form-field>
    </div>

    <div *ngIf="hasWriteAuthorization"
         class="offset-sm-6 col-sm-3">
      <app-button color="accent"
                  [routerLink]="['new']">
        <mat-icon>add</mat-icon>
        <div>New Authorization</div>
      </app-button>
    </div>
  </div>

  <table mat-table
         [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell
          *matHeaderCellDef>Name</th>
      <td mat-cell
          *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell
          *matHeaderCellDef>Roles</th>
      <td mat-cell
          *matCellDef="let element">{{ element.roles?.length || 0 }}</td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell
          *matHeaderCellDef>User</th>
      <td mat-cell
          *matCellDef="let element">{{ getUser(element.userId)?.displayName }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell
          *matHeaderCellDef>Created At</th>
      <td mat-cell
          *matCellDef="let element">{{ element.createdAt | date:"MMM d, y 'at' h:mm a" }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell
          *matHeaderCellDef></th>
      <td mat-cell
          *matCellDef="let element">
        <ng-container *ngIf="hasWriteAuthorization">
          <app-button color="accent"
                      appHighlight
                      matTooltip="Delete"
                      (OnClick)="showDeletePrompt($event, element)">
            <mat-icon>delete</mat-icon>
          </app-button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns"
        appHighlight
        [routerLink]="[row._id]">
    </tr>
  </table>

  <mat-paginator (page)="fetchAuthorizations()"
                 pageSize="10"
                 [pageSizeOptions]="[10, 25, 100]"
                 showFirstLastButtons></mat-paginator>
</div>