<div *ngIf="!statusText"
     class="action">
  <app-button color="primary"
              [disabled]="!buttonAction"
              (OnClick)="buttonAction()"
              size="large"
              width="full">
    <mat-icon *ngIf="buttonIcon">{{ buttonIcon }}</mat-icon>
    <div>{{ buttonText }}</div>
  </app-button>
</div>

<div *ngIf="statusText"
     class="status">
  <div>
    <div>{{ statusText }}</div>
    <div *ngIf="progressText">{{ progressText }}</div>
  </div>

  <mat-progress-bar [mode]="hasProgress ? 'determinate' : 'indeterminate'"
                    [value]="progressPercentage * 100"></mat-progress-bar>
</div>
