paths:
  /releases/{releaseId}/platforms/{platform}/files/upload:
    post:
      summary: Upload
      tags: [Files]
      description: Uploads files for a Release.
      security:
        - AccessToken: []
      parameters:
        - in: path
          name: releaseId
          schema:
            type: string
          required: true
        - in: path
          name: platform
          schema:
            type: string
          required: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                modified:
                  type: array
                  items:
                    type: string
                removed:
                  type: array
                  items:
                    type: string
                unmodified:
                  type: array
                  items:
                    type: string
                zip:
                  type: string
                  format: binary
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReleaseTask'
