<ng-container [formGroup]="form">
  <ng-container [formGroupName]="formGroupName">
    <h4>Articles</h4>
    <div class="row">
      <mat-checkbox *ngIf="play"
                    formControlName="Articles:Play">Play</mat-checkbox>
      <mat-checkbox formControlName="Articles:Read">Read</mat-checkbox>
      <mat-checkbox formControlName="Articles:Write">Write</mat-checkbox>
    </div>

    <h4>Authorizations</h4>
    <div class="row">
      <mat-checkbox formControlName="Authorizations:Read">Read</mat-checkbox>
      <mat-checkbox formControlName="Authorizations:Write">Write</mat-checkbox>
    </div>

    <h4>Builds</h4>
    <div class="row">
      <mat-checkbox *ngIf="play"
                    formControlName="Builds:Play">Play</mat-checkbox>
      <mat-checkbox formControlName="Builds:Read">Read</mat-checkbox>
      <mat-checkbox formControlName="Builds:Write">Write</mat-checkbox>
    </div>

    <h4>Build Logs</h4>
    <div class="row">
      <mat-checkbox formControlName="BuildLogs:Read">Read</mat-checkbox>
    </div>

    <h4>Collections</h4>
    <div class="row">
      <mat-checkbox formControlName="Collections:Read">Read</mat-checkbox>
      <mat-checkbox formControlName="Collections:Write">Write</mat-checkbox>
    </div>

    <h4>Game Servers</h4>
    <div class="row">
      <mat-checkbox *ngIf="play"
                    formControlName="GameServers:Play">Play</mat-checkbox>
      <mat-checkbox formControlName="GameServers:Read">Read</mat-checkbox>
      <mat-checkbox formControlName="GameServers:Write">Write</mat-checkbox>
    </div>

    <h4>Game Server Logs</h4>
    <div class="row">
      <mat-checkbox formControlName="GameServerLogs:Read">Read</mat-checkbox>
    </div>

    <h4>Groups</h4>
    <div class="row">
      <mat-checkbox *ngIf="play"
                    formControlName="Groups:Play">Play</mat-checkbox>
      <mat-checkbox formControlName="Groups:Read">Read</mat-checkbox>
      <mat-checkbox formControlName="Groups:Write">Write</mat-checkbox>
    </div>

    <h4>Matches</h4>
    <div class="row">
      <mat-checkbox formControlName="Matches:Read">Read</mat-checkbox>
      <mat-checkbox formControlName="Matches:Write">Write</mat-checkbox>
    </div>

    <h4>Namespaces</h4>
    <div class="row">
      <mat-checkbox formControlName="Namespaces:Read">Read</mat-checkbox>
      <mat-checkbox formControlName="Namespaces:Write">Write</mat-checkbox>
    </div>

    <h4>Namespace Logs</h4>
    <div class="row">
      <mat-checkbox formControlName="NamespaceLogs:Read">Read</mat-checkbox>
    </div>

    <h4>Queues</h4>
    <div class="row">
      <mat-checkbox formControlName="Queues:Read">Read</mat-checkbox>
      <mat-checkbox formControlName="Queues:Write">Write</mat-checkbox>
    </div>

    <h4>Queue Logs</h4>
    <div class="row">
      <mat-checkbox formControlName="QueueLogs:Read">Read</mat-checkbox>
    </div>

    <h4>Records</h4>
    <div class="row">
      <mat-checkbox formControlName="Records:Read">Read</mat-checkbox>
      <mat-checkbox formControlName="Records:Write">Write</mat-checkbox>
    </div>

    <h4>Steam Integrations</h4>
    <div class="row">
      <mat-checkbox formControlName="SteamIntegrations:Read">Read</mat-checkbox>
      <mat-checkbox formControlName="SteamIntegrations:Write">Write</mat-checkbox>
    </div>

    <h4>Storefronts</h4>
    <div class="row">
      <mat-checkbox formControlName="Storefronts:Read">Read</mat-checkbox>
      <mat-checkbox formControlName="Storefronts:Write">Write</mat-checkbox>
    </div>

    <h4>Users</h4>
    <div class="row">
      <mat-checkbox formControlName="Users:Read">Read</mat-checkbox>
      <mat-checkbox formControlName="Users:Write">Write</mat-checkbox>
    </div>

    <h4>Web Sockets</h4>
    <div class="row">
      <mat-checkbox formControlName="WebSockets:Read">Read</mat-checkbox>
      <mat-checkbox formControlName="WebSockets:Write">Write</mat-checkbox>
    </div>

    <h4>Workflows</h4>
    <div class="row">
      <mat-checkbox formControlName="Workflows:Read">Read</mat-checkbox>
      <mat-checkbox formControlName="Workflows:Write">Write</mat-checkbox>
    </div>

    <h4>Workflow Logs</h4>
    <div class="row">
      <mat-checkbox formControlName="WorkflowLogs:Read">Read</mat-checkbox>
    </div>
  </ng-container>
</ng-container>