@import '~assets/scss/theme.scss';

mat-toolbar.main-toolbar {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.6);
  height: 56px;
  overflow: initial;
  position: fixed;
  top: 24px;
  z-index: 1;

  button {
    margin-right: 8px;
    text-transform: none;
  }

  img {
    filter: drop-shadow($shadow);
    height: 150%;
    margin-right: 16px;
    position: absolute;
    transform: translate(0%, -60%);
    vertical-align: middle;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
      filter: brightness(120%);
    }
  }

  .container {
    align-items: center;
    display: flex;
    height: 100%;
  }
}

mat-toolbar.system-toolbar {
  background: rgba(0, 0, 0, 0.75);
  height: 24px;
  overflow: initial;
  padding-left: 120px;
  position: fixed;
  top: 0px;
  z-index: 1;

  button.mat-button {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    min-width: 0px;
    padding: 0px 8px;
    text-transform: none;

    &:hover {
      box-shadow: none;
    }

    mat-icon.material-icons {
      font-size: 20px;
    }
  }

  .container {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0px;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.logo-container {
  display: inline-block;
  width: 170px
}

@media(max-width: 768px) {
  mat-toolbar.main-toolbar,
  mat-toolbar.system-toolbar {
    img {
      height: 100%;
      transform: translate(0%, -47%);
    }

    .logo-container {
      width: 120px;
    }
  }
}
