paths:
  /builds/{buildId}/platforms/{platform}/files/{_id}:
    delete:
      summary: Delete
      tags: [Files]
      description: Deletes an existing record.
      security:
        - AccessToken: []
      parameters:
        - in: path
          name: buildId
          schema:
            type: string
          required: true
        - in: path
          name: platform
          schema:
            type: string
          required: true
        - in: path
          name: _id
          schema:
            type: string
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  record:
                    $ref: '#/components/schemas/File'
