components:
  schemas:
    Release:
      type: object
      properties:
        _id:
          type: string
          format: ^[a-f0-9]{24}$
        createdAt:
          type: string
          format: date-time
        entrypoint:
          type: string
        namespaceId:
          type: string
          format: ^[a-f0-9]{24}$
        publishedAt:
          type: string
          format: date-time
        version:
          type: string
        updatedAt:
          type: string
          format: date-time
