@import '~assets/scss/theme.scss';

h2 {
  margin-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-sm-3 {
  text-align: right;

  mat-icon.mat-icon {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    height: 18px;
    margin-top: 4px;
    vertical-align: top;

    &:hover {
      color: white;
    }
  }
}
