:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

div.content {
  flex: 1 1 auto;
  position: relative;
}

ten-header-toolbar::ng-deep {
  mat-toolbar {
    padding: 0px 16px;
  }
}
