:host ::ng-deep {
  app-toggle-section:last-of-type > .row:last-of-type {
    margin-bottom: 0px;
  }
}

app-toggle-section .row {
  margin-left: 0px;
  margin-top: 0px;
}

mat-form-field.mat-form-field {
  display: inline-block;
  margin-right: 16px;
}

.remove-button {
  margin: 8px 0px 24px;
}

.row {
  margin-left: 185.5px;
  margin-right: 0px;

  &:first-of-type {
    margin-top: -74px;
  }

  &.border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
}
