<ng-container [formGroup]="form">
  <mat-form-field floatLabel="always">
    <mat-label>Key</mat-label>
    <input formControlName="key"
           matInput
           required />
    <mat-error *ngIf="!form.get('key').hasError('alphabeticalKeys') && !form.get('key').hasError('excludeKeys')">
      Enter a valid key.
    </mat-error>
    <mat-error *ngIf="form.get('key').hasError('alphabeticalKeys')">
      Key can contain only letters.
    </mat-error>
    <mat-error *ngIf="form.get('key').hasError('excludeKeys')">
      Key cannot be 'default', 'namespace-read', 'namespace-write', 'user-read', or 'user-write'.
    </mat-error>
  </mat-form-field>

  <div class="row">
    <app-toggle-section [isVisible]="false"
                        title="Criteria">
      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>Required Matches</mat-label>
          <mat-select formControlName="operator">
            <mat-option value="$and">All</mat-option>
            <mat-option value="$or">At Least One</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngFor="let criterion of criteria.controls; let i = index"
           class="row">
        <app-criterion-field [fields]="criteriaFields"
                             [form]="criterion"
                             [operators]="criteriaOperators"
                             [properties]="properties"
                             [referenceFields]="criteriaFields"
                             (remove)="removeCriterion(i)"></app-criterion-field>
      </div>

      <div *ngIf="!form.disabled"
           class="row">
        <app-button color="accent"
                    layout="left"
                    (OnClick)="addCriterion()">
          <mat-icon>add</mat-icon>
          <div>Add Criterion</div>
        </app-button>
      </div>
    </app-toggle-section>

    <app-toggle-section formGroupName="permissions"
                        [isVisible]="false"
                        title="Permissions">
      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>Create</mat-label>
          <mat-select formControlName="create"
                      multiple
                      placeholder="None">
            <mat-option *ngFor="let field of propertyFields"
                        [value]="field">
              {{ field }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Read</mat-label>
          <mat-select formControlName="read"
                      multiple
                      placeholder="None">
            <mat-option *ngFor="let field of recordFieldsWithProperties"
                        [value]="field">
              {{ field }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Update</mat-label>
          <mat-select formControlName="update"
                      multiple
                      placeholder="None">
            <mat-option *ngFor="let field of propertyFields"
                        [value]="field">
              {{ field }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Delete</mat-label>
          <mat-select formControlName="delete">
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </app-toggle-section>

    <app-toggle-section [isVisible]="false"
                        title="Filter Query">
      <div *ngFor="let criterion of find.controls;let i = index"
           class="row">
        <app-criterion-field [fields]="recordFieldsWithProperties"
                             [form]="criterion"
                             [operators]="findOperators"
                             [properties]="properties"
                             [referenceFields]="userFields"
                             (remove)="removeFindCriterion(i)"></app-criterion-field>
      </div>

      <div *ngIf="!form.disabled"
           class="row">
        <app-button color="accent"
                    layout="left"
                    (OnClick)="addFindCriterion()">
          <mat-icon>add</mat-icon>
          <div>Add Criterion</div>
        </app-button>
      </div>
    </app-toggle-section>
  </div>

  <div *ngIf="!form.disabled"
       class="row remove-button">
    <app-button *ngIf="index > 0"
                color="accent"
                layout="left"
                (OnClick)="moveUp.emit()">
      <mat-icon>arrow_upward</mat-icon>
      <div>Move Up</div>
    </app-button>

    <app-button *ngIf="index < length - 2"
                color="accent"
                layout="left"
                (OnClick)="moveDown.emit()">
      <mat-icon>arrow_downward</mat-icon>
      <div>Move Down</div>
    </app-button>

    <app-button color="accent"
                layout="left"
                (OnClick)="remove.emit()">
      <mat-icon>close</mat-icon>
      <div>Remove Role</div>
    </app-button>
  </div>
</ng-container>
