div.center-of-screen {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 325px;
}

h2 {
  color: white;
  font-size: 32px;
  margin: 0px 0px 16px;
  text-align: center;

  mat-icon.mat-icon {
    color: #ffff55;
    margin-right: 4px;
  }
}

img {
  filter: drop-shadow(3px 5px black);
  margin: 0px 0px 24px;
  width: 100%;
}

ten-button {
  display: block;
  margin: 0px auto;
}

.row {
  margin: 32px 0px 0px;

  .col-sm-6 {
    padding: 0px;
  }
}
