:host {
  display: flex;
  height: 100%;

  &::ng-deep {
    div.content {
      flex: 1 1 auto;
      overflow: auto;
      padding: 24px;
    }

    div.nav {
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      overflow: auto;
      padding: 8px;

      > * {
        margin-bottom: 4px;
      }
    }
  }
}
