.billboard {
  font-size: 64px;
  left: 50%;
  line-height: 72px;
  position: absolute;
  text-align: center;
  top: calc(50% + 16px);
  transform: translate(-50%, -50%);
  width: 100%;

  &.unity {
    top: calc(50% + -12px);
  }

  ::ng-deep {
    button {
      font-size: 1.5rem;
      padding: 12px 32px;
    }
  }

  h1 {
    color: white;
    font-size: 3rem;

    &::before,
    &::after {
      content: none;
    }
  }
}
