<div [hidden]="!!loadingMessage">
  <div *ngIf="action === Action.LogIn">
    <ten-title>Log In</ten-title>
    <ten-login-form (logIn)="onLogIn($event)"></ten-login-form>
  </div>

  <div *ngIf="action === Action.Register">
    <ten-title>Create Account</ten-title>
    <ten-registration-form (register)="onRegister($event)"></ten-registration-form>
  </div>

  <div *ngIf="action === Action.RequestPasswordReset">
    <ten-title>Reset Password</ten-title>
    <ten-password-reset-request-form
      (passwordResetRequested)="onPasswordResetRequested($event)"
    ></ten-password-reset-request-form>
  </div>
</div>

<ten-loading-message [hidden]="!loadingMessage">{{ loadingMessage }}</ten-loading-message>
