export * from './{{nameCamelSingular}}/{{nameCamelSingular}}.model';
export * from './{{nameCamelSingular}}/{{nameCamelSingular}}.model.mock';
export * from './{{nameCamelSingular}}/{{nameCamelSingular}}.permissions';
