::ng-deep {
  app-prompt {
    app-button {
      margin-left: 8px !important;
      margin-right: 8px !important;
    }

    p {
      text-align: center;
      white-space: pre;
    }
  }
}

div.mat-dialog-title {
  font-family: 'Oswald';
  font-weight: bold;
  margin-bottom: 4px;
}
