<app-sidenav>
  <div class="content">
    <app-group-messages *ngIf="$activeGroup | async as group"
                        [group]="group"></app-group-messages>

    <app-messages *ngIf="$activeUser | async as user"
                  [user]="user"></app-messages>

    <ng-content></ng-content>
  </div>

  <div *ngIf="isLoggedIn"
       class="nav">
    <app-match *ngIf="isElectron"></app-match>

    <ng-container *ngIf="($group | async) === undefined">
      <app-group-invitation-button *ngFor="let groupInvitation of $groupInvitations | async"
                                   [groupInvitation]="groupInvitation"></app-group-invitation-button>
    </ng-container>

    <app-button *ngIf="($group | async) === undefined"
                color="accent"
                layout="vertical"
                text="left"
                width="full"
                (OnClick)="newGroup()">
      <mat-icon>group_add</mat-icon>
      <div>Start Group</div>
    </app-button>

    <app-button *ngIf="$group | async as group"
                color="accent"
                layout="vertical"
                text="left"
                width="full"
                [ngClass]="{ active: ($activeGroup | async)?._id === group._id }"
                (OnClick)="setGroup(group)">
      <mat-icon>people</mat-icon>

      <div>
        <div>{{ group.name ?? 'Group' }}</div>
        <div>{{ group.userIds.length }} {{ group.userIds.length > 1 ? 'Members' : 'Member' }}</div>
      </div>

      <app-badge *ngIf="$getUnreadGroupMessagesCount(group._id) | async"
                 layout="right">
        {{ $getUnreadGroupMessagesCount(group._id) | async }}
      </app-badge>
    </app-button>

    <app-button color="accent"
                layout="vertical"
                text="left"
                width="full"
                (OnClick)="newMessage()">
      <mat-icon>chat</mat-icon>
      <div>New Direct Message</div>
    </app-button>

    <app-message-group *ngIf="($groupUsersWithoutCurrentUser | async)?.length"
                       header="Group"
                       [showGroup]="false"
                       [userIds]="$groupUsersWithoutCurrentUser | async"></app-message-group>

    <app-message-group *ngIf="($friends | async)?.length"
                       header="Friends"
                       [isVisible]="true"
                       [userIds]="$friends | async | select: 'toUserId'"></app-message-group>

    <app-message-group *ngIf="($otherConversations | async)?.length"
                       header="Other Conversations"
                       [userIds]="$otherConversations | async"></app-message-group>
  </div>
</app-sidenav>
