<app-sidenav>
  <div class="content">
    <app-group-messages *ngIf="$activeGroup | async as group"
                        [group]="group"></app-group-messages>
    <app-messages *ngIf="$activeUser | async as user"
                  [user]="user"></app-messages>
    <ng-content></ng-content>
  </div>

  <div *ngIf="isLoggedIn"
       class="nav">
    <ng-container *ngIf="isElectron">
      <div *ngFor="let gameServer of $gameServers | async"
           class="group-invitation queue">
        <div class="hover-off">
          <mat-icon>public</mat-icon>
          <div class="label">
            <div class="name">{{ gameServer.storefront?.fullTitle }}</div>
            <div class="status">{{ gameServer.queue.name }}</div>
          </div>
        </div>

        <div class="hover-on"
             [ngClass]="{ 'waiting-for-game-server': isWaitingForGameServer }">
          <app-button *ngIf="!isWaitingForGameServer"
                      color="primary"
                      (OnClick)="joinGameServer(gameServer)">
            <span>Join Game Server</span>
          </app-button>

          <app-button *ngIf="isWaitingForGameServer"
                      color="primary"
                      [disabled]="true"
                      (OnClick)="joinGameServer(gameServer)">
            <mat-spinner diameter="20"></mat-spinner>
            <span>Joining Game Server...</span>
          </app-button>
        </div>
      </div>
    </ng-container>

    <div *ngFor="let queueMember of $queueMembers | async"
         class="group-invitation queue">
      <div class="hover-off">
        <mat-icon>schedule</mat-icon>
        <div class="label">
          <div class="name">{{ queueMember.queue?.name }}</div>
          <div class="status">{{ queueMember.groupId ? 'Group Queue' : 'Solo Queue' }}</div>
        </div>
      </div>

      <div class="hover-on">
        <app-button color="primary"
                    (OnClick)="leaveQueue(queueMember)">
          Leave Queue
        </app-button>
      </div>
    </div>

    <ng-container *ngIf="($group | async) === undefined">
      <div *ngIf="$groupInvitation | async as groupInvitation"
           class="group-invitation">
        <div class="hover-off">
          <mat-icon>person_add</mat-icon>
          <div class="label">
            <div class="name">Group Invitation</div>
            <div class="status">From {{ groupInvitation.fromUser.username }}</div>
          </div>
        </div>

        <div class="hover-on">
          <app-button color="accent"
                      (OnClick)="rejectGroupInvitation()">Reject</app-button>
          <app-button color="primary"
                      (OnClick)="acceptGroupInvitation()">Accept</app-button>
        </div>
      </div>
    </ng-container>

    <app-button *ngIf="($group | async) === undefined"
                color="accent"
                layout="vertical"
                text="left"
                width="full"
                (OnClick)="newGroup()">
      <mat-icon>group_add</mat-icon>
      <span>Start Group</span>
    </app-button>

    <app-button *ngIf="$group | async as group"
                class="online"
                color="accent"
                layout="vertical"
                text="left"
                width="full"
                [ngClass]="{ active: ($activeGroup | async)?._id === group._id }"
                (OnClick)="setGroup(group)">
      <mat-icon>people</mat-icon>
      <div class="label">
        Group
        <div class="status">
          {{ group.userIds.length }} Member{{ group.userIds.length > 1 ? 's' : '' }}
        </div>
      </div>
      <span *ngIf="$getUnreadGroupMessagesCount(group._id) | async"
            class="badge">
        {{ $getUnreadGroupMessagesCount(group._id) | async }}
      </span>
    </app-button>

    <app-button color="accent"
                layout="vertical"
                text="left"
                width="full"
                (OnClick)="newMessage()">
      <mat-icon>add</mat-icon>
      <span>New Direct Message</span>
    </app-button>

    <app-message-group *ngIf="$group | async as group"
                       header="Group"
                       [showGroup]="false"
                       [users]="$groupUsersWithoutCurrentUser | async | truthy"></app-message-group>

    <app-message-group *ngIf="($friends | async)?.length"
                       header="Friends"
                       [users]="$friends | async | select: 'toUser' | truthy"></app-message-group>

    <app-message-group *ngIf="conversations.length"
                       header="Other Conversations"
                       [users]="conversations | select: 'user' | truthy"></app-message-group>
  </div>
</app-sidenav>
