<form [formGroup]="form">
    <ng-container *ngIf="!message">
        <mat-form-field floatLabel="always">
            <mat-label>Email address</mat-label>
            <input matInput
                   autofocus
                   type="email"
                   formControlName="email">
            <mat-error>Enter a valid email address.</mat-error>
        </mat-form-field>

        <div *ngIf="error"
             class="form-error">
            {{ error }}
        </div>

        <button mat-button
                background="accent"
                centered
                (click)="submit()">Submit</button>
    </ng-container>

    <div *ngIf="message"
         class="form-message">
        {{ message }}
    </div>
</form>
