{% set deployment = env['deployment'] %}
{% set project = env['project'] %}

resources:
- name: {{ project }}-terraform
  type: storage.v1.bucket
  properties:
    location: us-central1
    kind: storage#bucket
    storageClass: REGIONAL
    versioning:
      enabled: true

- name: service-account
  type: iam.v1.serviceAccount
  properties:
    accountId: terraform
    displayName: Terraform Service Account

- name: get-iam-policy
  action: gcp-types/cloudresourcemanager-v1:cloudresourcemanager.projects.getIamPolicy
  properties:
    resource: {{ project }}
  metadata:
    runtimePolicy:
    - 'UPDATE_ALWAYS'

- name: patch-iam-policy
  action: gcp-types/cloudresourcemanager-v1:cloudresourcemanager.projects.setIamPolicy
  properties:
    resource: {{ project }}
    policy: $(ref.get-iam-policy)
    gcpIamPolicyPatch:
      add:
      - role: roles/owner
        members:
        - serviceAccount:$(ref.service-account.email)
