<div class="hover-off">
  <app-button color="accent"
              text="left">
    <mat-icon>join_inner</mat-icon>

    <div>
      <div>{{ getStorefront(match.namespaceId)?.fullTitle }}</div>
      <div>{{ getQueue(match.queueId)?.name }}</div>
    </div>
  </app-button>
</div>

<div class="hover-on"
     [ngClass]="{ 'waiting-for-game-server': isWaitingForGameServer }">
  <app-button *ngIf="isWaitingForGameServer"
              color="primary"
              [disabled]="true"
              (OnClick)="join(match)">
    <mat-spinner diameter="20"></mat-spinner>
    <div>Joining Game Server...</div>
  </app-button>

  <app-button *ngIf="!isWaitingForGameServer"
              color="primary"
              (OnClick)="join(match)">
    <div>Join Match</div>
  </app-button>
</div>
