@import '../../../../../../../assets/scss/page.scss';

div.col-sm-6 {
  margin: 0px;
  padding: 0px;

  &:first-of-type {
    padding-right: 8px;
  }

  &:nth-of-type(2) {
    padding-left: 8px;
  }

  mat-form-field.mat-form-field {
    display: block;
  }

  & > mat-label {
    font-size: 12px;
  }
}

form {
  app-button {
    margin-right: 8px;
  }
}

mat-form-field.mat-form-field {
  margin-right: 16px;
}
