<div *ngIf="form"
     class="page">
  <div class="row">
    <div class="col-sm-6">
      <app-title *ngIf="hasWriteAuthorization">{{ data?._id ? 'Edit' : 'Create' }} Queue</app-title>
      <app-title *ngIf="!hasWriteAuthorization">View Queue</app-title>
    </div>

    <div *ngIf="hasWriteAuthorization"
         class="col-sm-6 align-right">
      <app-button color="accent"
                  (OnClick)="navigateToJson()">
        <mat-icon>code</mat-icon>
        <div>{{ data?._id ? 'Edit' : 'Create' }} as JSON</div>
      </app-button>
    </div>
  </div>

  <form [formGroup]="form"
        autocomplete="off">
    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Name</mat-label>
        <input appAutofocus
               formControlName="name"
               matInput
               maxlength="64"
               required />
        <mat-error>Enter a valid name.</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>Description</mat-label>
        <input formControlName="description"
               matInput
               maxlength="128" />
        <mat-error>Enter a valid description.</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Teams</mat-label>
        <input matInput
               required
               formControlName="teams"
               min="1"
               step="1"
               type="number" />
        <mat-error>Enter a valid amount of teams.</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>Players Per Team</mat-label>
        <input matInput
               required
               formControlName="usersPerTeam"
               min="1"
               step="1"
               type="number" />
        <mat-error>Enter a valid amount of players per team.</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>CPU</mat-label>
        <mat-select formControlName="cpu">
          <mat-option *ngFor="let cpu of cpus"
                      [value]="cpu.value">{{ cpu.label }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>Memory</mat-label>
        <mat-select formControlName="memory">
          <mat-option *ngFor="let memory of memories"
                      [value]="memory.value">{{ memory.label }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>Preemptible</mat-label>
        <mat-select formControlName="preemptible">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>Replicas</mat-label>
        <mat-select formControlName="replicas">
          <mat-option *ngFor="let replica of replicas"
                      [value]="replica.value">{{ replica.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <app-toggle-section title="Queue Metadata"
                        [isVisible]="false">
      <app-metadata-fields [formArray]="form.get('metadata')"></app-metadata-fields>
    </app-toggle-section>

    <app-toggle-section formGroupName="gameServerTemplate"
                        [isVisible]="isNew"
                        title="Game Server Template">
      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>Build</mat-label>
          <mat-select required
                      formControlName="buildId"
                      placeholder="No Builds Available">
            <mat-option *ngFor="let build of builds"
                        [value]="build._id">
              {{ build.name }}
            </mat-option>
          </mat-select>
          <mat-error>Select a Build.</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>Preemptible</mat-label>
          <mat-select formControlName="preemptible">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>CPU</mat-label>
          <mat-select formControlName="cpu">
            <mat-option *ngFor="let cpu of gameServerCpus"
                        [value]="cpu.value">{{ cpu.label }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Memory</mat-label>
          <mat-select formControlName="memory">
            <mat-option *ngFor="let memory of gameServerMemories"
                        [value]="memory.value">{{ memory.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </app-toggle-section>

    <app-toggle-section [isVisible]="false"
                        title="Game Server Metadata">
      <app-metadata-fields [formArray]="form.get('gameServerTemplate').get('metadata')"></app-metadata-fields>
    </app-toggle-section>

    <app-toggle-section [isVisible]="isNew"
                        title="Game Server Ports">
      <app-port-fields [form]="ports"></app-port-fields>
    </app-toggle-section>

    <app-toggle-section [isVisible]="false"
                        title="Game Server Probes">
      <h4>Liveness Probe</h4>
      <div class="row">
        <app-probe-field [form]="form.get('gameServerTemplate').get('probes').get('liveness')"></app-probe-field>
      </div>

      <h4>Readiness Probe</h4>
      <div class="row">
        <app-probe-field [form]="form.get('gameServerTemplate').get('probes').get('readiness')"></app-probe-field>
      </div>
    </app-toggle-section>

    <app-toggle-section *ngIf="data.status"
                        title="Status">
      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>Phase</mat-label>
          <input matInput
                 disabled
                 [value]="data.status.phase" />
        </mat-form-field>

        <mat-form-field *ngIf="data.status.message"
                        floatLabel="always"
                        [matTooltip]="data.status.message.length >= 30 ? data.status.message : null"
                        matTooltipPosition="right">
          <mat-label>Message</mat-label>
          <input matInput
                 disabled
                 [value]="data.status.message" />
        </mat-form-field>
      </div>

      <h4>Components</h4>

      <div class="row">
        <mat-form-field *ngFor="let component of data.status.components"
                        floatLabel="always">
          <mat-label>{{ component.name }}</mat-label>
          <input matInput
                 disabled
                 [value]="component.phase + ' (' + component.current + ' / ' + component.total + ')'" />
        </mat-form-field>
      </div>
    </app-toggle-section>
  </form>
</div>

<div *ngIf="form && !form.disabled"
     class="page-actions">
  <div *ngFor="let error of errors"
       class="form-error">
    {{ error }}
  </div>

  <app-button color="primary"
              size="large"
              (OnClick)="save()">
    <mat-icon>save</mat-icon>
    <div>Save</div>
  </app-button>
</div>
