<ng-container *ngIf="form">
  <div class="page">
    <div class="row">
      <div class="col-sm-6">
        <app-title *ngIf="hasWriteAuthorization">{{ data?._id ? 'Edit' : 'Create' }} Queue</app-title>
        <app-title *ngIf="!hasWriteAuthorization">View Queue</app-title>
      </div>

      <div *ngIf="hasWriteAuthorization"
           class="col-sm-6 align-right">
        <app-button color="accent"
                    (OnClick)="navigateToJson()">
          <mat-icon>code</mat-icon>
          <div>{{ data?._id ? 'Edit' : 'Create' }} as JSON</div>
        </app-button>
      </div>
    </div>

    <form autocomplete="off"
          [formGroup]="form"
          id="form"
          (ngSubmit)="save()">
      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>Name</mat-label>
          <input appAutofocus
                 formControlName="name"
                 matInput
                 maxlength="64"
                 required />
          <mat-error>Enter a valid name.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Description</mat-label>
          <input formControlName="description"
                 matInput
                 maxlength="128" />
          <mat-error>Enter a valid description.</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>Game Server Template</mat-label>
          <mat-select formControlName="gameServerTemplateId"
                      placeholder="None"
                      required>
            <mat-option *ngFor="let gameServerTemplate of gameServerTemplates"
                        [value]="gameServerTemplate._id">
              {{ gameServerTemplate.name }}
            </mat-option>
          </mat-select>
          <mat-error>Select a valid Game Server Template.</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>CPU</mat-label>
          <mat-select formControlName="cpu">
            <mat-option *ngFor="let cpu of cpus"
                        [value]="cpu.value">{{ cpu.label }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Memory</mat-label>
          <mat-select formControlName="memory">
            <mat-option *ngFor="let memory of memories"
                        [value]="memory.value">{{ memory.label }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Preemptible</mat-label>
          <mat-select formControlName="preemptible">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Replicas</mat-label>
          <mat-select formControlName="replicas">
            <mat-option *ngFor="let replica of replicas"
                        [value]="replica.value">{{ replica.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>Confirmation</mat-label>
          <mat-select formControlName="confirmation">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Invitation Seconds</mat-label>
          <input formControlName="invitationSeconds"
                 matInput
                 min="0"
                 type="number" />
          <mat-error>Enter a valid duration for invitations.</mat-error>
        </mat-form-field>
      </div>

      <app-toggle-section formArrayName="usersPerTeam"
                          [isVisible]="isNew"
                          title="Players Per Team">
        <mat-form-field *ngFor="let control of usersPerTeam.controls; let i = index"
                        floatLabel="always">
          <mat-label>Team {{ i + 1 }}</mat-label>

          <input autocomplete="off"
                 [formControlName]="i"
                 matInput
                 min="1"
                 step="1"
                 type="number" />
          <app-button *ngIf="usersPerTeam.length > 1"
                      color="accent"
                      mat-icon-button
                      matSuffix
                      matTooltip="Remove Team"
                      (OnClick)="usersPerTeam.removeAt(i)">
            <mat-icon>remove</mat-icon>
          </app-button>

          <mat-error>Enter a valid number of players.</mat-error>
        </mat-form-field>

        <div class="row">
          <app-button color="accent"
                      layout="left"
                      (OnClick)="pushUsersPerTeam(usersPerTeam)">
            <mat-icon>add</mat-icon>
            <div>Add Team</div>
          </app-button>
        </div>
      </app-toggle-section>

      <app-toggle-section [isVisible]="isNew"
                          title="Thresholds">
        <app-threshold-fields [formArray]="form.get('thresholds')"></app-threshold-fields>
      </app-toggle-section>

      <app-toggle-section *ngIf="data.status"
                          title="Status">
        <div class="row">
          <mat-form-field floatLabel="always">
            <mat-label>Phase</mat-label>
            <input matInput
                   disabled
                   [value]="data.status.phase" />
          </mat-form-field>

          <mat-form-field *ngIf="data.status.message"
                          floatLabel="always"
                          [matTooltip]="data.status.message.length >= 30 ? data.status.message : null"
                          matTooltipPosition="right">
            <mat-label>Message</mat-label>
            <input matInput
                   disabled
                   [value]="data.status.message" />
          </mat-form-field>
        </div>

        <h4>Components</h4>

        <div class="row">
          <mat-form-field *ngFor="let component of data.status.components"
                          floatLabel="always">
            <mat-label>{{ component.name }}</mat-label>
            <input matInput
                   disabled
                   [value]="component.phase + ' (' + component.current + ' / ' + component.total + ')'" />
          </mat-form-field>
        </div>
      </app-toggle-section>
    </form>
  </div>

  <div *ngIf="!form.disabled"
       class="page-actions">
    <div *ngFor="let error of errors"
         class="form-error">
      {{ error }}
    </div>

    <app-button *ngIf="!isSaving"
                color="primary"
                form="form"
                size="large"
                width="full">
      <mat-icon>save</mat-icon>
      <div>Save</div>
    </app-button>
    <app-button *ngIf="isSaving"
                color="primary"
                disabled
                size="large"
                width="full">
      <mat-spinner diameter="20"></mat-spinner>
      <div>Saving...</div>
    </app-button>
  </div>
</ng-container>

<app-loading-message *ngIf="!form">Loading...</app-loading-message>
