<ng-container *ngIf="message">
  <div mat-dialog-content>
    <app-loading-message>{{ message }}</app-loading-message>
  </div>
</ng-container>

<ng-container *ngIf="!message">
  <div mat-dialog-title>Match Found</div>

  <div mat-dialog-content>
    <h2 *ngIf="storefront">{{ storefront.fullTitle }}</h2>
    <p *ngIf="queue">
      {{ queue.name }} <ng-container *ngIf="queue.description">- {{ queue.description }}</ng-container>
    </p>
  </div>

  <div mat-dialog-actions>
    <app-button mat-button
                color="accent"
                (OnClick)="declineMatchInvitation()">
      <div>Decline</div>
    </app-button>

    <app-button mat-button
                color="primary"
                (OnClick)="acceptMatchInvitation()">
      <div>Accept</div>
    </app-button>
  </div>
</ng-container>
