<ng-container *ngIf="accepted">
  <div mat-dialog-content>
    <app-loading-message>Waiting for Game Server...</app-loading-message>
  </div>
</ng-container>

<ng-container *ngIf="!accepted">
  <div mat-dialog-title>Match Found</div>

  <div mat-dialog-content>
    <p *ngIf="storefront">Storefront: {{ storefront.fullTitle }}</p>
    <p>
      Queue: {{ queue.name }}
      <ng-container *ngIf="queue.description">- {{ queue.description }}</ng-container>
    </p>
  </div>

  <div mat-dialog-actions>
    <app-button mat-button
                color="accent"
                (OnClick)="decline()">
      <div>Decline</div>
    </app-button>

    <app-button mat-button
                color="primary"
                (OnClick)="accept()">
      <div>Accept</div>
    </app-button>
  </div>
</ng-container>
