::ng-deep {
  app-match-prompt {
    app-button {
      margin-left: 8px !important;
      margin-right: 8px !important;
      margin-top: 8px !important;
    }

    app-loading-message {
      left: initial !important;
      overflow: hidden;
      position: relative !important;
      top: initial !important;
      transform: none !important;
    }

    a {
      font-size: 24px !important;
      padding: 8px 24px !important;
      text-transform: uppercase;
    }

    h2,
    p {
      margin: 8px 0px;
      text-align: center;
      white-space: pre;
    }
  }
}

div.mat-dialog-title {
  font-family: 'Oswald';
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 4px;
  padding: 16px 16px;
  text-align: center;
}
