<form [formGroup]="form">
  <ng-container *ngIf="!message">
    <mat-form-field floatLabel="always" margin-top>
      <mat-label>Password</mat-label>
      <input matInput autofocus type="password" formControlName="password" />
      <mat-error>Enter a password.</mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always" margin-top>
      <mat-label>Confirm password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
      <mat-error>Passwords do not match.</mat-error>
    </mat-form-field>

    <app-form-message *ngIf="error" level="error" text="center">{{ error }}</app-form-message>

    <app-button centered color="primary" layout="vertical" (OnClick)="submit()">
      <span>Submit</span>
    </app-button>
  </ng-container>

  <div *ngIf="message" class="form-message">
    {{ message }}
  </div>
</form>
