::ng-deep {
  app-logs-dialog {
    display: flex;
    flex-direction: column;
    max-height: inherit;
    width: 100%;
  }

  div.app-logs-dialog {
    mat-dialog-container.mat-dialog-container {
      display: flex;
      max-height: 80vh;
      max-width: 80vw;
      min-width: 50vw;
    }
  }
}

app-button {
  margin-left: 0px;
  margin-right: 8px;
}

div.col-sm-6 {
  padding: 0px;

  &:nth-child(2) {
    text-align: right;

    app-button {
      margin-left: 8px;
      margin-right: 0px;
    }
  }
}

div.log {
  display: flex;
  padding: 2px 4px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }

  &.collapsed span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.expanded span {
    white-space: pre-wrap;
  }

  span.timestamp {
    margin-right: 8px;
    overflow: initial;
    text-overflow: initial;
    white-space: nowrap;
  }
}

div.logs-container {
  flex: 1 1 auto;
  overflow: auto;
}

div.page {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

div.row {
  margin: 0px;
}
