<div *ngIf="data.$nodeIds | async as nodeIds"
     class="row">
  <div class="col-sm-3">
    <app-title>Logs</app-title>
  </div>

  <div class="col-sm-9">
    <mat-form-field floatLabel="always">
      <mat-select placeholder="No Nodes Available"
                  [disabled]="nodeIds.length === 0"
                  (selectionChange)="setNodeId($event.value)"
                  [(value)]="nodeId">
        <mat-option *ngFor="let nodeId of nodeIds"
                    [value]="nodeId.value">{{ nodeId.label }}</mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="nodeId">
      <app-button *ngIf="data.$logs | async as logs"
                  color="accent"
                  (click)="toggleVisibility(logs)">
        {{ isVisible ? 'Collapse' : 'Expand' }} All
      </app-button>

      <app-button color="primary"
                  (click)="toggleIsLive()">
        {{ isLive ? 'Stop' : 'Start' }} Live Tail
      </app-button>
    </ng-container>
  </div>
</div>

<div #container
     class="logs-container">
  <ng-container *ngIf="(data.$logs | async).length > 0">
    <div *ngFor="let log of $logs | async"
         class="log"
         [ngClass]="visibility[log.unix] ? 'expanded' : 'collapsed'"
         (click)="visibility[log.unix] = !visibility[log.unix]">
      <span class="timestamp">[{{ log.unix | date: 'M/d/yy, H:mm:ss' }}]</span>
      <span>{{ log.body }}</span>
    </div>
  </ng-container>

  <ng-container *ngIf="(data.$logs | async).length === 0">
    <div class="log">No logs found.</div>
  </ng-container>
</div>
