<div class="page">
  <app-title>{{ data && data._id ? 'Edit' : 'Create' }} Game Invitation</app-title>

  <form *ngIf="form"
        [formGroup]="form"
        autocomplete="off">
    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Game</mat-label>
        <mat-select formControlName="gameId"
                    required>
          <mat-option *ngFor="let game of ($games | async)"
                      [value]="game._id">
            {{ game.fullTitle }}
          </mat-option>
        </mat-select>
        <mat-error>Select a game.</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>Username</mat-label>
        <input matInput
               formControlName="user"
               required
               [matAutocomplete]="auto"
               (focusout)="onFocusOut()"
               (keyup)="onUsernameChanged($event.target.value)" />
        <mat-error>Select a valid User.</mat-error>

        <mat-autocomplete #auto="matAutocomplete"
                          [displayWith]="displayWith.bind(this)">
          <mat-option *ngIf="isLoading"
                      class="is-loading"
                      disabled>
            <mat-spinner diameter="25"></mat-spinner>
          </mat-option>

          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let user of users"
                        [value]="user">
              <span>{{ user.username }}</span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div *ngFor="let error of errors"
         class="form-error">
      {{ error }}
    </div>

    <app-button color="primary"
                (OnClick)="save()">Save</app-button>
    <app-button color="accent"
                routerLink="../">Cancel</app-button>
  </form>
</div>
