<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    role="navigation"
    mode="side"
    opened="true"
  >
    <mat-toolbar color="primary" class="center">
      <img src="/assets/images/logo.png" />
    </mat-toolbar>
    <div class="top-space"></div>
    <mat-nav-list>
      <a
        *ngFor="let link of links"
        mat-list-item
        [routerLink]="link.path"
        [ngClass]="{ active: router.url.includes(link.path) }"
        [hidden]="link.condition && !link.condition()"
      >
        <mat-icon>{{ link.icon }}</mat-icon>
        {{ link.label }}
      </a>
    </mat-nav-list>
    <div class="remaining"></div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button color="white" [routerLink]="['/namespaces']">
        <mat-icon>layers</mat-icon>
        {{
          selectedNamespaceService.namespace
            ? selectedNamespaceService.namespace.name
            : 'Select Namespace'
        }}
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <span class="fill-remaining-space"></span>
      <button *ngIf="identityService.user" mat-button color="white" [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
        {{ identityService.user.email }}
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button
          *ngIf="identityService && identityService.user"
          mat-menu-item
          color="white"
          [routerLink]="['/users', identityService.user._id]"
        >
          <mat-icon>create</mat-icon>
          Manage Account
        </button>
        <button mat-menu-item color="white" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Log out
        </button>
      </mat-menu>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
