@import '../../../../assets/scss/theme.scss';

div.top-space {
  background: rgba(0, 0, 0, 0.5);
  flex: 0 0 auto;
  height: 52px;
}

div.remaining {
  background: rgba(0, 0, 0, 0.5);
  border: 1px 1px 1px 1px solid black;
  flex: 1 1 auto;
}

mat-toolbar.mat-primary {
  background: rgba(0, 0, 0, 0.5);
}

mat-sidenav {
  background: transparent;
  width: 150px;

  &.mat-drawer {
    background: transparent;
  }

  mat-toolbar {
    overflow: initial;

    img {
      height: 175%;
      transform: translate(0%, 40%);
    }
  }
}

mat-sidenav-content {
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;

    button {
      text-transform: none;
    }
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100%;
}
