<div class="action">
  <ten-button color="primary" [disabled]="isButtonDisabled" (OnClick)="update()">
    <mat-icon *ngIf="buttonIcon">{{ buttonIcon }}</mat-icon>
    <span>{{ buttonText }}</span>
  </ten-button>
</div>

<div *ngIf="statusText" class="status">
  <div>
    <span>{{ statusText }}</span>
    <span
      *ngIf="
        progress && progress.current && progress.total && statusText === 'Downloading update...'
      "
    >
      {{ progress.current | filesize }} / {{ progress.total | filesize }}
    </span>
    <span
      *ngIf="
        progress && progress.current && progress.total && statusText !== 'Downloading update...'
      "
    >
      {{ progress.current }} / {{ progress.total }} Files
    </span>
  </div>

  <mat-progress-bar
    *ngIf="progress && progress.current && progress.total"
    mode="determinate"
    [value]="(progress.current / progress.total) * 100"
  ></mat-progress-bar>
</div>
