:host {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 5px black;
  display: flex;
  flex-direction: row-reverse;
  height: 75px;

  div.action {
    padding: 0px 16px;

    ::ng-deep {
      span.mat-button-wrapper span {
        font-size: 18px;
      }
    }
  }

  div.status {
    flex: 1 1 auto;
    padding-left: 16px;

    div {
      display: flex;

      span {
        flex: 1 1 auto;
        margin-bottom: 2px;

        &:last-of-type {
          text-align: right;
        }
      }
    }
  }

  ten-button {
    ::ng-deep {
      a.mat-button mat-icon.mat-icon {
        font-size: 20px;
        height: 17px;
        width: 17px;
      }
    }
  }
}
