:host {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 5px black;
  display: flex;
  flex: 0 0 auto;
  height: 75px;

  div.action {
    padding: 0px 16px;

    ::ng-deep {
      span.mat-button-wrapper span {
        font-size: 18px;
      }
    }
  }

  div.status {
    flex: 1 1 auto;
    padding-right: 16px;

    div {
      display: flex;

      span {
        flex: 1 1 auto;

        &:nth-of-type(2) {
          text-align: right;
        }
      }
    }

    ::ng-deep {
      mat-progress-bar.mat-progress-bar {
        margin-bottom: 2px;
        margin-top: 8px;
      }
    }
  }

  ten-button {
    ::ng-deep {
      a.mat-button mat-icon.mat-icon {
        color: white;
        font-size: 36px;
        height: 36px;
        line-height: 36px;
        margin-left: -4px;
        width: 36px;
      }

      mat-icon[icon='get_app'] {
        margin-bottom: -2px;
        margin-top: 2px;
      }

      span.text {
        float: right;
        font-size: 24px !important;
        margin-top: -1px !important;
        text-transform: uppercase;
      }
    }
  }
}
