<div class="page">
  <app-title>Edit Storefront Images / Videos</app-title>

  <app-toggle-section *ngIf="data"
                      title="Background Image">
    <mat-grid-list *ngIf="data.background || pending['background'].length"
                   cols="4"
                   gutterSize="8"
                   rowHeight="1920:1080">
      <mat-grid-tile *ngIf="data.background"
                     [ngStyle]="{ 'background-image': 'url(' + data.background + ')' }">
        <app-button color="accent"
                    (OnClick)="view(data.background)">
          <mat-icon>fullscreen</mat-icon>
          <div>View</div>
        </app-button>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="!data.background"
                     class="pending">
        <mat-spinner [diameter]="30"></mat-spinner>
      </mat-grid-tile>
    </mat-grid-list>

    <input #backgroundInput
           accept=".jpg,.jpeg,.png"
           hidden
           type="file"
           (change)="onFieldChanged($event, 'background')" />

    <div *ngFor="let error of uploadErrors['background']"
         class="form-error">
      {{ error }}
    </div>

    <app-button color="primary"
                (OnClick)="backgroundInput.click()">Browse</app-button>
    <app-button *ngIf="data.background"
                color="accent"
                (OnClick)="remove('background')">Remove</app-button>
  </app-toggle-section>

  <app-toggle-section *ngIf="data"
                      title="Icon Image">
    <mat-grid-list *ngIf="data.icon || pending['icon'].length"
                   cols="4"
                   gutterSize="8"
                   rowHeight="1920:1080">
      <mat-grid-tile *ngIf="data.icon"
                     class="icon"
                     [ngStyle]="{ 'background-image': 'url(' + data.icon + ')' }">
      </mat-grid-tile>

      <mat-grid-tile *ngIf="!data.icon"
                     class="pending">
        <mat-spinner [diameter]="30"></mat-spinner>
      </mat-grid-tile>
    </mat-grid-list>

    <input #iconInput
           accept=".jpg,.jpeg,.png"
           hidden
           type="file"
           (change)="onFieldChanged($event, 'icon')" />

    <div *ngFor="let error of uploadErrors['icon']"
         class="form-error">
      {{ error }}
    </div>

    <app-button color="primary"
                (OnClick)="iconInput.click()">Browse</app-button>
    <app-button *ngIf="data.icon"
                color="accent"
                (OnClick)="remove('icon')">Remove</app-button>
  </app-toggle-section>

  <app-toggle-section *ngIf="data"
                      title="Logo Image">
    <mat-grid-list *ngIf="data.logo || pending['logo'].length"
                   cols="4"
                   gutterSize="8"
                   rowHeight="1920:1080">
      <mat-grid-tile *ngIf="data.logo"
                     class="icon"
                     [ngStyle]="{ 'background-image': 'url(' + data.logo + ')' }">
      </mat-grid-tile>

      <mat-grid-tile *ngIf="!data.logo"
                     class="pending">
        <mat-spinner [diameter]="30"></mat-spinner>
      </mat-grid-tile>
    </mat-grid-list>

    <input #logoInput
           accept=".jpg,.jpeg,.png"
           hidden
           type="file"
           (change)="onFieldChanged($event, 'logo')" />

    <div *ngFor="let error of uploadErrors['logo']"
         class="form-error">
      {{ error }}
    </div>

    <app-button color="primary"
                (OnClick)="logoInput.click()">Browse</app-button>
    <app-button *ngIf="data.logo"
                color="accent"
                (OnClick)="remove('logo')">Remove</app-button>
  </app-toggle-section>

  <app-toggle-section *ngIf="data"
                      title="Images">
    <mat-grid-list *ngIf="data.images && data.images.length || pending['images'].length"
                   cols="4"
                   gutterSize="8"
                   rowHeight="1920:1080">
      <mat-grid-tile *ngFor="let image of data.images; let i = index"
                     [ngStyle]="{ 'background-image': 'url(' + image + ')' }">
        <app-button color="accent"
                    (OnClick)="view(image)">
          <mat-icon>fullscreen</mat-icon>
          <div>View</div>
        </app-button>
        <app-button color="accent"
                    (OnClick)="remove('images', i)">
          <mat-icon>close</mat-icon>
          <div>Remove</div>
        </app-button>
      </mat-grid-tile>

      <mat-grid-tile *ngFor="let image of pending['images']"
                     class="pending">
        <mat-spinner [diameter]="30"></mat-spinner>
      </mat-grid-tile>
    </mat-grid-list>

    <input #imagesInput
           accept=".jpg,.jpeg,.png"
           hidden
           multiple="true"
           type="file"
           (change)="onFieldChanged($event, 'images')" />

    <div *ngFor="let error of uploadErrors['images']"
         class="form-error">
      {{ error }}
    </div>

    <app-button color="primary"
                (OnClick)="imagesInput.click()">Browse</app-button>
  </app-toggle-section>

  <app-toggle-section *ngIf="data"
                      title="Videos">
    <mat-grid-list *ngIf="data.videos && data.videos.length || pending['videos'].length"
                   cols="4"
                   gutterSize="8"
                   rowHeight="1920:1080">
      <mat-grid-tile *ngFor="let video of data.videos; let i = index">
        <video>
          <source [src]="video"
                  type="video/mp4" />
        </video>
        <app-button color="accent"
                    (OnClick)="view(video, 'video')">
          <mat-icon>fullscreen</mat-icon>
          <div>View</div>
        </app-button>
        <app-button color="accent"
                    (OnClick)="remove('videos', i)">
          <mat-icon>close</mat-icon>
          <div>Remove</div>
        </app-button>
      </mat-grid-tile>

      <mat-grid-tile *ngFor="let image of pending['videos']"
                     class="pending">
        <mat-spinner [diameter]="30"></mat-spinner>
      </mat-grid-tile>
    </mat-grid-list>

    <input #videosInput
           accept=".mp4"
           hidden
           multiple="true"
           type="file"
           (change)="onFieldChanged($event, 'videos')" />

    <div *ngFor="let error of uploadErrors['videos']"
         class="form-error">
      {{ error }}
    </div>

    <app-button color="primary"
                (OnClick)="videosInput.click()">Browse</app-button>
  </app-toggle-section>
</div>
