@import 'src/assets/scss/page.scss';
@import 'src/assets/scss/theme.scss';

app-toggle-section {
  ::ng-deep {
    app-button {
      margin-right: 8px;
    }

    mat-spinner.mat-spinner {
      align-self: center;
    }
  }
}

mat-grid-list.mat-grid-list {
  margin-bottom: 16px;

  mat-grid-tile.mat-grid-tile {
    background-position: center;
    background-size: cover;
    filter: $drop-shadow;

    ::ng-deep {
      .mat-figure {
        align-items: flex-end;
      }
    }

    app-button {
      margin-bottom: 8px;
      margin-left: initial;
      margin-right: 0px;

      &:first-of-type {
        margin-right: 8px;
      }
    }

    video {
      align-self: center;
      height: 100%;
      object-fit: cover;
      position: absolute;
      width: 100%;
    }

    &.icon {
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.pending {
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: $box-shadow;
    }
  }
}
