:host {
  display: flex;
  height: 100%;

  &::ng-deep {
    div.content {
      flex: 1 1 auto;
      overflow: auto;
      padding: 16px;
    }

    div.nav {
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 3px 3px 5px black, -3px 3px 5px black;
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      min-width: 200px;
      overflow: auto;
      padding: 8px;
      z-index: 2;

      > * {
        margin-bottom: 4px;
      }
    }
  }
}
