<div *ngIf="form"
     class="page">
  <div class="row">
    <app-title>Account Information</app-title>
  </div>

  <app-loading-message *ngIf="loadingMessage">{{ loadingMessage }}</app-loading-message>

  <form autocomplete="off"
        [formGroup]="form"
        id="form"
        (ngSubmit)="save()">
    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Email Address</mat-label>
        <input matInput
               type="email"
               formControlName="email" />
        <mat-error>Enter a valid email address.</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>Username</mat-label>
        <input matInput
               formControlName="username" />
        <mat-error>Enter a valid username.</mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="form.get('steamId').value || form.get('steamPersonaName').value"
         class="row">
      <mat-form-field *ngIf="form.get('steamId').value"
                      floatLabel="always">
        <mat-label>Steam ID</mat-label>
        <input matInput
               formControlName="steamId" />
        <mat-error>Enter a valid Steam ID.</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="form.get('steamPersonaName').value"
                      floatLabel="always">
        <mat-label>Steam Persona name</mat-label>
        <input matInput
               formControlName="steamPersonaName" />
        <mat-error>Enter a valid Steam Persona Name.</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div *ngIf="form && !form.disabled"
     class="page-actions">
  <div *ngFor="let error of errors"
       class="form-error">
    {{ error }}
  </div>

  <app-button color="primary"
              form="form"
              size="large"
              width="full">
    <mat-icon>save</mat-icon>
    <div>Save</div>
  </app-button>
</div>
