:host::ng-deep {
  app-toggle-section {
    & > div.row {
      align-items: center;
      display: flex;
      justify-content: flex-start;

      app-button {
        margin-left: initial;
        margin-right: initial;
        width: auto;
      }

      h3 {
        color: #ffff55;
        font-size: 30px;
        font-weight: bold;
        line-height: 36px;
      }
    }
  }
}

div.container {
  flex: 1 1 auto;
  height: 0px;
  margin: 0px;
  max-width: none;
  overflow: auto;
  padding: 16px;
}

hr {
  background: white;
  border-color: white;
  margin: 20px 0px 16px;
}
