<ten-sidenav>
  <div class="content">
    <app-messages *ngIf="socialService.user"></app-messages>
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="identityService.user" class="nav">
    <ten-button color="accent" layout="vertical" text="left" width="full" (OnClick)="newMessage()">
      <mat-icon>add</mat-icon>
      <span><strong>New Message</strong></span>
    </ten-button>

    <ten-button
      color="accent"
      layout="vertical"
      text="left"
      width="full"
      (OnClick)="isConversationsVisible = !isConversationsVisible"
    >
      <span>Recent Conversations</span>
      <mat-icon>
        {{ isConversationsVisible ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}
      </mat-icon>
    </ten-button>

    <ng-container *ngIf="isConversationsVisible">
      <ten-button
        *ngFor="let group of groups"
        color="accent"
        layout="vertical"
        text="left"
        width="full"
        [ngClass]="{
          online: getConnection(group.user._id),
          offline: !getConnection(group.user._id)
        }"
        (OnClick)="setUser(group.user)"
      >
        <mat-icon>
          {{ getConnection(group.user._id) ? 'brightness_1' : 'radio_button_unchecked' }}
        </mat-icon>
        <div class="label">
          <div class="name">{{ group.user.username }}</div>
          <div class="status">{{ getConnection(group.user._id) ? 'Online' : 'Offline' }}</div>
        </div>
        <span
          *ngIf="messageState.getUnreadMessages(identityService.user._id, group.user._id).length"
          class="badge"
        >
          {{ messageState.getUnreadMessages(identityService.user._id, group.user._id).length }}
        </span>
      </ten-button>
    </ng-container>

    <ten-button
      color="accent"
      layout="vertical"
      text="left"
      width="full"
      (OnClick)="isFriendsVisible = !isFriendsVisible"
    >
      <span>Friends</span>
      <mat-icon>{{ isFriendsVisible ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
    </ten-button>

    <ng-container *ngIf="isFriendsVisible">
      <ten-button
        *ngFor="let friend of friends"
        color="accent"
        layout="vertical"
        text="left"
        width="full"
        [ngClass]="{ online: getConnection(friend._id), offline: !getConnection(friend._id) }"
        (OnClick)="setUser(friend)"
      >
        <mat-icon>
          {{ getConnection(friend._id) ? 'brightness_1' : 'radio_button_unchecked' }}
        </mat-icon>
        <div class="label">
          <div class="name">{{ friend.username }}</div>
          <div class="status">{{ getConnection(friend._id) ? 'Online' : 'Offline' }}</div>
        </div>
        <span
          *ngIf="messageState.getUnreadMessages(identityService.user._id, friend._id).length"
          class="badge"
        >
          {{ messageState.getUnreadMessages(identityService.user._id, friend._id).length }}
        </span>
      </ten-button>
    </ng-container>

    <ten-button
      color="accent"
      layout="vertical"
      text="left"
      width="full"
      (OnClick)="isIgnoredUsersVisible = !isIgnoredUsersVisible"
    >
      <span>Ignored Users</span>
      <mat-icon>
        {{ isIgnoredUsersVisible ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}
      </mat-icon>
    </ten-button>

    <ng-container *ngIf="isIgnoredUsersVisible">
      <ten-button
        *ngFor="let ignoration of ignorations"
        class="offline"
        color="accent"
        layout="vertical"
        text="left"
        width="full"
        (OnClick)="setUser(ignoration)"
      >
        <mat-icon>radio_button_unchecked</mat-icon>
        <span>{{ ignoration.username }}</span>
        <span
          *ngIf="messageState.getUnreadMessages(identityService.user._id, ignoration._id).length"
          class="badge"
        >
          {{ messageState.getUnreadMessages(identityService.user._id, ignoration._id).length }}
        </span>
      </ten-button>
    </ng-container>
  </div>
</ten-sidenav>
