<ten-sidenav>
  <div class="content" [ngStyle]="{ 'overflow-y': socialService.user ? 'hidden' : 'auto' }">
    <app-messages *ngIf="socialService.user"></app-messages>
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="identityService.user" class="nav">
    <ten-button color="accent" layout="vertical" text="left" width="full" (OnClick)="newMessage()">
      <mat-icon>add</mat-icon>
      <span><strong>New Message</strong></span>
    </ten-button>

    <ten-button
      *ngIf="($friends | async).length"
      color="accent"
      layout="vertical"
      text="left"
      width="full"
      (OnClick)="isFriendsVisible = !isFriendsVisible"
    >
      <span>Friends</span>
      <mat-icon>{{ isFriendsVisible ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
    </ten-button>

    <ng-container *ngIf="isFriendsVisible">
      <ten-button
        *ngFor="let friend of $friends | async"
        color="accent"
        layout="vertical"
        text="left"
        width="full"
        [ngClass]="{
          online: $getConnection(friend.toUserId) | async,
          offline: !($getConnection(friend.toUserId) | async)
        }"
        (OnClick)="setUser(friend.toUser)"
      >
        <mat-icon>
          {{
            ($getConnection(friend.toUserId) | async) ? 'brightness_1' : 'radio_button_unchecked'
          }}
        </mat-icon>
        <div class="label">
          <div class="name">{{ friend.toUser?.username }}</div>
          <div class="status">
            {{ ($getConnection(friend.toUserId) | async) ? 'Online' : 'Offline' }}
          </div>
        </div>
        <span *ngIf="$getUnreadMessagesCount(friend.toUserId) | async" class="badge">
          {{ $getUnreadMessagesCount(friend.toUserId) | async }}
        </span>
      </ten-button>
    </ng-container>

    <ten-button
      *ngIf="groups.length"
      color="accent"
      layout="vertical"
      text="left"
      width="full"
      (OnClick)="isConversationsVisible = !isConversationsVisible"
    >
      <span>Other Conversations</span>
      <mat-icon>
        {{ isConversationsVisible ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}
      </mat-icon>
    </ten-button>

    <ng-container *ngIf="isConversationsVisible">
      <ten-button
        *ngFor="let group of groups"
        color="accent"
        layout="vertical"
        text="left"
        width="full"
        [ngClass]="{
          online: $getConnection(group.user._id) | async,
          offline: !($getConnection(group.user._id) | async)
        }"
        (OnClick)="setUser(group.user)"
      >
        <mat-icon>
          {{ ($getConnection(group.user._id) | async) ? 'brightness_1' : 'radio_button_unchecked' }}
        </mat-icon>
        <div class="label">
          <div class="name">{{ group.user.username }}</div>
          <div class="status">
            {{ ($getConnection(group.user._id) | async) ? 'Online' : 'Offline' }}
          </div>
        </div>
        <span *ngIf="$getUnreadMessagesCount(group.user._id) | async" class="badge">
          {{ $getUnreadMessagesCount(group.user._id) | async }}
        </span>
      </ten-button>
    </ng-container>
  </div>
</ten-sidenav>
