:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 32px);
  overflow: hidden;
  width: 100vw;
}

app-header-toolbar::ng-deep {
  app-button a.mat-button span.mat-button-wrapper {
    align-items: center;
    display: flex;
    height: 27px;

    & > div {
      vertical-align: inherit;

      div {
        margin-top: -4px;
      }
    }

    img {
      height: 32px;
      max-height: initial;
      margin: -10px 12px -10px 0px;
      vertical-align: inherit;
    }

    mat-icon.mat-icon {
      line-height: 18px;
    }
  }

  mat-toolbar {
    padding: 0px 16px;
  }
}

app-sidenav {
  div.content {
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: relative;

    ::ng-deep {
      ng-component {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

div.content {
  flex: 1 1 auto;
  overflow: hidden;
  padding: 0px;
  position: relative;

  app-sidenav div.content {
    overflow: auto;
  }
}
