:host {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 32px);
  overflow: hidden;
  width: 100vw;
}

::ng-deep {
  app-layout {
    app-button {
      &.disabled {
        pointer-events: none;
      }

      &.offline {
        div.name,
        div.status,
        mat-icon.mat-icon:first-of-type {
          color: #aaaaaa !important;
        }
      }

      &.online {
        div.status {
          color: #ffff55;
        }
      }

      a[color='accent'][disabled] {
        opacity: 0.5;
      }

      div.label {
        display: inline-block;

        div.status {
          font-size: 12px;
        }
      }

      span.badge {
        background: #d74444;
        float: right;
        font-size: 12px;
        height: 20px;
        margin-left: 8px;
        margin-top: 8px;
        padding-right: 2px;
        text-align: center;
        width: 20px;
      }
    }
  }
}

div.content {
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
}

app-header-toolbar::ng-deep {
  mat-toolbar {
    padding: 0px 16px;
  }
}

app-sidenav {
  div.content {
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: relative;

    ::ng-deep {
      ng-component {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
      }
    }
  }

  div.nav {
    ::ng-deep {
      div {
        flex: 1 1 auto;
      }

      mat-progress-bar.mat-progress-bar {
        margin-bottom: 4px;
        margin-top: 2px;
      }

      span.mat-button-wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
      }
    }
  }
}
