<app-header-toolbar *ngIf="$activeGame | async as activeGame">
  <img src="/assets/images/logo.png" />

  <app-button color="accent"
              [routerLink]="['/', 'games']"
              text="left">
    <mat-icon>sports_esports</mat-icon>

    <div>
      {{ activeGame.title }}

      <div *ngIf="activeGame.subtitle">
        {{ activeGame.subtitle }}
      </div>
    </div>

    <mat-icon>keyboard_arrow_down</mat-icon>
  </app-button>

  <span class="space"></span>

  <app-button *ngIf="!electronService.isElectron"
              color="primary"
              [href]="launcherUrl">
    <span>Download Launcher</span>
  </app-button>
</app-header-toolbar>

<div *ngIf="$activeGame | async as activeGame"
     class="content">
  <app-social>
    <app-sidenav>
      <div class="nav">
        <app-button color="accent"
                    layout="vertical"
                    text="left"
                    width="full"
                    [ngClass]="{ active: router.url === '/games/' + activeGame._id }"
                    [routerLink]="['/', 'games', activeGame._id]">
          <mat-icon fontSet="material-icons-outlined">info</mat-icon>
          <span>Information</span>
        </app-button>

        <app-button *ngIf="($news | async).length"
                    color="accent"
                    layout="vertical"
                    routerLinkActive="active"
                    text="left"
                    width="full"
                    [routerLink]="['/', 'games', activeGame._id, 'news']">
          <mat-icon fontSet="material-icons-outlined">campaign</mat-icon>
          <span>News</span>
        </app-button>

        <app-button *ngIf="($patchNotes | async).length"
                    color="accent"
                    layout="vertical"
                    routerLinkActive="active"
                    text="left"
                    width="full"
                    [routerLink]="['/', 'games', activeGame._id, 'patch-notes']">
          <mat-icon>healing</mat-icon>
          <span>Patch Notes</span>
        </app-button>
      </div>

      <div *ngIf="$activeGame | async as activeGame"
           class="content">
        <router-outlet></router-outlet>
        <app-status *ngIf="$showStatusComponent | async as game"
                    [game]="game"></app-status>
      </div>
    </app-sidenav>
  </app-social>
</div>
