<app-header-toolbar>
  <img src="/assets/images/logo.png" />

  <app-button *ngIf="($games | async)?.length > 1"
              color="accent"
              routerLinkActive="active"
              text="left"
              [routerLink]="['/', 'games']"
              [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>sports_esports</mat-icon>

    <div *ngIf="$activeGame | async as activeGame; else selectAGame">
      {{ activeGame.title }}

      <div *ngIf="activeGame.subtitle">
        {{ activeGame.subtitle }}
      </div>
    </div>
    <ng-template #selectAGame>
      <span>Select a Game</span>
    </ng-template>

    <mat-icon>keyboard_arrow_down</mat-icon>
  </app-button>
  <app-button *ngIf="($games | async)?.length <= 1"
              color="accent"
              text="left">
    <mat-icon>sports_esports</mat-icon>

    <div *ngIf="$activeGame | async as activeGame">
      {{ activeGame.title }}

      <div *ngIf="activeGame.subtitle">{{ activeGame.subtitle }}</div>
    </div>
  </app-button>

  <ng-container *ngIf="$activeGame | async as activeGame">
    <app-button color="accent"
                routerLinkActive="active"
                [routerLink]="['/', 'games', activeGame._id]"
                [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
      <span>Information</span>
    </app-button>

    <app-button *ngIf="($news | async).length"
                color="accent"
                routerLinkActive="active"
                [routerLink]="['/', 'games', activeGame._id, 'news']">
      <mat-icon fontSet="material-icons-outlined">campaign</mat-icon>
      <span>News</span>
    </app-button>

    <app-button *ngIf="($patchNotes | async).length"
                color="accent"
                routerLinkActive="active"
                [routerLink]="['/', 'games', activeGame._id, 'patch-notes']">
      <mat-icon>healing</mat-icon>
      <span>Patch Notes</span>
    </app-button>
  </ng-container>

  <span class="space"></span>

  <app-button *ngIf="!electronService.isElectron"
              color="primary"
              [href]="launcherUrl">
    <span>Download Launcher</span>
  </app-button>
</app-header-toolbar>

<div class="content">
  <app-social>
    <div class="content">
      <router-outlet></router-outlet>
      <app-status *ngIf="$showStatusComponent | async as game"
                  [game]="game"></app-status>
    </div>
  </app-social>
</div>
