*.tsbuildinfo
.nyc_output
lerna-debug.log
package.json.lerna_backup
settings.sh
tscommand*.tmp.txt
yarn-error.log

**/src/**/*.d.ts
**/public/swagger.json
**/public/swagger.yaml
**/public/swagger.yml

.tscache/
dist/
node_modules/
test-results/
