<app-loading-message *ngIf="message">{{ message }}</app-loading-message>

<div *ngIf="!message"
     class="page">
  <app-title>Namespaces</app-title>

  <div class="row">
    <div class="col-sm-3">
      <app-data-source-filter [dataSource]="dataSource">
        Filter Namespaces
      </app-data-source-filter>
    </div>

    <div *ngIf="hasWriteAuthorization"
         class="offset-sm-6 col-sm-3">
      <app-button color="accent"
                  [routerLink]="['new']">
        <mat-icon>add</mat-icon>
        <div>New Namespace</div>
      </app-button>
    </div>
  </div>

  <table mat-table
         [dataSource]="dataSource"
         matSort
         matSortActive="name"
         matSortDirection="asc">
    <ng-container matColumnDef="name">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Name</th>
      <td mat-cell
          *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Status</th>
      <td mat-cell
          *matCellDef="let element">{{ getStatus(element) }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Created At</th>
      <td mat-cell
          *matCellDef="let element">{{ element.createdAt | date:"MMM d, y 'at' h:mm a" }}</td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Last Updated At</th>
      <td mat-cell
          *matCellDef="let element">{{ element.updatedAt | date:"MMM d, y 'at' h:mm a" }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell
          *matHeaderCellDef></th>
      <td mat-cell
          *matCellDef="let element">
        <app-button *ngIf="hasLogAuthorization"
                    color="accent"
                    matTooltip="Logs"
                    (OnClick)="showLogsDialog($event, element)">
          <mat-icon>subject</mat-icon>
        </app-button>

        <ng-container *ngIf="hasWriteAuthorization || hasWriteAuthorizationForNamespace(element._id)">
          <app-button color="accent"
                      appHighlight
                      matTooltip="Restart"
                      (click)="restart($event, element)">
            <mat-icon>sync</mat-icon>
          </app-button>

          <app-button color="accent"
                      appHighlight
                      matTooltip="Delete"
                      (OnClick)="showDeletePrompt($event, element)">
            <mat-icon>delete</mat-icon>
          </app-button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns"
        appHighlight
        [routerLink]="[row._id]"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"
                 showFirstLastButtons></mat-paginator>
</div>
