<app-button
  *ngIf="users.length"
  color="accent"
  layout="vertical"
  text="left"
  width="full"
  (OnClick)="isVisible = !isVisible"
>
  <span>{{ header }}</span>
  <mat-icon>
    {{ isVisible ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}
  </mat-icon>
</app-button>

<ng-container *ngIf="isVisible">
  <app-button
    *ngFor="let user of users"
    color="accent"
    layout="vertical"
    text="left"
    width="full"
    [ngClass]="{
      active: ($activeUser | async)?._id === user._id,
      online: $getConnection(user._id) | async,
      offline: ($getConnection(user._id) | async) === undefined
    }"
    (OnClick)="setUser(user)"
  >
    <mat-icon>
      {{ ($getConnection(user._id) | async) ? 'brightness_1' : 'radio_button_unchecked' }}
    </mat-icon>
    <div class="label">
      <div class="name">{{ user.username }}</div>
      <div class="status">
        <ng-container *ngIf="$getConnection(user._id) | async; else offline">
          <ng-container *ngIf="$getGroup(user._id) | async as group; else online">
            {{ group.isOpen ? 'Open' : 'Closed' }} Group ({{ group.userIds.length }} Members)
          </ng-container>
          <ng-template #online>Online</ng-template>
        </ng-container>
        <ng-template #offline>Offline</ng-template>
      </div>
    </div>
    <span *ngIf="$getUnreadMessagesCount(user._id) | async as messageCount" class="badge">
      {{ messageCount }}
    </span>
  </app-button>
</ng-container>
