import { ContextMock } from '@tenlastic/api-module';
import { expect } from 'chai';

import { {{namePascalSingular}}Mock, {{namePascalSingular}}Document } from '../../models';
import { handler } from '.';

describe('handlers/count', function() {
  let record: {{namePascalSingular}}Document;
  let user: any;

  beforeEach(async function() {
    record = await {{namePascalSingular}}Mock.create();
    user = { level: 1 };
  });

  it('returns the number of matching records', async function() {
    const ctx = new ContextMock({
      state: { user },
    });

    await handler(ctx as any);

    expect(ctx.response.body.count).to.eql(1);
  });
});
