import { Context, RestController } from '@tenlastic/api-module';

import { {{namePascalSingular}}, {{namePascalSingular}}Document, {{namePascalSingular}}Model, {{namePascalSingular}}Permissions } from '../../models';
import { router } from '../';

const restController = new RestController<{{namePascalSingular}}Document, {{namePascalSingular}}Model, {{namePascalSingular}}Permissions>(
  {{namePascalSingular}},
  new {{namePascalSingular}}Permissions(),
);

export async function handler(ctx: Context) {
  const result = await restController.count(ctx.query.where, ctx.state.user);

  ctx.response.body = { count: result };
}

router.get('/count', handler);
