@import '../../assets/scss/fonts.scss';
@import '../../assets/scss/theme.scss';

:host {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: max-content;

  &[layout='vertical'] {
    display: block;
  }

  &[text='left'] a.mat-button {
    text-align: left;
  }

  &[width='full'] {
    width: 100%;

    a.mat-button {
      width: 100%;
    }
  }

  &.active {
    a.mat-button[color='accent'],
    a.mat-button[color='accent']:hover {
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 3px 4px 5px #000000, inset 0px 0px 25px rgba(0, 0, 0, 0.25);
    }
  }

  a.mat-button {
    border-radius: 0px;
    display: block;
    font-family: 'Oswald', sans-serif;
    line-height: normal;
    padding: 8px 14px;

    &[color='primary'] {
      background: $primary;
      box-shadow: 3px 4px 5px #000000, inset 0px 0px 25px rgba(0, 0, 0, 0.25);
      color: white;

      &:hover {
        background: $primary-highlight;
        color: white;
      }
    }

    &[color='accent'] {
      background: transparent;
      color: white;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 3px 4px 5px #000000, inset 0px 0px 25px rgba(0, 0, 0, 0.25);
      }
    }

    &::ng-deep {
      img {
        filter: drop-shadow(2px 2px black);
        max-height: 20px;
        float: left;
        margin: 1px 4px 0px 0px;
      }

      mat-icon.mat-icon {
        color: #ffff55;
        font-size: 16px;
        height: 16px;
        line-height: 13px;
        vertical-align: text-bottom;
        width: 16px;
      }

      span.mat-button-wrapper span {
        margin: 0px 4px;
        outline: none;
        vertical-align: baseline;
      }
    }
  }
}
