app-markdown {
  display: block;
  margin-top: 12px;
}

app-title {
  margin-bottom: 0px;
}

div.container {
  flex: 1 1 auto;
  height: 0px;
  margin: 0px;
  max-width: none;
  overflow: auto;
  padding: 8px;
  position: relative;
}

div.type-date {
  font-size: 14px;
}

h4 {
  margin: 0px;
}
