<mat-form-field floatLabel="always">
  <mat-label>Field</mat-label>
  <mat-select placeholder="None"
              required
              [formControl]="form.controls.field | asAny">
    <mat-option *ngFor="let field of fields"
                [value]="field">{{ field }}</mat-option>
  </mat-select>
  <mat-error>Enter a valid value.</mat-error>
</mat-form-field>

<mat-form-field floatLabel="always">
  <mat-label>Operator</mat-label>
  <mat-select [formControl]="form.controls.operator | asAny">
    <mat-option *ngFor="let operator of operators"
                [value]="operator.value">
      {{ operator.label }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field floatLabel="always">
  <mat-label>Type</mat-label>
  <mat-select [formControl]="form.controls.type | asAny">
    <mat-option value="reference">Reference</mat-option>
    <mat-option value="value">Value</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="form.controls.type.value === 'reference'"
                floatLabel="always">
  <mat-label>Reference</mat-label>
  <mat-select placeholder="None"
              required
              [formControl]="form.controls.reference | asAny">
    <mat-option *ngFor="let field of referenceFields"
                [value]="field">{{ field }}</mat-option>
  </mat-select>
  <mat-error>Enter a valid value.</mat-error>
</mat-form-field>

<mat-form-field *ngIf="form.controls.type.value === 'value' && fieldType === 'boolean'"
                floatLabel="always">
  <mat-label>Type</mat-label>
  <mat-select [formControl]="form['controls'].value['controls'].boolean | asAny">
    <mat-option [value]="true">True</mat-option>
    <mat-option [value]="false">False</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="form.controls.type.value === 'value' && fieldType === 'number'"
                floatLabel="always">
  <mat-label>Value</mat-label>
  <input matInput
         type="number"
         [formControl]="form['controls'].value['controls'].number | asAny" />
  <mat-error>Enter a valid value.</mat-error>
</mat-form-field>

<mat-form-field *ngIf="form.controls.type.value === 'value' && fieldType === 'string'"
                floatLabel="always">
  <mat-label>Value</mat-label>
  <input matInput
         [formControl]="form['controls'].value['controls'].string | asAny" />
  <mat-error>Enter a valid value.</mat-error>
</mat-form-field>

<app-button *ngIf="!form.disabled"
            color="accent"
            (OnClick)="remove.emit()">
  <mat-icon>close</mat-icon>
  <div>Remove Criterion</div>
</app-button>
