module.exports = {
  async up(db) {
    await db.createCollection('{{nameCamelPlural}}', {
      collation: {
        locale: 'en_US',
        strength: 1,
      }
    });
  },

  async down(db) {
    await db.collection('{{nameCamelPlural}}').drop();
  }
};
