<app-toggle-section title="Script"
                    [canToggle]="false">
  <div class="row">
    <mat-form-field floatLabel="always">
      <mat-label>Docker Image</mat-label>
      <input matInput
             placeholder="alpine:latest"
             required
             [formControl]="formGroup.controls.image" />
      <mat-error>Enter a valid image.</mat-error>
    </mat-form-field>

    <div class="sub-section">
      <div class="row">
        <mat-form-field class="source"
                        floatLabel="always"
                        [ngClass]="{ disabled: formGroup.controls.command.disabled }">
          <mat-label>Command</mat-label>

          <mat-chip-list #chipList>
            <mat-chip *ngFor="let commandValue of command.value; let commandIndex = index"
                      [removable]="true"
                      [selectable]="false"
                      (removed)="removeStringFromFormArray(command, commandIndex)">
              {{commandValue}}
              <mat-icon *ngIf="!command.disabled"
                        matChipRemove>close</mat-icon>
            </mat-chip>
          </mat-chip-list>

          <input *ngIf="!command.disabled"
                 placeholder="/bin/sh"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="addStringToFormArray($event, command)">

          <mat-error>Enter a valid command.</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="source"
                        floatLabel="always">
          <mat-label>Source</mat-label>
          <textarea matInput
                    placeholder="echo $MESSAGE"
                    required
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="3"
                    [formControl]="formGroup.controls.source"></textarea>
          <mat-error>Enter a valid source.</mat-error>
        </mat-form-field>
      </div>

      <app-workflow-environment-variables-form [formArray]="formGroup.controls.env">
      </app-workflow-environment-variables-form>
    </div>
  </div>
</app-toggle-section>
