<app-header-toolbar>
  <img src="/assets/images/logo.png" />

  <app-button color="accent"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>home</mat-icon>
    <div>Home</div>
  </app-button>

  <app-button color="accent"
              routerLink="api-documentation"
              routerLinkActive="active">
    <mat-icon>description</mat-icon>
    <div>API Documentation</div>
  </app-button>

  <app-button color="accent"
              href="https://github.com/tenlastic/open-platform"
              target="_blank">
    <mat-icon>code</mat-icon>
    <div>Github Repository</div>
  </app-button>

  <app-button color="accent"
              routerLink="web-socket-documentation"
              routerLinkActive="active">
    <mat-icon>description</mat-icon>
    <div>Web Socket Documentation</div>
  </app-button>

  <div class="space"></div>

  <app-button *ngIf="!isElectron"
              color="primary"
              [href]="launcherUrl">
    <div>Download Launcher</div>
  </app-button>
</app-header-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>