@use '@angular/material' as mat;
@import 'src/assets/scss/theme.scss';

:host {
  color: white;
  display: block;
  font-size: 0.9rem;
  margin-bottom: 16px;

  &[level='error'] {
    color: mat.get-color-from-palette(mat.define-palette(mat.$red-palette));
  }
}
