@import '../../../../../assets/scss/page.scss';

div.col-sm-6 {
  padding: 0px;

  &:first-of-type {
    padding-right: 8px;
  }

  &:last-of-type {
    padding-left: 8px;
  }

  mat-form-field.mat-form-field {
    display: block;
  }

  & > mat-label {
    font-size: 12px;
  }
}

div.markdown-container ::ng-deep {
  a {
    color: #ffff55;
    outline: none;

    &:hover {
      color: #ffffaa;
    }
  }

  code {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: inline-block;
    padding: 8px;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0px 0px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  p {
    margin: 8px 0px;
  }

  pre,
  pre code {
    display: block;
    margin: 8px 0px;
  }
}

form {
  ten-button {
    margin-right: 8px;
  }
}

mat-form-field {
  &[width='300'] {
    width: 300px;
  }

  &[width='600'] {
    width: 600px;
  }
}
