<div *ngIf="form"
     class="page">
  <div class="row">
    <div class="col-sm-6">
      <app-title>{{ data?._id ? 'Edit' : 'Create' }} User</app-title>
    </div>
    <div class="col-sm-6">
      <app-button color="accent"
                  (OnClick)="navigateToForm()">
        <mat-icon>format_list_bulleted</mat-icon>
        <div>{{ data?._id ? 'Edit' : 'Create' }} as Form</div>
      </app-button>
    </div>
  </div>

  <form [formGroup]="form"
        autocomplete="off">
    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>JSON</mat-label>
        <textarea matInput
                  appAutofocus
                  cdkTextareaAutosize
                  formControlName="json"
                  spellcheck="false"
                  type="text"
                  (keydown)="onKeyDown($event)"
                  (keyup)="onKeyUp($event)"></textarea>
        <mat-error>JSON is not valid.</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div *ngIf="!form?.disabled"
     class="page-actions">
  <div *ngFor="let error of errors"
       class="form-error">
    {{ error }}
  </div>

  <app-button color="primary"
              size="large"
              (OnClick)="save()">
    <mat-icon>save</mat-icon>
    <div>Save</div>
  </app-button>
</div>
