@keyframes color {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255, 255, 85, 0.25);
  }
  100% {
    background-color: transparent;
  }
}

::ng-deep {
  app-social {
    app-button {
      &.offline {
        div.label,
        div.status,
        mat-icon.mat-icon {
          color: #aaaaaa !important;
        }
      }

      &.online {
        div.status {
          color: #ffff55;
        }
      }

      &.queue {
        div.status {
          color: #ffff55;
        }

        span.badge {
          background: transparent;
        }
      }

      div.label {
        display: inline-block;

        div.status {
          font-size: 12px;
        }
      }

      span.badge {
        background: #d74444;
        float: right;
        font-size: 12px;
        height: 20px;
        margin-left: 8px;
        margin-top: 8px;
        padding: 0px 4px;
        text-align: center;
      }
    }
  }
}

div.group-invitation {
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: transparent;
  padding: 8px 14px;

  &:hover {
    div.hover-off {
      display: none;
    }

    div.hover-on {
      display: block;
    }
  }

  div.hover-on {
    display: none;
    padding: 1.5px 0px;
    text-align: center;

    app-button {
      margin: 0px 4px;
    }
  }

  div.label {
    display: inline-block;

    div.name {
      font-size: 14px;
    }

    div.status {
      color: #ffff55;
      font-size: 12px;
    }
  }

  mat-icon.mat-icon {
    color: #ff5;
    font-size: 16px;
    font-weight: 500;
    line-height: 5px;
    margin-right: 6px;
    vertical-align: text-bottom;
    width: 16px;
  }
}

div.queue-member {
  background-color: transparent;
  padding: 8px 14px;

  &:hover {
    div.hover-off {
      display: none;
    }

    div.hover-on {
      display: block;
    }
  }

  div.hover-on {
    display: none;
    padding: 1.5px 0px;
    text-align: center;

    app-button {
      margin: 0px 4px;
    }
  }

  div.label {
    display: inline-block;

    div.name {
      font-size: 14px;
    }

    div.status {
      color: #ffff55;
      font-size: 12px;
    }
  }

  mat-icon.mat-icon {
    color: #ff5;
    font-size: 16px;
    font-weight: 500;
    line-height: 5px;
    margin-right: 6px;
    vertical-align: text-bottom;
    width: 16px;
  }
}

app-sidenav {
  div.content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0px;
    position: relative;

    ::ng-deep {
      ng-component {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
