paths:
  /builds/{buildId}/tasks:
    get:
      summary: Find
      tags: [BuildTasks]
      description: Finds tasks matching the search criteria.
      security:
        - AccessToken: []
      parameters:
        - in: path
          name: buildId
          schema:
            type: string
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/BuildTask'
