<ng-container
  *ngIf="{
    friend: ($friends | async)[0],
    ignoration: ($ignorations | async)[0],
    webSocket: $webSocket | async
  } as async"
>
  <div
    class="information-container"
    [ngClass]="{
      online: async.webSocket,
      offline: !async.webSocket
    }"
  >
    <mat-icon [ngClass]="{ grey: !async.webSocket }">
      {{ async.webSocket ? 'brightness_1' : 'radio_button_unchecked' }}
    </mat-icon>

    <div class="label">
      <div class="name">{{ user.username }}</div>
      <div class="status">{{ async.webSocket ? 'Online' : 'Offline' }}</div>
    </div>

    <span>
      <app-button
        *ngIf="identityService.user._id !== user._id"
        color="accent"
        [matTooltip]="async.friend ? 'Unfriend' : 'Friend'"
        matTooltipPosition="below"
        (OnClick)="toggleFriend()"
      >
        <mat-icon [ngClass]="{ grey: !async.friend }">favorite</mat-icon>
      </app-button>
      <app-button
        *ngIf="identityService.user._id !== user._id"
        color="accent"
        [matTooltip]="async.ignoration ? 'Unignore' : 'Ignore'"
        matTooltipPosition="below"
        (OnClick)="toggleIgnoration()"
      >
        <mat-icon [ngClass]="{ grey: !async.ignoration }">block</mat-icon>
      </app-button>
      <app-button
        *ngIf="$canInvite | async"
        color="accent"
        matTooltip="Invite to Group"
        matTooltipPosition="below"
        (OnClick)="inviteToGroup()"
      >
        <mat-icon>person_add_alt_1</mat-icon>
      </app-button>
      <app-button
        *ngIf="$canKick | async"
        color="accent"
        matTooltip="Kick from Group"
        matTooltipPosition="below"
        (OnClick)="kickFromGroup()"
      >
        <mat-icon>person_remove</mat-icon>
      </app-button>
      <app-button
        *ngIf="$showJoinGroupButton | async"
        color="accent"
        matTooltip="Join Group"
        matTooltipPosition="below"
        (OnClick)="joinGroup()"
      >
        <mat-icon>group_add</mat-icon>
      </app-button>
      <app-button color="accent" matTooltip="Close" matTooltipPosition="below" (OnClick)="close()">
        <mat-icon>close</mat-icon>
      </app-button>
    </span>
  </div>

  <ng-container *ngIf="!loadingMessage">
    <div #messagesScrollContainer class="messages-container">
      <ng-container *ngFor="let message of ($messages | async).slice().reverse(); let i = index">
        <div
          class="message"
          matTooltip="{{ message.createdAt | date: 'M/d/y' }} at {{
            message.createdAt | date: 'h:mm a'
          }}"
          matTooltipPosition="before"
        >
          <span class="sender">[{{ message.fromUser.username }}]:</span>
          <span>{{ message.body }}</span>
        </div>
      </ng-container>

      <div *ngIf="($messages | async).length === 0" class="no-messages">No Messages Found</div>
    </div>
    <div class="input-container">
      <mat-form-field floatLabel="never">
        <textarea
          matInput
          cdkTextareaAutosize
          placeholder="Type your message here..."
          (keydown.enter)="sendMessage($event)"
        ></textarea>
      </mat-form-field>
    </div>
  </ng-container>

  <app-loading-message *ngIf="loadingMessage">{{ loadingMessage }}</app-loading-message>
</ng-container>
