<div class="page">
  <app-title>{{ data && data._id ? 'Edit' : 'Create' }} Game Server</app-title>

  <form *ngIf="form"
        [formGroup]="form"
        autocomplete="off">
    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Name</mat-label>
        <input matInput
               required
               formControlName="name" />
        <mat-error>Enter a valid name.</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>Description</mat-label>
        <input matInput
               formControlName="description" />
        <mat-error>Enter a valid description.</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Preemptible</mat-label>
        <mat-select formControlName="preemptible">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>CPU</mat-label>
        <mat-select formControlName="cpu">
          <mat-option *ngFor="let cpu of cpus"
                      [value]="cpu.value">{{ cpu.label }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>Memory</mat-label>
        <mat-select formControlName="memory">
          <mat-option *ngFor="let memory of memories"
                      [value]="memory.value">{{ memory.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Build</mat-label>
        <mat-select formControlName="buildId"
                    placeholder="No Builds Found"
                    required>
          <mat-option *ngFor="let build of builds"
                      [value]="build._id">
            {{ build.name }}
            <ng-container *ngIf="!build.publishedAt">(Unpublished)</ng-container>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="games.length"
                      floatLabel="always">
        <mat-label>Game</mat-label>
        <mat-select formControlName="gameId"
                    placeholder="No Game">
          <mat-option [value]="null">No Game</mat-option>
          <mat-option *ngFor="let game of games"
                      [value]="game._id">
            {{ game.fullTitle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="data?.queueId"
                      floatLabel="always">
        <mat-label>Queue</mat-label>
        <input matInput
               disabled
               [value]="queue" />
      </mat-form-field>
    </div>

    <app-toggle-section title="Metadata">
      <app-metadata-fields [formArray]="form['controls'].metadata"></app-metadata-fields>
    </app-toggle-section>

    <app-toggle-section *ngIf="data._id"
                        title="Status">
      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>Phase</mat-label>
          <input matInput
                 disabled
                 [value]="data.status?.phase || 'Pending'" />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>TCP Endpoint</mat-label>
          <input disabled
                 matInput
                 [value]="data.status?.endpoints?.tcp || 'Pending'" />
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>UDP Endpoint</mat-label>
          <input disabled
                 matInput
                 [value]="data.status?.endpoints?.udp || 'Pending'" />
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Websocket Endpoint</mat-label>
          <input disabled
                 matInput
                 [value]="data.status?.endpoints?.websocket || 'Pending'" />
        </mat-form-field>
      </div>
    </app-toggle-section>

    <div *ngFor="let error of errors"
         class="form-error">
      {{ error }}
    </div>

    <app-button color="primary"
                (click)="save()">Save</app-button>
    <app-button color="accent"
                routerLink="../">Cancel</app-button>
  </form>
</div>
