@import 'src/assets/scss/theme.scss';

mat-toolbar {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: $box-shadow;
  height: 48px;
  overflow: initial;
  position: relative;
  z-index: 2;

  &::ng-deep {
    img {
      filter: $drop-shadow;
      height: 32px;
      margin-left: -2px;
      margin-right: 16px;
      margin-top: 2px;
    }

    div.space {
      flex: 1 1 auto;
    }

    app-button {
      margin-right: 8px;

      &:last-of-type {
        margin-right: 0px;
      }
    }

    div.container {
      display: flex;
    }
  }
}
