<form [formGroup]="form">
  <mat-form-field floatLabel="always">
    <mat-label>Email address</mat-label>
    <input matInput autofocus type="email" formControlName="email" />
    <mat-error>Enter a valid email address.</mat-error>
  </mat-form-field>

  <div formGroupName="passwords">
    <mat-form-field floatLabel="always" margin-top>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error>Enter a password.</mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always" margin-top>
      <mat-label>Confirm password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
      <mat-error>Passwords do not match.</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field floatLabel="always">
    <mat-label>Username</mat-label>
    <input matInput autofocus formControlName="username" />
    <mat-error>Enter a valid username.</mat-error>
  </mat-form-field>

  <ten-form-message *ngIf="error" level="error" text="center">{{ error }}</ten-form-message>

  <ten-button centered color="primary" layout="vertical" (OnClick)="submit()">
    <span>Submit</span>
  </ten-button>
</form>
