ten-sidenav {
  div.content {
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: relative;

    ::ng-deep {
      ng-component {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
      }
    }
  }

  div.nav {
    ::ng-deep {
      div {
        flex: 1 1 auto;
      }

      mat-progress-bar.mat-progress-bar {
        margin-bottom: 4px;
        margin-top: 2px;
      }

      span.mat-button-wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
      }
    }
  }
}
