<ng-container *ngIf="form">
  <div class="page">
    <div class="row">
      <div class="col-sm-6">
        <app-title *ngIf="hasWriteAuthorization">{{ data?._id ? 'Edit' : 'Create' }} User</app-title>
        <app-title *ngIf="!hasWriteAuthorization">View User</app-title>
      </div>

      <div *ngIf="hasWriteAuthorization"
           class="col-sm-6 align-right">
        <app-button color="accent"
                    (OnClick)="navigateToJson()">
          <mat-icon>code</mat-icon>
          <div>{{ data?._id ? 'Edit' : 'Create' }} as JSON</div>
        </app-button>
      </div>
    </div>

    <form autocomplete="off"
          [formGroup]="form"
          id="form"
          (ngSubmit)="save()">
      <div class="row">
        <mat-form-field floatLabel="always">
          <mat-label>Email Address</mat-label>
          <input appAutofocus
                 formControlName="email"
                 matInput
                 maxlength="256"
                 type="email" />
          <mat-error>Enter a valid email address.</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always">
          <mat-label>Username</mat-label>
          <input formControlName="username"
                 matInput
                 maxlength="24"
                 required />
          <mat-error>Enter a valid alphanumeric username.</mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="form.get('steamId').value || form.get('steamPersonaName').value"
           class="row">
        <mat-form-field *ngIf="form.get('steamId').value"
                        floatLabel="always">
          <mat-label>Steam ID</mat-label>
          <input matInput
                 formControlName="steamId" />
          <mat-error>Enter a valid Steam ID.</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="form.get('steamPersonaName').value"
                        floatLabel="always">
          <mat-label>Steam Persona name</mat-label>
          <input matInput
                 formControlName="steamPersonaName" />
          <mat-error>Enter a valid Steam Persona Name.</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div *ngIf="!form.disabled"
       class="page-actions">
    <div *ngFor="let error of errors"
         class="form-error">
      {{ error }}
    </div>

    <app-button *ngIf="!isSaving"
                color="primary"
                form="form"
                size="large"
                width="full">
      <mat-icon>save</mat-icon>
      <div>Save</div>
    </app-button>
    <app-button *ngIf="isSaving"
                color="primary"
                disabled
                size="large"
                width="full">
      <mat-spinner diameter="20"></mat-spinner>
      <div>Saving...</div>
    </app-button>
  </div>
</ng-container>

<app-loading-message *ngIf="!form">Loading...</app-loading-message>
