<div *ngIf="form"
     class="page">
  <div class="row">
    <div class="col-sm-6">
      <app-title *ngIf="hasWriteAuthorization">{{ data?._id ? 'Edit' : 'Create' }} User</app-title>
      <app-title *ngIf="!hasWriteAuthorization">View User</app-title>
    </div>

    <div *ngIf="hasWriteAuthorization"
         class="col-sm-6 align-right">
      <app-button color="accent"
                  (OnClick)="navigateToJson()">
        <mat-icon>code</mat-icon>
        <div>{{ data?._id ? 'Edit' : 'Create' }} as JSON</div>
      </app-button>
    </div>
  </div>

  <form [formGroup]="form"
        autocomplete="off">
    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Email Address</mat-label>
        <input matInput
               appAutofocus
               type="email"
               formControlName="email" />
        <mat-error>Enter a valid email address.</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Username</mat-label>
        <input matInput
               required
               formControlName="username"
               maxlength="20" />
        <mat-error>Enter a valid alphanumeric username.</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div *ngIf="form && !form.disabled"
     class="page-actions">
  <div *ngFor="let error of errors"
       class="form-error">
    {{ error }}
  </div>

  <app-button color="primary"
              size="large"
              (OnClick)="save()">
    <mat-icon>save</mat-icon>
    <div>Save</div>
  </app-button>
</div>
