<div [hidden]="!!loadingMessage">
  <h2>
    <mat-icon>person_add</mat-icon>
    Create Account
  </h2>
  <ten-registration-form (register)="onRegister($event)"></ten-registration-form>

  <div class="row">
    <div class="col-sm-6">
      <ten-button color="accent" layout="vertical" routerLink="../log-in">
        <mat-icon>lock</mat-icon>
        <span>Log In</span>
      </ten-button>
    </div>
    <div class="col-sm-6">
      <ten-button color="accent" layout="vertical" routerLink="../reset-password">
        <mat-icon>refresh</mat-icon>
        <span>Reset Password</span>
      </ten-button>
    </div>
  </div>
</div>

<ten-loading-message [hidden]="!loadingMessage">{{ loadingMessage }}</ten-loading-message>
