<mat-toolbar>
  <span class="space"></span>

  <app-button color="accent"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </app-button>

  <ng-container *ngIf="user">
    <app-button *ngIf="($authorization | async) || ($namespaces | async)?.length > 0"
                color="accent"
                routerLink="/management-portal"
                routerLinkActive="active">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>Management Portal</span>
    </app-button>

    <app-button *ngIf="($storefronts | async)?.length > 0"
                color="accent"
                [routerLink]="['/store']"
                routerLinkActive="active">
      <mat-icon>sports_esports</mat-icon>
      <span>Store</span>
    </app-button>

    <app-button color="accent"
                routerLink="/account"
                routerLinkActive="active">
      <mat-icon>{{ socket?.readyState === 1 ? 'person' : 'person_outline' }}</mat-icon>
      <span>{{ user.username }}</span>
    </app-button>
  </ng-container>

  <app-button *ngIf="!user"
              color="accent"
              routerLink="/authentication/log-in"
              routerLinkActive="active">
    <mat-icon>lock</mat-icon>
    <span>Log In</span>
  </app-button>

  <ng-container *ngIf="isElectron">
    <app-button color="accent"
                (OnClick)="minimize()">
      <mat-icon>remove</mat-icon>
    </app-button>

    <app-button color="accent"
                (OnClick)="close()">
      <mat-icon>close</mat-icon>
    </app-button>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
