<mat-toolbar class="system-toolbar">
  <div class="container">
    <span class="fill-remaining-space"></span>

    <button mat-button color="white" [matMenuTriggerFor]="view">
      <mat-icon>person</mat-icon>
      appellod@gmail.com
    </button>
    <mat-menu #view="matMenu" xPosition="before">
      <button mat-menu-item color="white">Log out</button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-toolbar class="main-toolbar">
  <div class="container">
    <div class="logo-container">
      <img routerLink="/" src="/assets/images/logo.png" />
    </div>
    <button mat-button color="white">
      Store
    </button>
    <button mat-button color="white">
      Games
    </button>
    <button mat-button color="white">
      Friends
    </button>
    <span class="fill-remaining-space"></span>
    <button
      mat-button
      color="white"
      routerLink="/contact-us"
      [ngClass]="{ active: router.url === '/contact-us' }"
    >
      Contact Us
    </button>
    <app-play-now-button></app-play-now-button>
  </div>
</mat-toolbar>

<div class="container container-small content">
  <router-outlet></router-outlet>
</div>

<app-patch-status [hidden]="!isPatchStatusVisible"></app-patch-status>
