apiVersion: v1
kind: Service
metadata:
  name: pgadmin
  namespace: postgresql
  labels:
    app: pgadmin
    service: pgadmin
spec:
  ports:
  - port: 80
    name: http
  selector:
    app: pgadmin
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: pgadmin
  namespace: postgresql
spec:
  template:
    metadata:
      labels:
        app: pgadmin
    spec:
      containers:
      - name: pgadmin
        image: dpage/pgadmin4
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        env:
        - name: PGADMIN_DEFAULT_EMAIL
          value: test@example.com
        - name: PGADMIN_DEFAULT_PASSWORD
          value: password
        - name: PGADMIN_PORT
          value: '80'
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: cloud.google.com/gke-preemptible
                    operator: Exists
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: pgadmin
  namespace: postgresql
spec:
  hosts:
  - postgresql.tenlastic.com
  gateways:
  - istio-system/istio-autogenerated-k8s-ingress
  http:
  - route:
    - destination:
        host: pgadmin
        port:
          number: 80
