<div *ngIf="form"
     class="page">
  <div class="row">
    <div class="col-sm-6">
      <app-title>{{ data?._id ? 'Edit' : 'Create' }} Storefront</app-title>
    </div>

    <div *ngIf="hasWriteAuthorization"
         class="col-sm-6 align-right">
      <app-button color="accent"
                  (OnClick)="navigateToJson()">
        <mat-icon>code</mat-icon>
        <span>{{ data?._id ? 'Edit' : 'Create' }} as JSON</span>
      </app-button>
    </div>
  </div>

  <form [formGroup]="form"
        autocomplete="off">
    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Title</mat-label>
        <input matInput
               required
               formControlName="title" />
        <mat-error>Enter a valid title.</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>Subtitle</mat-label>
        <input matInput
               formControlName="subtitle" />
        <mat-error>Enter a valid subtitle.</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <mat-form-field floatLabel="always"
                        width="full">
          <mat-label>Description</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    required
                    formControlName="description"
                    type="text"></textarea>
          <mat-error>Enter a valid description.</mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="form.get('description').value"
           class="col-sm-6">
        <mat-label>Description (Preview)</mat-label>
        <app-markdown [markdown]="form.get('description').value"></app-markdown>
      </div>
    </div>

    <app-toggle-section title="Metadata">
      <app-metadata-fields [formArray]="form['controls'].metadata"></app-metadata-fields>
    </app-toggle-section>
  </form>
</div>

<div *ngIf="!form?.disabled"
     class="page-actions">
  <div *ngFor="let error of errors"
       class="form-error">
    {{ error }}
  </div>

  <app-button color="primary"
              (OnClick)="save()">Save</app-button>
</div>
