<form [formGroup]="form"
      id="form"
      (ngSubmit)="submit()">
  <mat-form-field floatLabel="always">
    <mat-label>Username</mat-label>
    <input appAutofocus
           formControlName="username"
           matInput
           maxlength="24" />
    <mat-error>Enter a valid alphanumeric username.</mat-error>
  </mat-form-field>

  <div formGroupName="passwords">
    <mat-form-field floatLabel="always"
                    margin-top>
      <mat-label>Password</mat-label>
      <input matInput
             type="password"
             formControlName="password" />
      <mat-error>Enter a password.</mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always"
                    margin-top>
      <mat-label>Confirm password</mat-label>
      <input matInput
             type="password"
             formControlName="confirmPassword" />
      <mat-error>Passwords do not match.</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field floatLabel="always">
    <mat-label>Email address (Optional, for Password Reset)</mat-label>
    <input formControlName="email"
           matInput
           maxlength="256"
           type="email" />
    <mat-error>Enter a valid email address.</mat-error>
  </mat-form-field>

  <app-form-message *ngIf="error"
                    level="error"
                    text="center">{{ error }}</app-form-message>

  <app-button centered
              color="primary"
              form="form"
              layout="vertical">
    <div>Submit</div>
  </app-button>
</form>
