paths:
  /builds/{buildId}/platforms/{platform}/files/{_id}:
    get:
      summary: Find One
      tags: [BuildFiles]
      description: Finds a record by ID.
      security:
        - AccessToken: []
      parameters:
        - in: path
          name: buildId
          schema:
            type: string
          required: true
        - in: path
          name: platform
          schema:
            type: string
          required: true
        - in: path
          name: _id
          schema:
            type: string
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  record:
                    $ref: '#/components/schemas/BuildFile'
