apiVersion: flux.weave.works/v1beta1
kind: HelmRelease
metadata:
  name: minio
  namespace: default
  annotations:
    flux.weave.works/automated: "true"
spec:
  releaseName: minio
  chart:
    repository: https://kubernetes-charts.storage.googleapis.com/
    name: minio
    version: 4.0.3
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: cloud.google.com/gke-preemptible
                  operator: Exists
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: release
                  operator: In
                  values:
                    - minio
            topologyKey: kubernetes.io/hostname
    existingSecret: minio
    mode: distributed
    persistence:
      size: 25Gi
      storageClass: standard-expandable
    podAnnotations:
      prometheus.io/path: /minio/prometheus/metrics
      prometheus.io/port: "9000"
      prometheus.io/scrape: "true"
    replicas: 4
    resources:
      requests:
        memory: 64M
        cpu: 100m
