@import '../../../../../assets/scss/page.scss';

app-toggle-section {
  ::ng-deep {
    img {
      display: block;
      filter: drop-shadow(3px 3px 3px black);
      margin-bottom: 16px;
      max-height: 175px;
      max-width: 300px;
    }

    ten-button {
      margin-bottom: 8px;
      margin-right: 8px;
    }
  }
}

div.col-sm-6 {
  padding: 0px 8px 0px 0px;

  &:nth-of-type(2) {
    padding-left: 8px;
    padding-right: 0px;
  }
}

div.row {
  div.col-sm-3 {
    &:not(:last-of-type) {
      padding-right: 8px;
    }

    &:not(:first-of-type) {
      padding-left: 8px;
    }
  }

  div.col-sm-6 {
    &:not(:last-of-type) {
      padding-right: 8px;
    }

    &:not(:first-of-type) {
      padding-left: 8px;
    }
  }
}

form > ten-button {
  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
}

mat-grid-list.mat-grid-list {
  margin-bottom: 16px;

  mat-grid-tile.mat-grid-tile {
    background-position: center;
    background-size: cover;
    filter: drop-shadow(3px 3px 3px black);

    ::ng-deep {
      .mat-figure {
        align-items: flex-end;
      }
    }

    ten-button {
      margin-left: initial;
    }

    video {
      align-self: center;
      height: 100%;
      object-fit: cover;
      position: absolute;
      width: 100%;
    }
  }
}
