<div class="page">
  <ten-title>{{ data && data._id ? 'Edit' : 'Create' }} Game</ten-title>

  <form *ngIf="form" [formGroup]="form" autocomplete="off">
    <div class="row">
      <div class="col-sm-3">
        <mat-form-field floatLabel="always">
          <mat-label>Title</mat-label>
          <input matInput required formControlName="title" />
          <mat-error>Enter a valid title.</mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-3">
        <mat-form-field floatLabel="always">
          <mat-label>Subtitle</mat-label>
          <input matInput formControlName="subtitle" />
          <mat-error>Enter a valid subtitle.</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <mat-form-field floatLabel="always">
          <mat-label>Slug</mat-label>
          <input matInput required formControlName="slug" />
          <mat-error>Enter a valid slug.</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <mat-form-field floatLabel="always" width="full">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            required
            formControlName="description"
            type="text"
          ></textarea>
          <mat-error>Enter a valid description.</mat-error>
        </mat-form-field>
      </div>
      <div *ngIf="form.get('description').value" class="col-sm-6">
        <mat-label>Body (Preview)</mat-label>
        <ten-markdown [markdown]="form.get('description').value"></ten-markdown>
      </div>
    </div>

    <div *ngIf="error" class="form-error">
      {{ error }}
    </div>

    <ten-button color="primary" (click)="save()">Save</ten-button>
    <ten-button color="accent" routerLink="../">Cancel</ten-button>

    <app-toggle-section *ngIf="data._id" isVisible="true" title="Background Image">
      <img *ngIf="data.background" [src]="data.background" />

      <input
        #backgroundInput
        accept=".jpg,.jpeg,.png"
        hidden
        type="file"
        (change)="onFieldChanged($event, 'background')"
      />

      <ten-button color="primary" (OnClick)="backgroundInput.click()">Browse</ten-button>
      <ten-button *ngIf="data.background" color="accent" (OnClick)="remove('background')">
        Remove
      </ten-button>
    </app-toggle-section>

    <app-toggle-section *ngIf="data._id" isVisible="true" title="Icon Image">
      <img *ngIf="data.icon" [src]="data.icon" />

      <input
        #iconInput
        accept=".jpg,.jpeg,.png"
        hidden
        type="file"
        (change)="onFieldChanged($event, 'icon')"
      />

      <ten-button color="primary" (OnClick)="iconInput.click()">Browse</ten-button>
      <ten-button *ngIf="data.icon" color="accent" (OnClick)="remove('icon')">Remove</ten-button>
    </app-toggle-section>

    <app-toggle-section *ngIf="data._id" isVisible="true" title="Images">
      <mat-grid-list
        *ngIf="data.images && data.images.length"
        cols="4"
        gutterSize="8"
        rowHeight="1920:1080"
      >
        <mat-grid-tile
          *ngFor="let image of data.images; let i = index"
          [ngStyle]="{ 'background-image': 'url(' + image + ')' }"
        >
          <ten-button color="accent" (OnClick)="view(image)">
            <mat-icon>fullscreen</mat-icon>
            <span>View</span>
          </ten-button>
          <ten-button color="accent" (OnClick)="remove('images', i)">
            <mat-icon>close</mat-icon>
            <span>Remove</span>
          </ten-button>
        </mat-grid-tile>
      </mat-grid-list>

      <input
        #imagesInput
        accept=".jpg,.jpeg,.png"
        hidden
        multiple="true"
        type="file"
        (change)="onFieldChanged($event, 'images', true)"
      />

      <ten-button color="primary" (OnClick)="imagesInput.click()">Browse</ten-button>
    </app-toggle-section>

    <app-toggle-section *ngIf="data._id" isVisible="true" title="Videos">
      <mat-grid-list
        *ngIf="data.videos && data.videos.length"
        cols="4"
        gutterSize="8"
        rowHeight="1920:1080"
      >
        <mat-grid-tile *ngFor="let video of data.videos; let i = index">
          <video>
            <source [src]="video" type="video/mp4" />
          </video>
          <ten-button color="accent" (OnClick)="view(video, 'video')">
            <mat-icon>fullscreen</mat-icon>
            <span>View</span>
          </ten-button>
          <ten-button color="accent" (OnClick)="remove('videos', i)">
            <mat-icon>close</mat-icon>
            <span>Remove</span>
          </ten-button>
        </mat-grid-tile>
      </mat-grid-list>

      <input
        #videosInput
        accept=".mp4"
        hidden
        multiple="true"
        type="file"
        (change)="onFieldChanged($event, 'videos', true)"
      />

      <ten-button color="primary" (OnClick)="videosInput.click()">Browse</ten-button>
    </app-toggle-section>
  </form>
</div>
