<div class="page">
  <app-title>{{ data && data._id ? 'Edit' : 'Create' }} Build</app-title>

  <form *ngIf="form"
        [formGroup]="form"
        autocomplete="off">
    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Version</mat-label>
        <input matInput
               required
               formControlName="version" />
        <mat-error>Enter a valid version.</mat-error>
      </mat-form-field>
    </div>

    <div *ngFor="let error of errors"
         class="form-error">
      {{ error }}
    </div>

    <app-button color="primary"
                (OnClick)="save()">Save</app-button>
    <app-button color="accent"
                routerLink="../">Cancel</app-button>

    <ng-container *ngIf="data._id">
      <app-toggle-section *ngFor="let platform of platforms"
                          [isVisible]="false"
                          [title]="platform.label">
        <app-files-form [build]="data"
                        [platform]="platform.value"></app-files-form>
      </app-toggle-section>
    </ng-container>
  </form>
</div>
