@import 'src/assets/scss/form.scss';

div.col-sm-6 {
  margin: 0px;
  padding: 0px;
}

div.row {
  app-button {
    align-self: center;
  }
}

mat-form-field.mat-form-field {
  display: inline-block;
  margin-right: 16px;
}
