<input #selectFilesInput
       directory
       hidden
       webkitdirectory
       type="file"
       (change)="onFilesChanged($event)" />

<div class="row">
  <div class="col-sm-3">
    <mat-form-field floatLabel="always">
      <mat-label>Reference Build</mat-label>
      <mat-select *ngIf="referenceBuild"
                  [formControl]="form.get('reference').get('_id')">
        <mat-option *ngFor="let build of builds"
                    [value]="build._id">
          {{ build.version }}
        </mat-option>
      </mat-select>
      <input *ngIf="!referenceBuild"
             disabled
             matInput
             value="No Reference Build" />
    </mat-form-field>
  </div>

  <ng-container *ngIf="form.get('platform').value !== 'server64'">
    <div *ngIf="referenceBuild"
         class="col-sm-3 justify-right">
      <mat-form-field floatLabel="always">
        <mat-label>Reference Entrypoint</mat-label>
        <input matInput
               disabled
               [value]="referenceBuild?.entrypoint" />
      </mat-form-field>
    </div>

    <div *ngIf="form.get('files').value.length"
         class="col-sm-3 justify-right"
         [ngClass]="{ 'offset-sm-3': referenceBuild }">
      <mat-form-field floatLabel="always">
        <mat-label>Entrypoint</mat-label>
        <input matInput
               required
               [formControl]="form.get('entrypoint')" />
        <mat-error>Enter a valid entrypoint.</mat-error>
      </mat-form-field>
    </div>
  </ng-container>
</div>

<div class="row">
  <div *ngIf="referenceBuild"
       class="col-sm-6 list">
    <mat-label>
      <span>Reference Files</span>
    </mat-label>

    <mat-list>
      <mat-list-item *ngFor="let file of referenceBuild.files"
                     [attr.status]="file.status">
        <span>{{ file.path }}</span>
        <span *ngIf="
            file.uncompressedBytes !== undefined && file.uncompressedBytes !== null
          ">
          {{ file.uncompressedBytes | filesize }}
        </span>
      </mat-list-item>
    </mat-list>

    <mat-hint>
      <span>Count: {{ referenceBuild.files.length }}</span>
      <span>Size: {{ referenceBuild.files | sum: 'uncompressedBytes' | filesize }}</span>
    </mat-hint>
  </div>

  <div *ngIf="stagedFiles.length"
       class="col-sm-6 list">
    <mat-label>
      <span>Staged Files</span>
    </mat-label>

    <mat-list>
      <mat-list-item *ngFor="let file of stagedFiles"
                     class="pointer"
                     [attr.status]="file.status"
                     (click)="setEntrypoint(file.path)">
        <span>{{ file.path }}</span>
        <span *ngIf="
            file.uncompressedBytes !== undefined && file.uncompressedBytes !== null
          ">
          {{ file.uncompressedBytes | filesize }}
        </span>
      </mat-list-item>
    </mat-list>

    <mat-hint>
      <span>
        Count: {{ modifiedFiles.length }} Modified, {{ removedFiles.length }} Removed,
        {{ unmodifiedFiles.length }} Unmodified
      </span>
      <span>
        Size: {{ modifiedFiles | sum: 'uncompressedBytes' | filesize }} Modified,
        {{ removedFiles | sum: 'uncompressedBytes' | filesize }} Removed,
        {{ unmodifiedFiles | sum: 'uncompressedBytes' | filesize }} Unmodified
      </span>
    </mat-hint>
  </div>
</div>

<app-button *ngIf="!form.get('files').disabled"
            [color]="form.get('files').value.length ? 'accent' : 'primary'"
            [disabled]="status"
            (OnClick)="selectFilesInput.click()">
  <mat-spinner *ngIf="status"
               [diameter]="20"></mat-spinner>
  <span>{{ status ? status : 'Browse' }}</span>
</app-button>
