<input #selectFilesInput
       directory
       hidden
       webkitdirectory
       type="file"
       (change)="onFilesChanged($event)" />

<div class="row">
  <div *ngIf="isNew"
       class="col-sm-6">
    <div class="margin-bottom">
      <mat-form-field floatLabel="always">
        <mat-label>Reference Build</mat-label>

        <mat-select placeholder="No Reference Build"
                    [formControl]="form.get('reference').get('_id')">
          <mat-option>No Reference Build</mat-option>
          <mat-option *ngFor="let build of builds"
                      [value]="build._id">
            {{ build.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="list">
      <mat-label>
        <span>Reference Files</span>
      </mat-label>

      <mat-list>
        <mat-list-item *ngFor="let file of referenceBuild?.files"
                       [attr.status]="file.status">
          <span>{{ file.path }}</span>
          <span *ngIf="file.uncompressedBytes !== undefined && file.uncompressedBytes !== null">
            {{ file.uncompressedBytes | filesize }}
          </span>
        </mat-list-item>
      </mat-list>

      <mat-hint>
        <span>Count: {{ referenceBuild ? referenceBuild.files.length : 0 }}</span>
        <span>Size: {{ referenceBuild ? (referenceBuild.files | sum: 'uncompressedBytes' | filesize) : '0 B' }}</span>
      </mat-hint>
    </div>
  </div>

  <div *ngIf="!isNew || form.get('files').value.length > 0 || referenceBuild"
       class="col-sm-6">
    <div class="margin-bottom">
      <mat-form-field floatLabel="always">
        <mat-label>{{ form.get('platform').value === 'server64' ? 'Dockerfile' : 'Entrypoint' }}</mat-label>
        <input matInput
               required
               [formControl]="form.get('entrypoint')" />
        <mat-error>Enter a valid entrypoint.</mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="form.get('files').value.length > 0"
         class="list">
      <mat-label>
        <span>{{ isNew ? 'Staged Files' : 'Files' }}</span>
      </mat-label>

      <mat-list>
        <mat-list-item *ngFor="let file of form.get('files').value"
                       [attr.status]="file.status"
                       [ngClass]="{ pointer: isNew }"
                       (click)="setEntrypoint(file.path)">
          <span>{{ file.path }}</span>
          <span *ngIf="
            file.uncompressedBytes !== undefined && file.uncompressedBytes !== null
          ">
            {{ file.uncompressedBytes | filesize }}
          </span>
        </mat-list-item>
      </mat-list>

      <mat-hint>
        <span *ngIf="isNew">
          Count: {{ modifiedFiles.length }} Modified, {{ removedFiles.length }} Removed,
          {{ unmodifiedFiles.length }} Unmodified
        </span>
        <span *ngIf="isNew">
          Size: {{ modifiedFiles | sum: 'uncompressedBytes' | filesize }} Modified,
          {{ removedFiles | sum: 'uncompressedBytes' | filesize }} Removed,
          {{ unmodifiedFiles | sum: 'uncompressedBytes' | filesize }} Unmodified
        </span>
      </mat-hint>
    </div>

    <div *ngIf="form.get('files').value.length === 0 && referenceBuild"
         class="list">
      <mat-label>
        <span>{{ isNew ? 'Staged Files' : 'Files' }}</span>
      </mat-label>

      <mat-list>
        <mat-list-item *ngFor="let file of referenceBuild?.files"
                       [attr.status]="file.status"
                       [ngClass]="{ pointer: isNew }"
                       (click)="setEntrypoint(file.path)">
          <span>{{ file.path }}</span>
          <span *ngIf="file.uncompressedBytes !== undefined && file.uncompressedBytes !== null">
            {{ file.uncompressedBytes | filesize }}
          </span>
        </mat-list-item>
      </mat-list>

      <mat-hint>
        <span *ngIf="isNew">
          Count: {{ modifiedFiles.length }} Modified, {{ removedFiles.length }} Removed,
          {{ referenceBuild.files.length }} Unmodified
        </span>
        <span *ngIf="isNew">
          Size: {{ modifiedFiles | sum: 'uncompressedBytes' | filesize }} Modified,
          {{ removedFiles | sum: 'uncompressedBytes' | filesize }} Removed,
          {{ referenceBuild.files | sum: 'uncompressedBytes' | filesize }} Unmodified
        </span>
      </mat-hint>
    </div>
  </div>
</div>

<ng-container *ngIf="isNew">
  <app-button [color]="form.get('files').value.length && !status ? 'accent' : 'primary'"
              [disabled]="status"
              (OnClick)="selectFilesInput.click()">
    <mat-spinner *ngIf="status"
                 [diameter]="20"></mat-spinner>
    <span>{{ status ? status : 'Select Files from Computer' }}</span>
  </app-button>

  <app-button *ngIf="form.get('files').value.length > 0 && !status"
              color="accent"
              (OnClick)="useReferenceFiles()">
    <span>Select Reference Files</span>
  </app-button>
</ng-container>
