*.tsbuildinfo
**/public/swagger.json
**/public/swagger.yml
.nyc_output
lerna-debug.log
npm-debug.log
package.json.lerna_backup
settings.sh
tscommand*.tmp.txt

.tscache/
coverage/
dist/
node_modules/
test-results/
*/*/*/release/
