<app-header-toolbar>
  <img src="/assets/images/logo.png" />

  <span class="space"></span>

  <app-button *ngIf="!isElectron"
              color="primary"
              [href]="launcherUrl">
    <span>Download Launcher</span>
  </app-button>
</app-header-toolbar>

<div class="content">
  <app-social>
    <app-sidenav>
      <div appNav
           class="nav">
        <app-button color="accent"
                    layout="vertical"
                    [routerLink]="['./']"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    text="left"
                    width="full">
          <mat-icon>search</mat-icon>
          <span>Search</span>
        </app-button>

        <hr *ngIf="($storefronts | async)?.length">

        <app-button *ngFor="let storefront of ($storefronts | async)"
                    color="accent"
                    layout="vertical"
                    [routerLink]="[storefront.namespaceId]"
                    routerLinkActive="active"
                    text="left"
                    width="full">
          <mat-icon>sports_esports</mat-icon>
          <span>{{ storefront.title }}</span>
        </app-button>
      </div>
      <router-outlet></router-outlet>
    </app-sidenav>
  </app-social>
</div>
