.refresh-token-prompt {
  div.mat-dialog-actions {
    ::ng-deep {
      app-button {
        margin-left: 0px;
        margin-right: 0px;

        &:first-of-type {
          margin-right: 4px;
        }

        &:last-of-type {
          margin-left: 4px;
        }
      }
    }
  }

  div.mat-dialog-content {
    p {
      word-break: break-all;
    }
  }

  div.mat-dialog-title {
    margin-bottom: 4px;
  }
}
