<div class="page">
  <ten-title>{{ data && data._id ? 'Edit' : 'Create' }} Refresh Token</ten-title>

  <form *ngIf="form" [formGroup]="form" autocomplete="off">
    <div *ngIf="form.get('jti').value" class="row">
      <mat-form-field floatLabel="always">
        <mat-label>JWT ID</mat-label>
        <input disabled matInput formControlName="jti" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
        <mat-error>Enter a valid description.</mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="error" class="form-error">
      {{ error }}
    </div>

    <ten-button color="primary" (click)="save()">Save</ten-button>
    <ten-button color="accent" routerLink="../">Cancel</ten-button>
  </form>
</div>
