<div class="page">
  <app-title>{{ plural }}</app-title>

  <div class="row">
    <div class="col-sm-3">
      <app-data-source-filter [dataSource]="dataSource">Filter {{ plural }}</app-data-source-filter>
    </div>

    <div *ngIf="hasWriteAuthorization"
         class="offset-sm-6 col-sm-3">
      <app-button color="accent"
                  [routerLink]="['new']">
        <mat-icon>add</mat-icon>
        <span>New {{ singular }}</span>
      </app-button>
    </div>
  </div>

  <table mat-table
         [dataSource]="dataSource"
         matSort
         matSortActive="createdAt"
         matSortDirection="desc">
    <ng-container matColumnDef="type">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Type</th>
      <td mat-cell
          *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Title</th>
      <td mat-cell
          *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="publishedAt">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Published At</th>
      <td mat-cell
          *matCellDef="let element">{{ element.publishedAt | date }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Created At</th>
      <td mat-cell
          *matCellDef="let element">{{ element.createdAt | date }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell
          *matHeaderCellDef></th>
      <td mat-cell
          *matCellDef="let element">
        <ng-container *ngIf="hasWriteAuthorization">
          <app-button *ngIf="element.publishedAt"
                      color="accent"
                      appHighlight
                      matTooltip="Unpublish"
                      (OnClick)="unpublish($event, element)">
            <mat-icon>visibility_off</mat-icon>
          </app-button>

          <app-button *ngIf="!element.publishedAt"
                      color="accent"
                      appHighlight
                      matTooltip="Publish"
                      (OnClick)="publish($event, element)">
            <mat-icon>visibility</mat-icon>
          </app-button>

          <app-button color="accent"
                      appHighlight
                      matTooltip="Delete"
                      (OnClick)="showDeletePrompt($event, element)">
            <mat-icon>delete</mat-icon>
          </app-button>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns"
        appHighlight
        [routerLink]="[row._id]"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"
                 showFirstLastButtons></mat-paginator>
</div>
