<app-header-toolbar *ngIf="!isElectron">
  <img src="/assets/images/logo.png" />

  <div class="space"></div>

  <app-button color="primary"
              [href]="launcherUrl">
    <div>Download Launcher</div>
  </app-button>
</app-header-toolbar>

<div class="content">
  <app-sidenav>
    <div class="nav">
      <app-button color="accent"
                  layout="vertical"
                  routerLink="/account"
                  routerLinkActive="active"
                  text="left"
                  width="full">
        <mat-icon>manage_accounts</mat-icon>
        <div>Account Information</div>
      </app-button>

      <app-button color="accent"
                  layout="vertical"
                  routerLink="/authentication/log-out"
                  routerLinkActive="active"
                  text="left"
                  width="full">
        <mat-icon>logout</mat-icon>
        <div>Log Out</div>
      </app-button>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </app-sidenav>
</div>