<mat-form-field floatLabel="always">
  <mat-label>Username</mat-label>
  <input matInput
         [formControl]="control"
         [matAutocomplete]="autocomplete"
         (focusout)="onFocusOut()"
         (keyup)="onUsernameChanged($event.target.value)" />
  <mat-error>Select a valid User.</mat-error>

  <mat-autocomplete #autocomplete="matAutocomplete"
                    [displayWith]="displayWith">
    <mat-option *ngIf="isLoading"
                class="is-loading"
                disabled>
      <mat-spinner diameter="25"></mat-spinner>
    </mat-option>

    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let user of ($users | async)"
                  [value]="user">
        <div>{{ user.username }}</div>
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>
