<div class="page">
  <ten-title>{{ data && data._id ? 'Edit' : 'Create' }} Release</ten-title>

  <form *ngIf="form" [formGroup]="form" autocomplete="off">
    <div class="row">
      <mat-form-field floatLabel="always" width="300">
        <mat-label>Game</mat-label>
        <mat-select [formControl]="form.controls.gameId | asAny">
          <mat-option *ngFor="let game of games" [value]="game._id">
            {{ game.title }}
          </mat-option>
        </mat-select>
        <mat-error>Choose a game.</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field floatLabel="always" width="300">
        <mat-label>Version</mat-label>
        <input matInput required formControlName="version" />
        <mat-error>Enter a valid version.</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field floatLabel="always" width="300">
        <mat-label>Entrypoint</mat-label>
        <input matInput required formControlName="entrypoint" />
        <mat-error>Enter a valid entrypoint.</mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="error" class="form-error">
      {{ error }}
    </div>

    <ten-button color="primary" (OnClick)="save()">Save</ten-button>
    <ten-button color="accent" routerLink="../">Cancel</ten-button>

    <app-toggle-section
      *ngFor="let platform of platforms"
      [isVisible]="false"
      [title]="platform.label"
    >
      <app-files-form></app-files-form>
    </app-toggle-section>
  </form>
</div>
