<div [hidden]="!!loadingMessage">
  <img src="/assets/images/logo.png" />

  <h2>
    <mat-icon>refresh</mat-icon>
    Reset Password
  </h2>

  <app-password-reset-form (passwordReset)="onPasswordReset($event)"></app-password-reset-form>

  <div class="row">
    <div class="col-sm-6">
      <app-button color="accent"
                  layout="vertical"
                  routerLink="../../log-in">
        <mat-icon>lock</mat-icon>
        <div>Log In</div>
      </app-button>
    </div>
    <div class="col-sm-6">
      <app-button color="accent"
                  layout="vertical"
                  routerLink="../../create-account">
        <mat-icon>person_add</mat-icon>
        <div>Create Account</div>
      </app-button>
    </div>
  </div>
</div>

<app-loading-message [hidden]="!loadingMessage">{{ loadingMessage }}</app-loading-message>
