<div [hidden]="!!loadingMessage">
  <img src="/assets/images/logo.png" />

  <h2>
    <mat-icon>lock</mat-icon>
    Log In
  </h2>

  <app-login-form (logIn)="onLogIn($event)"></app-login-form>

  <div class="row">
    <div class="col-sm-6">
      <app-button color="accent"
                  layout="vertical"
                  routerLink="../create-account">
        <mat-icon>person_add</mat-icon>
        <div>Create Account</div>
      </app-button>
    </div>
    <div class="col-sm-6">
      <app-button color="accent"
                  layout="vertical"
                  routerLink="../reset-password">
        <mat-icon>refresh</mat-icon>
        <div>Reset Password</div>
      </app-button>
    </div>
  </div>

  <div class="separator">OR</div>

  <div class="row">
    <a [href]="steamUrl">
      <app-button color="accent"
                  layout="vertical">
        <img src="/assets/images/steam-icon.png">
        <div>Log In With Steam</div>
      </app-button>
    </a>
  </div>
</div>

<app-loading-message [hidden]="!loadingMessage">{{ loadingMessage }}</app-loading-message>
