<div *ngIf="!statusText"
     class="action">
  <app-button color="primary"
              [disabled]="!buttonAction"
              (OnClick)="buttonAction()"
              size="large"
              width="full">
    <mat-icon *ngIf="buttonIcon">{{ buttonIcon }}</mat-icon>
    <div>{{ buttonText }}</div>
  </app-button>

  <ng-container *ngIf="status.state === UpdateServiceState.Ready">
    <app-button *ngIf="($hasPermission(IAuthorization.gameServerRoles) | async) && ($showGameServers | async)"
                color="accent"
                [routerLink]="['/', 'store', namespaceId, 'game-servers']"
                routerLinkActive="active"
                size="large"
                width="full">
      <mat-icon>public</mat-icon>
      <div>Game Servers</div>
    </app-button>

    <app-button *ngIf="($hasPermission(IAuthorization.queueRoles) | async) && ($showQueues | async)"
                color="accent"
                [routerLink]="['/', 'store', namespaceId, 'queues']"
                routerLinkActive="active"
                size="large"
                width="full">
      <mat-icon>hourglass_bottom</mat-icon>
      <div>Queues</div>
    </app-button>
  </ng-container>

  <ng-container *ngIf="status.state === UpdateServiceState.NotUpdated || status.state === UpdateServiceState.Ready">
    <app-button color="accent"
                matTooltip="Show in Explorer"
                (OnClick)="showInExplorer()"
                size="large">
      <mat-icon>folder</mat-icon>
    </app-button>

    <app-button color="accent"
                matTooltip="Check for Updates / Repair Installation"
                (OnClick)="sync()"
                size="large">
      <mat-icon>build</mat-icon>
    </app-button>

    <app-button color="accent"
                matTooltip="Delete Installation"
                (OnClick)="delete()"
                size="large">
      <mat-icon>delete</mat-icon>
    </app-button>
  </ng-container>
</div>

<div *ngIf="statusText"
     class="status">
  <div>
    <div>{{ statusText }}</div>
    <div *ngIf="progressText">{{ progressText }}</div>
  </div>

  <mat-progress-bar [mode]="hasProgress ? 'determinate' : 'indeterminate'"
                    [value]="progressPercentage * 100"></mat-progress-bar>
</div>