<div *ngIf="!statusText"
     class="action">
  <app-button color="primary"
              [disabled]="isButtonDisabled"
              (OnClick)="click()">
    <mat-icon *ngIf="buttonIcon">{{ buttonIcon }}</mat-icon>
    <div class="text">{{ buttonText }}</div>
  </app-button>

  <ng-container *ngIf="status.state === UpdateServiceState.Ready">
    <app-button color="accent"
                [routerLink]="['/', 'store', namespaceId, 'game-servers']"
                routerLinkActive="active">
      <mat-icon>public</mat-icon>
      <div class="text">Game Servers</div>
    </app-button>

    <app-button color="accent"
                [routerLink]="['/', 'store', namespaceId, 'queues']"
                routerLinkActive="active">
      <mat-icon>hourglass_bottom</mat-icon>
      <div class="text">Queues</div>
    </app-button>

    <app-button color="accent"
                matTooltip="Show in Explorer"
                (OnClick)="showInExplorer()">
      <mat-icon>folder</mat-icon>
      <div class="text"></div>
    </app-button>

    <app-button color="accent"
                matTooltip="Check for Updates / Repair Installation"
                (OnClick)="sync()">
      <mat-icon>build</mat-icon>
      <div class="text"></div>
    </app-button>

    <app-button color="accent"
                matTooltip="Delete Installation"
                (OnClick)="delete()">
      <mat-icon>delete</mat-icon>
      <div class="text"></div>
    </app-button>
  </ng-container>
</div>

<div *ngIf="statusText"
     class="status">
  <div>
    <div>{{ statusText }}</div>
    <div *ngIf="progressText">{{ progressText }}</div>
  </div>

  <mat-progress-bar [mode]="progress ? 'determinate' : 'indeterminate'"
                    [value]="progress"></mat-progress-bar>
</div>
