paths:
  /databases/count:
    get:
      summary: Count
      tags: [Databases]
      description: Returns the number of matching records for the query.
      security:
        - AccessToken: []
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
