<div *ngFor="let port of form.controls; let i = index"
     class="row"
     [formGroup]="form.at(i)">
  <mat-form-field floatLabel="always">
    <mat-label>Port</mat-label>
    <input formControlName="port"
           matInput
           max="65535"
           min="1"
           type="number" />
    <mat-error>Enter a valid port.</mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Protocol</mat-label>
    <mat-select formControlName="protocol">
      <mat-option [value]="Protocol.Tcp">TCP</mat-option>
      <mat-option [value]="Protocol.Udp">UDP</mat-option>
    </mat-select>
  </mat-form-field>

  <app-button *ngIf="!form?.disabled && i > 0"
              color="accent"
              layout="left"
              (OnClick)="removeAt(i)">
    <mat-icon>close</mat-icon>
    <div>Remove</div>
  </app-button>
</div>

<div *ngIf="!form?.disabled"
     class="row">
  <app-button color="accent"
              layout="left"
              (OnClick)="push()">
    <mat-icon>add</mat-icon>
    <div>Add Port</div>
  </app-button>
</div>
