<app-sidenav>
  <div appNav
       class="nav">
    <img *ngIf="($storefront | async)?.logo"
         [src]="($storefront | async)?.logo">

    <app-button color="accent"
                layout="vertical"
                [routerLink]="['./']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                text="left"
                width="full">
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
      <span>Information</span>
    </app-button>

    <ng-container *ngIf="$hasPermission(IAuthorization.articleRoles) | async">
      <app-button *ngIf="($guides | async)?.length"
                  color="accent"
                  layout="vertical"
                  [routerLink]="['guides']"
                  routerLinkActive="active"
                  text="left"
                  width="full">
        <mat-icon fontSet="material-icons-outlined">format_list_bulleted</mat-icon>
        <span>Guides</span>
      </app-button>

      <app-button *ngIf="($news | async)?.length"
                  color="accent"
                  layout="vertical"
                  [routerLink]="['news']"
                  routerLinkActive="active"
                  text="left"
                  width="full">
        <mat-icon fontSet="material-icons-outlined">campaign</mat-icon>
        <span>News</span>
      </app-button>

      <app-button *ngIf="($patchNotes | async)?.length"
                  color="accent"
                  layout="vertical"
                  [routerLink]="['patch-notes']"
                  routerLinkActive="active"
                  text="left"
                  width="full">
        <mat-icon>healing</mat-icon>
        <span>Patch Notes</span>
      </app-button>
    </ng-container>
  </div>

  <router-outlet></router-outlet>
</app-sidenav>

<app-download *ngIf="!isElectron"
              [storefront]="$storefront | async"></app-download>

<app-status *ngIf="status"
            [namespaceId]="namespaceId"></app-status>
