::ng-deep {
  app-input-dialog {
    app-button {
      margin-left: 4px !important;
      margin-right: 4px !important;
    }
  }
}

div.mat-dialog-actions {
  padding-top: 0px;

  button {
    margin-bottom: 0px;
  }
}

div.mat-dialog-title {
  font-family: 'Oswald';
  font-weight: bold;
}

form {
  margin-top: 4px;
}
