<app-loading-message *ngIf="message">{{ message }}</app-loading-message>

<div *ngIf="!message"
     class="page">
  <app-title>Web Sockets</app-title>

  <div class="row">
    <div class="col-sm-3">
      <app-data-source-filter [dataSource]="dataSource">
        Filter Web Sockets
      </app-data-source-filter>
    </div>
  </div>

  <table mat-table
         [dataSource]="dataSource"
         matSort
         matSortActive="createdAt"
         matSortDirection="desc">
    <ng-container matColumnDef="user">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>User</th>
      <td mat-cell
          *matCellDef="let element">{{ getUser(element.userId)?.username }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>Created At</th>
      <td mat-cell
          *matCellDef="let element">{{ element.createdAt | date:"MMM d, y 'at' h:mm a" }}</td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"
                 showFirstLastButtons></mat-paginator>
</div>
