@import '../../../../assets/scss/theme.scss';

a {
  display: block;
  font-size: 0.9rem;
  margin-top: 12px;
  text-align: center;
  white-space: nowrap;
}

button.mat-button {
  display: block;
  margin: 0px auto;
}

h2 {
  color: white;
  font-size: 32px;
  margin: 0px 0px 32px;
  text-align: center;

  mat-icon.mat-icon {
    color: #ffff00;
    margin-right: 4px;
  }
}

div.center-of-screen {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 325px;
}

.row {
  margin: 32px 0px 0px;

  .col-sm-6 {
    padding: 0px;
  }
}
