<div class="center-of-screen">
  <div [hidden]="loadingMessage">
    <div *ngIf="action === Action.LogIn">
      <h2>
        <mat-icon>lock</mat-icon>
        Log In
      </h2>
      <app-login-form (logIn)="onLogIn($event)"></app-login-form>
    </div>

    <div *ngIf="action === Action.Register">
      <h2>
        <mat-icon>person_add</mat-icon>
        Create Account
      </h2>
      <app-registration-form (register)="onRegister($event)"></app-registration-form>
    </div>

    <div *ngIf="action === Action.RequestPasswordReset">
      <h2>
        <mat-icon>refresh</mat-icon>
        Reset Password
      </h2>
      <app-password-reset-request-form
        (passwordResetRequested)="onPasswordResetRequested($event)"
      ></app-password-reset-request-form>
    </div>

    <div *ngIf="action === Action.ResetPassword">
      <h2>
        <mat-icon>refresh</mat-icon>
        Reset Password
      </h2>
      <app-password-reset-form (passwordReset)="onPasswordReset($event)"></app-password-reset-form>
    </div>

    <div class="row">
      <div class="col-sm-6" *ngIf="action !== Action.LogIn" col-6>
        <button mat-button color="white" (click)="setAction(Action.LogIn)">
          <mat-icon>lock</mat-icon>
          Log In
        </button>
      </div>

      <div class="col-sm-6" *ngIf="action !== Action.Register" col-6>
        <button mat-button color="white" (click)="setAction(Action.Register)">
          <mat-icon>person_add</mat-icon>
          Create Account
        </button>
      </div>

      <div
        class="col-sm-6"
        *ngIf="action !== Action.RequestPasswordReset && action !== Action.ResetPassword"
        col-6
      >
        <button mat-button color="white" (click)="setAction(Action.RequestPasswordReset)">
          <mat-icon>refresh</mat-icon>
          Reset Password
        </button>
      </div>
    </div>
  </div>

  <app-loading-message [hidden]="!loadingMessage">Logging in...</app-loading-message>
</div>
