<div class="patch-status grid">
  <div class="status-text" style="grid-column: 1; grid-row: 1">
    {{ patchService.statusMessage }}
  </div>

  <div class="status-text text-right"
       style="grid-column: 2; grid-row: 1">
    {{ patchService.fileMessage }}
  </div>

  <div style="grid-column: 1/3; grid-row: 2; position: relative">
    <mat-progress-bar class="red thick"
                      [value]="patchService.totalProgress * 100"></mat-progress-bar>
    <div class="file-count">{{ patchService.fileCount }} / {{ patchService.totalFileCount }}</div>
  </div>
</div>
