apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: kafdrop
  labels:
    app: kafdrop
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: kafdrop
    spec:
      containers:
        - name: kafdrop
          image: obsidiandynamics/kafdrop:latest
          env:
            - name: KAFKA_BROKERCONNECT
              value: kafka-0.kafka-headless:9092
          ports:
            - containerPort: 9000
          resources:
            requests:
              cpu: 50m
---
apiVersion: v1
kind: Service
metadata:
  name: kafdrop
  labels:
    app: kafdrop
    service: kafdrop
spec:
  ports:
    - port: 9000
      name: http
  selector:
    app: kafdrop
