<form [formGroup]="form">
  <ng-container *ngIf="!message">
    <mat-form-field floatLabel="always">
      <mat-label>Email address</mat-label>
      <input matInput
             autofocus
             type="email"
             formControlName="email" />
      <mat-error>Enter a valid email address.</mat-error>
    </mat-form-field>

    <app-form-message *ngIf="error"
                      level="error"
                      text="center">{{ error }}</app-form-message>

    <app-button centered
                color="primary"
                layout="vertical"
                (OnClick)="submit()">
      <div>Submit</div>
    </app-button>
  </ng-container>

  <div *ngIf="message"
       class="form-message">
    {{ message }}
  </div>
</form>
