<form [formGroup]="form"
      id="form"
      (ngSubmit)="submit()">
  <ng-container *ngIf="!message">
    <mat-form-field floatLabel="always">
      <mat-label>Email address</mat-label>
      <input autofocus
             formControlName="email"
             matInput
             maxlength="256"
             type="email" />
      <mat-error>Enter a valid email address.</mat-error>
    </mat-form-field>

    <app-form-message *ngIf="error"
                      level="error"
                      text="center">{{ error }}</app-form-message>

    <app-button centered
                color="primary"
                form="form"
                layout="vertical">
      <div>Submit</div>
    </app-button>
  </ng-container>

  <div *ngIf="message"
       class="form-message">
    {{ message }}
  </div>
</form>
