<div class="page">
  <ten-title>{{ data && data._id ? 'Edit' : 'Create' }} Game Server</ten-title>

  <form *ngIf="form" [formGroup]="form" autocomplete="off">
    <div class="row">
      <mat-form-field floatLabel="always" width="300">
        <mat-label>Game</mat-label>
        <mat-select [formControl]="form.controls.gameId | asAny">
          <mat-option *ngFor="let game of games" [value]="game._id">
            {{ game.title }}
          </mat-option>
        </mat-select>
        <mat-error>Choose a game.</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field floatLabel="always" width="300">
        <mat-label>Release</mat-label>
        <mat-select
          [formControl]="form.controls.releaseId | asAny"
          placeholder="Most Recently Published"
        >
          <mat-option>
            Most Recently Published
          </mat-option>
          <mat-option *ngFor="let release of releases" [value]="release._id">
            {{ release.version }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error>Enter a valid name.</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field floatLabel="always">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
        <mat-error>Enter a valid description.</mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="error" class="form-error">
      {{ error }}
    </div>

    <ten-button color="primary" (click)="save()">Save</ten-button>
    <ten-button color="accent" routerLink="../">Cancel</ten-button>
  </form>
</div>
