:host {
  ::ng-deep {
    :first-child {
      margin-top: 0px;
    }

    a {
      color: #ffff55;
      outline: none;

      &:hover {
        color: #ffffaa;
      }
    }

    code {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.25);
      display: inline-block;
      padding: 8px;
    }

    h1,
    h2,
    h3,
    h4 {
      margin: 0px 0px 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    p {
      margin: 8px 0px;
    }

    pre,
    pre code {
      display: block;
      margin: 8px 0px;
    }

    ul {
      margin: 8px 0px;
    }
  }
}
