<mat-toolbar *ngIf="electronService.isElectron || identityService.user">
  <ng-container *ngIf="identityService.user">
    <app-button
      color="accent"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </app-button>

    <app-button color="accent" routerLink="/games" routerLinkActive="active">
      <mat-icon>sports_esports</mat-icon>
      <span>Games</span>
    </app-button>

    <app-button
      *ngIf="namespaces.length > 0"
      color="accent"
      routerLink="/management-portal"
      routerLinkActive="active"
    >
      <mat-icon>admin_panel_settings</mat-icon>
      <span>Management Portal</span>
    </app-button>
  </ng-container>

  <span class="space"></span>

  <ng-container *ngIf="electronService.isElectron">
    <app-button color="accent" (OnClick)="minimize()">
      <mat-icon>remove</mat-icon>
    </app-button>

    <app-button color="accent" (OnClick)="maximize()">
      <mat-icon>crop_square</mat-icon>
    </app-button>

    <app-button color="accent" (OnClick)="close()">
      <mat-icon>close</mat-icon>
    </app-button>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
