:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

::ng-deep {
  app-layout {
    ten-button {
      &.offline {
        div.name,
        div.status,
        mat-icon.mat-icon:first-of-type {
          color: #aaaaaa !important;
        }
      }

      &.online {
        div.status {
          color: #ffff55;
        }
      }

      div.label {
        display: inline-block;

        div.status {
          font-size: 12px;
        }
      }

      span.badge {
        background: #d74444;
        float: right;
        font-size: 12px;
        height: 20px;
        margin-left: 8px;
        margin-top: 8px;
        padding-right: 2px;
        text-align: center;
        width: 20px;
      }
    }
  }
}

div.content {
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
}

ten-header-toolbar::ng-deep {
  mat-toolbar {
    padding: 0px 16px;
  }
}
